<%= semantic_form_for [:admin, @date_range] do |f| %>
	<%= f.inputs %>

  <p><%= button_tag "Save", :class => 'positive' %></p>

	<p><%= link_to "Back to List", admin_date_ranges_path %></p>
<% end %>
