<div id="recently">
  <% unless @no_results  %>
    <% unless @questions_found.empty? %>
      <h2>Questions</h2>
      <div id="questions-list">
        <div class="questions-list-feed-trend">
          <ul>
            <%= render :partial => 'questions/btl_question', :collection => @questions_found %>
          </ul>
        </div>
      </div>
    <% end %>

    <% unless @answers_found.empty? %>
      <h2>Comments</h2>
    <% end %>
    <%= render :partial => 'questions/profile_answer', :collection => @answers_found %>
  <% end %>
  <%= will_paginate(@all_entries) %>
</div>



