<% title "Behind the Line" %>

<h2>Topics</h2>

<% for topic in @topics %>
<div>
    <h3><%= topic.title %></h3>
    <table>
        <% for chapter in @chapters_by_topic[topic][0..2] %>
        <tr>
           <td><%= link_to chapter.title, user_questions_path(:user_id => @user.id, :chapter_id => chapter.id) %></td>
           <td><%= chapter.completion_percentage(@user) %>% complete</td> 
        </tr>
        <% end %>
    </table>
    <%= link_to "View all \"#{topic.title}\" chapters &raquo;", chapters_user_questions_path(:user_id => @user.id, :topic_id => topic.id) %>
</div>
<% end %>