<% title "Behind the Line" %>

<h2>Topics</h2>

<% for topic in @topics %>
<div>
    <h3><%= topic.title %></h3>
    <table>
        <% for chapter in @chapters_by_topic[topic][0..2] %>
        <tr>
           <td><%= chapter.title %></td>
           <td style="background-color: yellow">N% complete</td> 
        </tr>
        <% end %>
    </table>
    <%= link_to "View all \"#{topic.title}\" chapters &raquo;", chapters_my_profile_questions_path(:topic_id => topic.id) %>
</div>
<% end %>