<% semantic_form_for [:admin, @page] do |f| %>
	<% f.inputs do %>
		<%= f.input :title,
                :input_html => {:class => 'title span-8'} %>
		<%= f.input :slug %>
		<%= f.input :content, :wrapper_html => {:class => 'span-12'} %>
	<% end %>

	<p>
		<%= button_tag (image_tag("tick.png")+"Save"), :class => 'positive' %>
	</p>
<% end %>
