<% title "Pages" %>

<p class="clearfix"><%= link_to "New Page", new_admin_page_path, :class => 'button positive' %></p>

<% table_for(@pages) do |t|%>
	<% t.data :actions => :edit, :action_prefix => 'admin' do
			t.cell :title
			t.cell :slug
			t.cell :view_live, :heading => "", :cell_html => {:class => 'actions'} do |p|
				link_to "Live", public_page_path(p)
			end
	end %>
<% end %>
