<% title "Feed Categories" %>
<p><%= link_to "Manage Feeds", admin_feeds_path %></p>

<p class="clearfix">
  <%= link_to "New Feed Category", new_admin_feed_category_path, :class => 'positive button' %>
</p>

<%= table_for @feed_categories do |t| %>
  <% t.data :actions => [:edit, :destroy], :action_prefix => 'admin' do
       t.cell(:name)
       t.cell(:feeds_count) {|f| f.feeds.size }
     end %>
<% end %>
