<% semantic_form_for [:admin, @question] do |f| %>
    <% f.inputs do %>
        <%= f.input :title %>
        <%= f.input :chapters, :collection => Chapter.all, :input_html => { :size => 10 } %>
        <%= hidden_field_tag "chapter_id", params[:chapter_id] %>
    <% end %>
    <p><%= button_tag "Save Question" %></p>
<% end %>
