<% semantic_form_for [:admin, @question] do |f| %>
    <% f.inputs do %>
        <%= f.input :title %>
        <%= f.input :chapter, :collection => Chapter.all %>
    <% end %>
    <p><%= button_tag "Save Question" %></p>
<% end %>
