<% semantic_form_for [:admin, topic] do |f| %>
    <% f.inputs do %>
        <%= f.input :title, :label => "Topic Title" %>
        <%= f.input :question_roles, :as => :check_boxes %>
    <% end %>
    <p><%= button_tag "Save Topic" %></p>
<% end %>
