<label for="profile_question_restaurant_roles">For which roles?<abbr title="required">*</abbr></label>
<% @roles.each do |category, roles| %>
  <label for="all_<%= category %>">
    <%= check_box_tag "#{category}", 1, false, :onchange => "selectCategoryGroup(this.id)", :style => "margin-left: 0" %>
    All <%= category %>
  </label>

  <%= f.input :restaurant_roles, :as => :check_boxes, :label => "&nbsp;", :collection => roles, :required => false, :wrapper_html => { :id => "profile_question_restaurant_roles_#{category.gsub(/ /, "_") rescue nil}_input" } %>
  <hr/>
<% end %>
