<% title "Profile Questions" %>

<% for chapter in @questions.keys %>

<h2><%= chapter.title_with_topic %>:</h2>

<% table_for @questions[chapter] do |t| %>
	<% t.data :actions => [:edit, :destroy], :action_prefix => 'admin' do
      t.cell(:handle, :heading => '', :cell_html => {:class => 'small handle'}) { "[drag]" }
		t.cell(:title)
  end %>
<% end %>

<% end %>

<div><%= link_to "Add new question", new_admin_profile_question_path, :class => "button" %></div>
<div class="clear">
    <%= link_to "Manage topics", admin_topics_path, :class => "button" %>
    <%= link_to "Manage chapters", admin_chapters_path, :class => "button" %>
</div>