<%= semantic_form_for([:admin, @cuisine]) do |f| %>
	<%= f.inputs %>
	<p class="clearfix">
		<%= button_tag 'Save', :class => 'positive' %>
	</p>
	<p><%= link_to 'Back to all', admin_cuisines_path %></p>
<% end %>