<% title "Cuisines" %>

<p class="clearfix"><%= link_to 'New cuisine', new_admin_cuisine_path, :class => 'button positive' %></p>

<table>
	<tr>
		<th>Name</th>
		<th></th>
	</tr>

	<% @cuisines.each do |cuisine| %>
	<tr class="<%= cycle('odd','even') %>">
		<td><%=h cuisine.name %></td>
		<td class="utility"><%= link_to 'Edit', edit_admin_cuisine_path(cuisine) %></td>
	</tr>
	<% end %>
</table>
