<nav id="restaurant_feature_nav">
	<%= active_link_to 'Settings', restaurant_newsletters_path(:restaurant_id => @restaurant) %>
	<%= active_link_to 'Subscribers', newsletter_subscriptions_restaurant_path(@restaurant) %>
	<%= active_link_to 'Reports', archives_restaurant_newsletters_path(:restaurant_id => @restaurant) %> 
	<%= active_link_to 'Create Newsletter', new_restaurant_newsletter_path(@restaurant) %> 
</nav>

