<% title "New Accolade" %>
<h1>New Accolade</h1>
<%- if @accoladable.is_a?(Profile) -%>
    <%= render 'profile_form' %>
<%- elsif @accoladable.is_a?(Restaurant) -%>
  <%= render 'restaurant_form' %>
<%- end -%>
