<% div_for message, :class => classes(message) do %>
  <%= render 'messages/message_details', :message => message %>

  <% unless message.respond_to?(:broadcast?) and message.broadcast? %>
    <div class="message-actions">
      <%= render 'messages/message_actions', :message => message %>
    </div>
  <% end %>
<% end %>
