<div class="message-responses">
    <%- discussions = user.grouped_admin_discussions[message] || []
       discussions_with_replies = discussions.select do |discussion|
         discussion.comments_count > 0
       end
       discussions_without_replies = discussions - discussions_with_replies -%>

    <%= render :partial => 'messages/soapbox_message_reply_link', :collection => discussions_with_replies, :as => :message %>
    <%= render :partial => 'messages/soapbox_message_reply_link', :collection => discussions_without_replies, :as => :message %>
</div>