<div id="messages_nav" class="span-3">
  <ul>
    <li><%= active_link_to 'From RIA', messages_path %></li>
    <li><%= active_link_to 'Private Messages', private_messages_path %></li>
    <li><%= active_link_to 'Staff Discussions', staff_discussions_messages_path %></li>
  </ul>
</div><!-- /messages_nav -->