<% div_for private_message, :class => "inbox_message clear clearfix" do %>
  <div class="message-details">
    <div class="message-header clearfix">
      <h4 class="message-title">
        Message from <%= private_message.sender.username %>
      </h4>
    </div>
    <div class="message-body">
      <%= private_message.body %>
    </div>
    <p class="message-date"><%= private_message.created_at.try(:strftime, "%B %d, %Y at %I:%M%p") %></p>
  </div>
<% end %>

