<% title "All Messages from RIA", false -%>

<%= render 'nav' %>
<div id="read_messages">
  <%= render :partial => 'message', :collection => @messages, :locals => { :archive => true } %>
</div><!-- /messages -->
