<% title "All Messages from RIA" -%>

<%= render 'nav' %>

<div id="messages" class="span-9 last">
  <%= render :partial => 'message', :collection =>  @messages, :locals => { :archive => true } %>
</div><!-- /messages -->
