<% title "All Messages from RIA" -%>

<%= render 'nav' %>
<div class="span-9 last">
  <div id="read_messages">
    <%= render :partial => 'message', :collection =>  @messages, :locals => { :archive => true } %>
  </div><!-- /messages -->
</div>
