<% title "Messages from RIA" -%>

<%= render 'nav' %>

<div class="span-9 last">
  <div id="read_messages">
    <% if @messages.present? %>

      <%= render :partial => 'message', :collection =>  @messages %>
      <p id="past_messages"><%= link_to "Past Messages", archive_messages_path %></p>

    <% else %>

      <p class="box">
        You don't have any messages! You can still
        <%= link_to "read past messages", archive_messages_path %>.
      </p>

    <% end %>
  </div><!-- /messages -->
</div>
