<% title "Messages from RIA" -%>

<%= render 'nav' %>

<div id="read_messages" class="span-9 last">
  <% if @messages.present? %>

    <%= render :partial => 'message', :collection =>  @messages %>
    <p id="past_messages"><%= link_to "Past Messages", archive_messages_path %></p>

  <% else %>

    <p>
      You don't have any messages! You can still
      <%= link_to "read past messages", archive_messages_path %>.
    </p>

  <% end %>
</div><!-- /messages -->
