<% title "Media Requests", false -%>

<%= render 'nav' %>

<div>
    <%= render :partial => 'new_or_old_nav' %>

    <div id="read_messages">
        <% unless @messages.empty? %>
          <%= render @messages %>
        <% else %>
        <div id="no-messages" class="clear">
            <p>You don't have any new media requests to read.</p>
        </div>
        <% end %>
    </div>
	<p><%= will_paginate @messages %></p>
</div>