<% title "Private Messages", false -%>

<%= render 'nav' %>
<div>
  <%= render :partial => 'new_or_old_nav' %>

  <div id="read_messages">
    <%= render @messages %>
		<% if @messages.blank? %>
	  <div id="no-messages" class="clear">
	      <p>You don't have any new messages at the moment.</p>
	  </div>
	  <% end %>
  </div>

</div>
