<% title "Private Messages", false -%>

<%= render 'nav' %>
<div class="span-9 last">
  <%= render :partial => 'new_or_old_nav' %>

  <div id="read_messages">
    <%= render @messages %>
  </div>
  
  <% if @messages.blank? %>
  <div id="no-messages">
      <p>You don't have any new messages at the moment.</p>
  </div>
  <% end %>

</div>
