<% title "Private Messages", false -%>

<%= render 'nav' %>
<div class="span-9 last">
  <%= render :partial => 'new_or_old_nav' %>

  <div id="read_messages">
    <%= render @messages %>
  </div>
</div>
