<% title "Messages from RIA", false -%>

<%= render 'nav' %>

<div class="span-9 last">
  <%= render :partial => 'new_or_old_nav' %>

  <div id="read_messages">

      <%= render :partial => 'message', :collection =>  @messages %>

    <% unless archived_view? %>
      <p id="past_messages"><%= link_to "Past Messages", ria_messages_path(:view_all => true) %></p>
    <% end %>
  </div><!-- /messages -->
</div>
