<% title "Staff Discussions" -%>

<%= render 'nav' %>
<div class="span-9 last">
  <div id="read_messages">
    <%= render :partial => 'discussions/discussion', :collection =>  @messages %>
  </div><!-- /messages -->
</div>