<div id="add-role">
<% semantic_form_for @user ,:url=>create_employment_complete_registration_path ,:html=>{:id=>"create_employment_form",:method=>:post } do |f| %>    

          <% f.semantic_fields_for(@user.default_employment || @user.build_default_employment) do |employment_form| %>
            <%= render :partial => "default_employments/form.html.erb", :locals => { :f => employment_form } %>
          <% end %>
        <p class="save_end"><%= button_tag "Save Login Information", :class => 'positive' %></p>

<% end %>
</div>