<div id="behind" class="left profileBox">
    <h3>Behind the line<span class="brownArrow"></span></h3>

    <% for answer in user.profile_answers.without_travel.recently_answered.all(:limit => 5) %>
    <h4><%= answer.question %></h4>
    <p>
		<%= truncate(answer.answer, :length => 130) %>
		<% if answer.answer.length > 130 -%>
		<%= link_to "more &raquo;".html_safe, user_btl_chapter_path(user, :id => answer.chapter_id, :anchor => "profile_question_#{answer.profile_question.id}") %>
		<% end -%>
	</p>
    <% end %>

    <%= link_to "See more of #{user.first_name}'s Behind the Line", user_behind_the_line_path(user), :class => "brownLink" %>
</div>
