<nav id="restaurant_feature_nav">
  <% @pages.each do |page| %>
    <% tab_class = (page == @page) ? "current" : "" -%>
    <%= link_to h(page.name), bulk_edit_restaurant_feature_path(@restaurant, page), :class => tab_class %>
  <% end %>
</nav>