<% title @restaurant.name, false -%>
<div id="restaurant_profile_view" class="edit clear clearfix">

    <%= render 'restaurants/restaurant_editing_header' %>
    <div id="editing_restaurant">
        <div id="restaurant_pages" class="clearfix">
            <%= render 'restaurant_features/navigation' %>

            <div id="restaurant_features_content">
                <%= render 'restaurant_features/features' %>
            </div>
            
            <%= render :partial => 'restaurants/behind_the_line', :locals => { :restaurant => @restaurant, :page => @page } if @page.topics.present? %>
        </div>
    </div> 
</div><!-- #restaurant_profile_view -->
