<% title "Reply to #{@original_message.sender.username}'s message" %>

<p><%= @original_message.sender.username %> wrote to you:</p>

<blockquote>
	<p><%= simple_format @original_message.body %></p>
</blockquote>

<% unless @original_message.attachments.blank? %>
  <h3 class="attachments-header">Attached files:</h3>
  <%= render @original_message.attachments %>
<% end %>

<h3>Your Response:</h3>
<%= render :partial => 'form' %>
