<% title "My Feeds" %>

<p class="clearfix">
	<%= link_to "Choose feeds", edit_feeds_path, :class => 'button' %>
</p>

<% unless current_user.has_feeds? -%>

	<p class="notice">Hey! You should really get some feeds going! You can custom-choose your feeds <%= link_to "here", edit_feeds_path %></p>

<%- end -%>

<%= render @feeds %>
