<div class="user_answer">
    <%= render :partial => "users/identity", :locals => { :user => answer.user } if answer.user %>
    <div>
        <%= truncate(answer.answer, :length => 200) %>
        <% if answer.answer.size > 200 -%>
        <%= link_to "more &raquo;", profile_question_path(answer.profile_question) %>
        <% end -%>
    </div>
</div>
