.DS_Store
log/*.log
tmp/**/*
tmp/restart.txt
config/database.yml
db/*.sqlite3
db/*.sqlite3-journal
public/upload/*
coverage/*
features_rcov/
public/system/a*/
public/system/images/
mkmf.log
rerun.txt
.rake_tasks~
.cap_tasks~
tmp/webrat-*
.idea/
.rvmrc
default.gems

public/soapbox/*
public/soapbox/_css/*
public/redesign/_css/*
public/redesign/brandonbold/*