.DS_Store
log/*.log
tmp/**/*
tmp/restart.txt
config/database.yml
db/*.sqlite3
db/*.sqlite3-journal
public/upload/*
coverage/*
features_rcov/
public/system/a*/
public/system/images/
public/system/photos/
mkmf.log
rerun.txt
.rake_tasks~
.cap_tasks~
tmp/webrat-*
.idea/
.rvmrc
.project
default.gems
*.swp
*.swo
TAGS
config/setup_load_paths.rb

public/soapbox/_css/*
public/mediafeed/_css/*
public/hq/_css/*
public/redesign/_css/*
public/spoonfeed/_css/*
public/hq/_css/*
public/redesign/brandonbold/*
routes.txt
