.DS_Store
log/*.log
tmp/**/*
tmp/restart.txt
config/database.yml
db/*.sqlite3
db/*.sqlite3-journal
public/upload/*
coverage/*
features_rcov/
public/system/avatars/
public/system/attachments/
mkmf.log
rerun.txt
.rake_tasks~
.cap_tasks~
