<% title "New Employee" %>

<% form_for @employment, :url => restaurant_employees_path(@restaurant) do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :employee_name %>
		<%= f.text_field :employee_name, :class => 'text' %>
	</p>

	<p><%= button_tag "Submit" %></p>

<% end %>

