<% title "A La Minute Questions" %>
<div id="restaurant_profile_view" class="edit clear clearfix">

  <%= render 'restaurants/restaurant_editing_header' %>
  <div id="editing_restaurant">
    <div id="a_la_minute_questions">
      <h1>A la minute</h1>
      <h2><%= @question.question %>?</h2>

      <%= render :partial => 'form' %>

    </div>
  </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->
