<% title "Start a Discussion" %>

<% semantic_form_for(@discussion) do |f| %>
  <% f.inputs do %>
    <%= f.input :title %>
    <%= f.input :body, :input_html => { :rows => '4' } %>

    <li><h4>Who will be in this discussion?</h4></li>

    <% for restaurant in current_user.restaurants %>
        <%= f.input :users,
                    :as => :check_boxes,
                    :collection => restaurant.employees,
                    :label => restaurant.name
        %>
    <%- end -%>

  <% end -%>

  <p><%= button_tag "Post Discussion" %></p>
<% end %>


