<h2>A new invitation has been requested for:</h2>
<p>Name: <%= @invitation.name %></p>
<p>Email: <%= @invitation.email %></p>

Review and approve invitation requests:
<p><a href="<%= admin_invitations_url %>"><%= admin_invitations_url %></a></p>