<h2><%= @user.name_or_username %>,</h2>

<p><%= @discussion.poster.try(:name) %> has invited you to a discussion on the subject "<%= @discussion.title %>." <%= link_to "Check it out", discussion_url(@discussion) %>.</p>
