<p>Thanks for your interest in Spoonfeed!</p>

<p>We've been thrilled with the fantastic response to Spoonfeed and the many stories chefs, mixologists and sommeliers have shared with us about their marketing and public relations.  With your help, we'll be able to build a network of chef-driven restaurants that revolutionizes how media and diners found out about food, dining and the culinary world!</p>

<p>We know you are probably very eager to find out more about Spoonfeed and its sister website Soapbox, The Digital Magazine, Written by Chefs.  And believe me, we are eager to tell you all about it — we will in coming weeks. </p>

<p>In the meantime, if you'd like to follow our story as we progress, you can:</p>
<ol>
    <li>Subscribe to <a href="http://unplugged.restaurantintelligenceagency.com/">our blog</a></li>
    <li>Follow <a href="http://twitter.com/teamria">@TeamRIA on Twitter</li>
    <li>Read posts <a href="http://soapbox.restaurantintelligenceagency.com">on Soapbox</a></li>
</ol>

<p>If you'd like to talk directly, just send an email to spoonfeed@restaurantintelligenceagency.com. We'd love to hear from you!</p>

<p>Thanks, Ellen</p>
