<p>Thanks for your interest in Spoonfeed!</p>

<p>We'll be getting to your invitation as soon as we can fit you in! In the meantime, if you'd like to follow our story as we progress, you can:</p>
<ol>
    <li>Subscribe to <a href="http://unplugged.restaurantintelligenceagency.com/">our blog</a></li>
    <li>Read posts <a href="http://soapbox.restaurantintelligenceagency.com/soapbox/front_burner">on Front Burner</a></li>
</ol>

<p>If you'd like to talk directly, just send me an email to ellen@restaurantintelligenceagency.com or call me at (312) 307-4457. We'd love to hear from you!</p>

<p>Thanks, Ellen</p>
