<p>Thanks for your interest in Spoonfeed!  We'll be sending you an invitation straight away so you, too, can connect with the media for free and join our growing list of chefs who use Spoonfeed to promote themselves online.</p>
<p>If you'd like to talk directly, just send me an email to ellen@restaurantintelligenceagency.com or call me at (312) 307-4457. We'd love to hear from you!</p>
<p>Thanks,<br />Ellen</p>

<div class="quote" style="margin: 10px 0pt; padding: 8px 12px; border: 1px solid rgb(221, 221, 221);">
  <h4 style="margin: 0pt; font-weight: 300;">
Ultimately, I believe in the concept of Spoonfeed because I believe in myself, my cooking, my restaurant, and my message. I believe I am best off speaking for myself to the media without a filter. I also believe that my cooking and my restaurant are compelling and will be written about if given a forum. If you believe in your cooking and your own story, why wouldn&#39;t you get on board? This is your chance to speak up and be heard!
	<br /><br />
  <span style="font-size: 12px; color: rgb(119, 119, 119);">Paul Fehribach &mdash; Executive Chef/Owner, Big Jones, Chicago, IL</span></h4>
</div>

