<p>Thank you for your interest in Spoonfeed! As an exclusive network, we are inviting new members on in stages. Please be on the look out for your invitation.</p>

<p>If you'd like to talk directly, just send me an email to ellen@restaurantintelligenceagency.com or call me at (312) 307-4457. We'd love to hear from you!</p>

<p>Thanks,<br />Ellen</p>
