<h2><%= @request.publication_string %> has a question for you.</h2>

<p>Please login to SpoonFeed to view this request.</p>

<p><a href="<%= media_request_conversation_url @request_conversation %>"><%= media_request_conversation_url @request_conversation %></a></p>
