<p>Thank you for your interest in joining Spoonfeed&mdash;a private social network of the chef-driven industry.   Please use the login link below to get started! You will be prompted to select a password. Keep it safe as only you should be updating information on your account.</p>

<p>Your log in link: <%= invitation_url(@user.perishable_token, :user_id => @user.id) %></p>

<p>Once you are set up you can get started right away on Spoonfeed by creating a profile, which is a combination of essential facts for media and a few sections designed to develop your personal brand.</p>

<p>A great strategy is to answer the Trend and QOTD questions on Front Burner each day&mdash;the media and diners check out those answers first. Then answer a few questions in Behind the Line each day. If you do a little bit each day, you'll have a great looking profile in no time!  We’ll walk you through more of the system as we go, but if you get started there, you’ll kick off your membership with Spoonfeed on the right foot!  If you’d like to talk directly, just send an email to <a href="mailto:spoonfeed@restaurantintelligenceagency.com">spoonfeed@restaurantintelligenceagency.com</a>. We’d love to hear from you!</p>

<p>-Team RIA</p>

