<div class="quote" style="margin: 10px 0pt; padding: 8px 12px; border: 1px solid rgb(221, 221, 221);">
    <h4 style="margin: 0pt; font-weight: 300;">
        Spoonfeed understands food media. And that's indispensable for journalists.
        <br /><br />
        <span style="font-size: 12px; color: rgb(119, 119, 119);">Kevin Pang &mdash; Food Writer, James Beard Nominee</span>
    </h4>
</div>

<p>
    Activate your membership:<br/>
    <%= invitation_url(@user.perishable_token, :user_id => @user.id).html_safe %>
</p>

<p>You'll be prompted to fill out some essentials for your account. Then just upload a picture and get started! We'll walk you through the rest.</p>

<p>Welcome Aboard!<br/>TeamRIA</p>
