<p>Welcome to the Soapbox daily email! Please click the link below to confirm your subscription:</p>

<p><%= link_to "Confirm your email address", confirm_soapbox_newsletter_subscriber_url(@subscriber) %></p>

<p>--Restaurant Intelligence Agency</p>