<%= render :partial => 'email_header' %>
<p>Hello,<%= @restaurant.try(:media_contact).try(:name) %>!<br/>
Journalists are research your restaurant profile and requested updating. Update your profile today and we'll let them know!</p>
<%= render :partial => 'email_footer' %>