<%= render :partial => 'email_header' %>

<h3>Hello <%= @name %>:</h3>

<p>We were unable to process your payment on Spoonfeed due to the following reason:</p>

<p><%=@message.to_s%></p>

<%= render :partial => 'email_footer' %>


