<p><%= @referring_user.name %> thinks you should check out (and join) Spoonfeed&mdash;a free private social network of the chef-driven industry.</p>

<p>Spoonfeed is the easy-to-use system chefs, mixologists and sommeliers use to manage their online presence. With Spoonfeed, you can connect with your peers&mdash;and build a profile for yourself and your restaurant that can connect with diners and media.</p>

<p>"Spoonfeed understands that food media is no longer one person shouting from a mountaintop, but conversations on the same level. No longer are chefs anonymous cooks in toques, but someone we can now engage in dialogue easily. And that's indispensable for journalists. No hyperbole. I spent 20 mins reading up on a chef and my interview questions to him were 10 times better because of it."
<em>Kevin Pang, Food Writer, Chicago Tribune
And James Beard Nominee for writing about chefs</em>
</p>

<p>To join the network, <a href="<%= new_invitation_url %>">request an invitation</a>.</p>

<p>-Team RIA</p>
