<p><%= @referring_user.name %> thinks you should check out (and join) Spoonfeed&mdash;a free private social network of the chef-driven industry.</p>

<p>Spoonfeed is the easy-to-use system chefs, mixologists and sommeliers use to manage their online presence. With Spoonfeed, you can connect with your peers&mdash;and build a profile for yourself and your restaurant that can connect with diners and media.</p>

<p>To join the network, click <a href="<%= new_invitation_url %>">here</a> to request an invitation.</p>

<p>-Team RIA</p>
