
<div class="comments">
<h2>Comment <span>(note: most recent listed first)</span></h2>

<% if !@comments.blank? %>

<%= render @comments %>

<%- else %>
<p>No replies yet</p>
<% end -%>

<h2>Leave a Comment</h2>

<%= render :partial => 'comments/form' %>

</div>