
<div class="comments">
<h2>Comment <span>(note: most recent listed first)</span></h2>

<% if !@comments.blank? %>

<%= render @comments %>

<%- else %>
<p>No comments yet</p>
<% end -%>
<% if !@restaurant.blank? %>
	<%unless (["Chef/Partner","Executive Chef","Executive Chef/Owner","Director of Operations","Owner","Operations Director","Partner","Pastry Chef/Owner","Wine Director/Owner"] &  @restaurant.employments.map(&:restaurant_role).compact.map(&:name)).blank? %>
	<h2>Leave a Comment</h2>
	<%= render :partial => 'comments/form' %>
  <% end %>
<% else %> 
 	<h2>Leave a Comment</h2>
	<%= render :partial => 'comments/form' %>
<% end %>

</div>