
<div class="comments">
<h2>Comments <span>(note: The most recent are listed first)</span></h2>

<% if !@comments.blank? %>

<%= render @comments %>

<%- else %>
<p>No comments yet</p>
<% end -%>

<h2>Leave a Comment</h2>

<%= render :partial => 'comments/form' %>

</div>