<% form_for [@user, (@status ||= Status.new)] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :message, "Status" %><br />
    <%= f.text_field :message, :size => '100', :class => 'title' %>
    <%= content_tag :button, "Post", :type => 'submit', :class => 'positive' %>
  </p>
<% end %>
