<h1>Status Update</h1>

<div id="status_update">

  <% unless (@coached_message ||= CoachedStatusUpdate.current.random.first).blank? %>
  <div id="coached">
    <p><span>Ideas:</span> <%= @coached_message.message %></p>
  </div>
  <% end %>

  <div class="section_body">
    <%= render :partial => 'statuses/form' %>
  </div>
</div><!--#status_update-->