<% if owner? %>
  <span class="utility"><%= link_to image_tag('trash.gif'), status, :class => 'trash' %></span>
<% end %>
<span class="message"><%= auto_link status.message %></span>

<span class="posted">
  <%= time_ago_in_words status.created_at %> ago
  <%- if status.twitter_id -%>
    and on Twitter
  <% end -%>
</span>