// Remove the status in question
$("#status_<%= @status.id %>").fadeOut('slow');
$("#sidebar_statuses").html('<%= escape_javascript(render :partial => "statuses/user_bar_status", :collection => current_user.statuses[0..1]) %>')

// Update the Flash message
$("#flashes").html('<div id="flash_notice" style="opacity:0"><%= escape_javascript(flash.delete(:notice)) %></div>');

$("#flash_notice").animate({opacity:1}, 'fast');

// Hide the Flash after 2 seconds
setTimeout(function(){
	$('#flash_notice:visible').not(":animated").fadeOut('slow');
}, 2000);