<% title "Statuses for #{@user.first.name_or_username}" %>

<% if @editable %>
<div id="status_update" class="box clearfix">
	<h3 class="function-bold">Update Your Status</h3>
	<%= render 'form' %>
</div>
<% end %>

	<h3>Previous Status Messages</h3>
	<ol id="statuses" class="statuses">
<% unless @statuses.blank? %>
		<% for status in @statuses %>
			<li class="status" id="status_<%= status.id %>"><%= render status %></li>
		<% end %>
<% end %>
	</ol>

<%= will_paginate @statuses %>
