<% title "Statuses for #{@user.username}" %>

<% if @editable %>
  <%= render 'form' %>  
<% end %>

  <h3>Previous Statuses</h3>
  <ol id="statuses">
<% unless @statuses.blank? %>
    <% for status in @statuses %>
      <li id="status_<%= status.id %>"><%= render :partial => 'status', :locals => { :status => status } %></li>
    <% end %>  
<% end %>
  </ol>
