<% title "Statuses for #{@user.username}" %>

<% if @editable %>
<div id="status_update" class="box clearfix">
	<h3 class="function-bold">Update Your Status</h3>
	<%= render 'form' %>
</div>
<% end %>

	<h3>Previous Status Messages</h3>
	<ol id="statuses" class="statuses">
<% unless @statuses.blank? %>
		<% for status in @statuses %>
			<li class="status" id="status_<%= status.id %>"><%= render :partial => 'status', :locals => { :status => status } %></li>
		<% end %>
<% end %>
	</ol>
