<% title "Statuses for #{@user.username}" %>

<% if @editable %>
  <% unless @coached_message.blank? %>
  <% content_for :sidebar do %>
    <div id="coached">
      <h3>Status Suggestions</h3>
      <%= simple_format @coached_message.message %>
    </div>
    <% end -%>
  <% end %>
  <%= render 'form' %>  
<% end %>

  <h3>Previous Status Messages</h3>
  <ol id="statuses" class="statuses">
<% unless @statuses.blank? %>
    <% for status in @statuses %>
      <li class="status" id="status_<%= status.id %>"><%= render :partial => 'status', :locals => { :status => status } %></li>
    <% end %>  
<% end %>
  </ol>
