body {background: url(/images/hq/bg.png); font-family: Georgia, serif;}
.container {width: 1000px; margin: 0 auto; position: relative;}
header {position: relative; background: url('/images/hq/top-bg.png'); height: 172px;}
h1, h2, h3, h4, h5, h6, p {margin: 0;}

#logo {position: absolute; top: -23px; left: 0; z-index: 3;}
.mainGraphic {background: url('/images/hq/main-graphic.jpg') no-repeat center center; height: 350px;}

#topNav {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  background: rgb(88,89,91); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4NTk1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iIzU4NTk1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTI5MmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(88,89,91,1) 0%, rgba(88,89,91,1) 54%, rgba(41,41,43,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,89,91,1)), color-stop(54%,rgba(88,89,91,1)), color-stop(100%,rgba(41,41,43,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(88,89,91,1) 54%,rgba(41,41,43,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(88,89,91,1) 54%,rgba(41,41,43,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(88,89,91,1) 54%,rgba(41,41,43,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(88,89,91,1) 54%,rgba(41,41,43,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595b', endColorstr='#29292b',GradientType=0 ); /* IE6-8 */
}
#topNav ul {float: left; margin-left: 245px;}
#topNav ul li {display: inline; padding: 10px 0; margin-right: 35px;}
#topNav ul li a {color: #FFF; text-shadow: 0 1px rgba(0,0,0,.7); text-transform: uppercase;}

.overhead {background: url('/images/hq/overhead.png') top left no-repeat; position: absolute; width: 824px; z-index: 2; height: 10px;}

#mainNav {position:relative; margin: 30px 0 0 0; width: 810px; height: 100px;}
#mainNav h2 {background: url('/images/hq/connect-text.png') 100px top no-repeat; height: 14px; margin: 20px 0 10px 0;}
#mainNav li {float: left;}
#mainNav li a {z-index: 1;}
/*#mainNav li:hover {height: 130px !important;}
#mainNav li a:hover {top: -55px !important;}*/
#mainNav li.chefs {width: 156px; height: 100px; position: relative; overflow: hidden;}
#mainNav li.chefs a {background: url('/images/hq/chefs-tab.png') bottom center no-repeat; height: 200px; width: 156px; position: absolute; display: block; top: -88px;}

#mainNav li.publicists {width: 219px; height: 100px; position: relative; overflow: hidden;}
#mainNav li.publicists a {background: url('/images/hq/publicist-tab.png') bottom center no-repeat; height: 200px; width: 219px; position: absolute; display: block; top: -88px;}

#mainNav li.journalists {width: 252px; height: 100px; position: relative; overflow: hidden;}
#mainNav li.journalists a {background: url('/images/hq/journalist-tab.png') bottom center no-repeat; height: 200px; width: 252px; position: absolute; display: block; top: -88px;}

#mainNav li.diners {width: 178px; height: 100px; position: relative; overflow: hidden;}
#mainNav li.diners a {background: url('/images/hq/diners-tab.png') bottom center no-repeat; height: 200px; width: 178px; position: absolute; display: block; top: -88px;}


/*#mainTabs
{display: block;width: 802px;height: 100px;background: url(/images/hq/tabs.png) left bottom no-repeat; margin-left: 10px;}
#mainTabs
 li{display: block;float: left; height: 110px;}
#mainTabs
 li a{display: block;height:95px;text-indent:-9999px; transition: all .2s ease-in-out;}
#mainTabs
 li a.on{background-image: url(/images/hq/tabs.png);}
#mainTabs
 li.chefs a{
width:156px;background-position:-0px -95px;}
#mainTabs
 li.publicists a{
width:217px;background-position:-156px -125px;}
#mainTabs
 li.journalists a{
width:252px;background-position:-373px -140px;}
#mainTabs
 li.diners a{
width:177px;background-position:-625px -160px;}*/

.articleBox {width: 890px; margin: 0 auto;}
article {padding-bottom: 60px; margin-top: 60px;}
article h2 {margin: 0;}
#top {background: url('/images/hq/ria.png') center center no-repeat; height: 222px;}
#top h2 {color: #58595B; font-style: italic; font-weight: normal; font-size: 22px; text-align: center; margin-top: 127px;}
article h2 {margin-bottom: 15px;}
article#ourSites {margin-top: -30px !important;}
.gradient {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.04) 82%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(82%,rgba(255,255,255,0.04)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 82%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 82%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 82%,rgba(0,0,0,0.05) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 82%,rgba(0,0,0,0.05) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#0d000000',GradientType=0 ); /* IE6-8 */
}


.innerContainer {width: 760px; margin: 0 auto;}
article#ourSites h2 {background: url('/images/hq/our-sites.png'); top center no-repeat; height: 77px;}
article#usage h2 {background: url('/images/hq/who-uses-ria.png'); top center no-repeat; height: 77px;}
article#join h2 {background: url('/images/hq/join-today.png'); top center no-repeat; height: 77px;}
article#testimonials h2 {background: url('/images/hq/saying.png'); top center no-repeat; height: 77px;}
article#social h2 {background: url('/images/hq/get-social.png'); top center no-repeat; height: 77px;}

.contentBox {background: #6fb43f; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; padding: 20px;}

#logoNav{display: block;width: 569px;height: 106.5px;background: url(/images/hq/logonav.png) left top no-repeat; margin: 0 auto 35px auto;}
#logoNav li{display: block;float: left;}
#logoNav li a{display: block;height:106.5px;text-indent:-9999px;}
#logoNav li a:hover,
#logoNav li a.on{background-image: url(/images/hq/logonav.png);}
#logoNav li.spoonfeed a{
width:307px;background-position:-1px -107px;}
#logoNav li.soapbox a{
width:262px;background-position:-307px -107px;}

#infoNav{display: block;width: 713px;height: 46px;background: url(/images/hq/infonav.png) left top no-repeat; margin: 0 auto 35px auto;}
#infoNav li{display: block;float: left;}
#infoNav li a{display: block;height:46px;text-indent:-9999px;}
#infoNav li a:hover,
#infoNav li a.on{background-image: url(/images/hq/infonav.png);}
#infoNav li.chefs a{
width:144px;background-position:-0px -46px;}
#infoNav li.publicists a{
width:177px;background-position:-144px -46px;}
#infoNav li.journalists a{
width:215px;background-position:-321px -46px;}
#infoNav li.diners a{
width:177px;background-position:-536px -46px;}

.message {background: #000; background: rgba(0,0,0,0.9); color: #FFF; font-size: 32px; text-align: center; height: 350px; display: none;}
.tab {width: 655px; padding: 20px 30px; color: #FFF; font-size: 21px; margin: 0 auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; line-height: 1.6em; position: relative;}
#first.tab, #second.tab, #third.tab {background: #6EB43F;}
#fourth.tab {background: #d9531e;}
#fifth.tab {background: #b19f01;}
#sixth.tab {background: #521000;}

#first .green-t {background: url('/images/hq/green-t.png') top left no-repeat; position: absolute; top: -14px; left: 200px; display: block; width: 31px; height: 14px;}
#second .green-t {background: url('/images/hq/green-t.png') top left no-repeat; position: absolute; top: -14px; left: 512px; display: block; width: 31px; height: 14px;}
#third .green-t {background: url('/images/hq/green-t.png') top left no-repeat; position: absolute; top: -14px; left: 55px; display: block; width: 31px; height: 14px;}
#fourth .orange-t {background: url('/images/hq/orange-t.png') top left no-repeat; position: absolute; top: -14px; left: 220px; display: block; width: 31px; height: 14px;}
#fifth .yellow-t {background: url('/images/hq/yellow-t.png') top left no-repeat; position: absolute; top: -14px; left: 415px; display: block; width: 31px; height: 14px;}
#sixth .brown-t {background: url('/images/hq/brown-t.png') top left no-repeat; position: absolute; top: -14px; left: 619px; display: block; width: 31px; height: 14px;}



.testimonial {
  border-bottom: 1px dashed #000;
  padding-bottom: 25px;
  margin: 0 auto 20px auto;
  width: 790px;
}

.testimonial img {
  -webkit-box-shadow: 3px -5px 5px rgba(120, 120, 120, 0.75);
  -moz-box-shadow:    3px -5px 5px rgba(120, 120, 120, 0.75);
  box-shadow:         3px -5px 5px rgba(120, 120, 120, 0.75);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.testimonial:nth-child(odd) img {
  margin: 20px 20px 20px 30px;
  float: right;
}

.testimonial:nth-child(even) img {
  margin: 20px 30px 20px 20px;
  float: left;
}

.testimonial blockquote {
  font-style: italic;
  font-size: 28px;
  margin: 20px 0 25px 0;
}
.testimonial p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #E17750
}
.testimonial:last-child {
  border: none;
  margin-bottom: none;
}
.testimonial div {
  width: 600px;
  float: left;
}

.tab a {float: right; display: inline-block; margin-top: 10px; color: #FFF; font-family: sans-serif; font-size: 15px; text-shadow: 0 1px 0 rgba(0,0,0,0.7); text-transform: uppercase; font-weight: bold;}

.message h2 {font-size: 42px; color: #FFF; text-align: center; font-style: italic; position: absolute; display: none; top: 100px; width: 100%;}

form {width: 660px; margin: 0 auto;}
form input[type="text"], form input[type="email"], select {width: 310px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border: 1px solid #BFBFBF; background: #FFF; margin-bottom: 15px; padding: 5px; font-size: 14px; display: block;}
select {width: 322px !important; color: #999;}
select:active {color: #000;}
.select {background: url('/images/hq/dropdown.png') no-repeat center right;}
form div p {font-size: 12px; color: #626264; font-family: sans-serif;}
form div p a {color: #521000 !important;}
form #submit {width: 180px; background: #521000; color: #FFF; text-shadow: 0 1px 0 rgba(0,0,0,0.8); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-transform: uppercase; font-size: 15px; padding: 7px; border: 1px solid #cfc0bb; font-weight: bold;}

.twitter {width: 385px; float: left; padding-right: 30px; border-right: 1px dashed #ababad;margin-right: 30px;}
.socialContainer h3 {text-align: right; font-size: 23px; font-weight: normal; font-style: italic; margin-bottom: 10px;}
.twitter h3 a {color: #b5a410; margin-right: 5px;}
.twitterBox {height: 348px; width: 295px; border: 1px solid #AAA; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; float: right; position: relative; padding: 20px 15px;}
.arrow {width: 15px; height: 29px; position: absolute; top:20px; left: -15px; background: url('/images/hq/twitter-arrow.png') top left no-repeat;}
.twitter img {margin-top: 25px;}
.socialContainer {width: 800px; margin-left: 35px;}
.facebook h3 {text-align: center !important;}

footer {
  padding: 20px 0;
  background: rgb(86,86,88); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTY1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(86,86,88,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,86,88,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(86,86,88,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(86,86,88,1) 0%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(86,86,88,1) 0%,rgba(51,51,51,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(86,86,88,1) 0%,rgba(51,51,51,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565658', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
}

.footerContainer {
  width: 720px;
  margin: 0 auto 20px auto;
}

.footerBox {
  float: left;
  width: 209px;
  border-right: 1px dashed #FFF;
  padding-left: 30px;
  text-transform: uppercase;
}

.footerBox:last-child {
  border-right: 0 !important;
}

.footerBox h4 {
  color: #FFF;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footerBox ul li {
  margin-bottom: 5px;
}

.footerBox ul li a {
  color: #9c9d9f;
  margin-bottom: 5px;
  font-weight: bold;
}

.footerBox ul li a:hover {
  color: #FFF;
}

.copyright {
  text-align: center;
  color: #9c9d9f;
}


#topNav ul li:first-child {font-family: sans-serif; font-weight: bold;}

.tweet span a {color: #b19f01;}
.tweet span.tweet_time {display: block; margin-bottom: 15px; font-size: 12px; color: #828284 !important;}
.tweet {color: #828284; font-size: 16px;}
.tweet li {margin-bottom: 20px;}

/*Modal*/
#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/images/hq/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}

/* HQ pages */
#main_content {
  width: 1000px;
  margin: 50px auto;
  position: relative;
}

* html #main_content {
  overflow-x: hidden;
}

#main_content a.edit_button {
  position: absolute;
  right: 0;
  padding: 5px 10px 4px 10px;
  font-size: 11px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: -22px 0 0 15px;
  background: #d9531e;
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #fff;
}

#main_content a.edit_button:hover {
  background: #6cb33f;
  color: #fff;
  text-shadow: 0 1px 0 #333;
}

h1.pg_title {
  width: 1000px;
  margin: auto;
  padding-left: 370px;
  padding-top: 75px;
  font-family: 'Voltaire', sans-serif;
  color: white;
  text-shadow: 0 2px 0 #000;
}

#main_content p {
  margin: 10px 0;
}
