<% javascript 'ckeditor/ckeditor' %>
<% title "Edit MediaFeed Page" %>

<%= render :partial => 'admin/pages/form' %>

<p>
	<%= link_to "Show", [:admin, @page] %> |
	<%= link_to "View All", admin_mediafeed_pages_path %>
</p>
