<% title "Edit Your Media account" %>

<div id="content">
  <div id="editing_restaurant">
    <h1><%= yield :title %></h1>
	  <%= render :partial => 'form' %>
	</div>
</div><!--#content-->

<%= render 'mediafeed/shared/mediafeed_sidebar' %>
