<% title "Sign up for a Media account" %>

<div id="editing_restaurant">
    <h5>Once you've signed up, you can make requests to our large database of clients</h5>
    <%= render :partial => 'mediafeed/media_users/form' %>
</div>