<% title "Sign up for a Media account" %>

<div id="content">
  <div id="editing_restaurant">
    <p>Once you've signed up, you can make requests to our large database of clients</p>
	  <%= render :partial => 'form' %>
	</div>
</div><!--#content-->

<%= render 'mediafeed/shared/mediafeed_sidebar' %>