<div id="messages_nav">
  <h1 class="pg_title">Messages</h1>
  <nav>
    <a class="selected" href="#">Unread Replies (2)</a>
    <a href="#">All Media Requests</a>
  </nav>
</div><!-- /messages_nav -->