<%= f.input :subject_matter,
            :label => 'Type of Request',
            :include_blank => false,
            :collection => SubjectMatter.for_select,
            :input_html => {:id => 'media_request_request_types'}
 %>

<% SubjectMatter.media_viewable.nongeneral.each do |subject_matter| %>
<div id="fields_for_<%= subject_matter.id %>" class="fieldsets media_request_subject">
  <% subject_matter.fieldset.each do |field| %>
  <li class="string">
    <%= label_tag "media_request[fields][#{field}]", field.humanize %>
    <%= text_field_tag "media_request[fields][#{field}]", @media_request.fields[field], :class => 'text' %>
  </li>
  <% end -%>
</div>
<% end -%>
