<% title "New Media Request" %>
<div id="content">
  <div class="inner_content">
    <%= render :partial => "form" %>
  </div><!-- /inner_content -->
</div><!-- /content -->
<%= render 'mediafeed/shared/mediafeed_sidebar' %>