<% title "Restaurant Roles" %>

<p class="clearfix">
	<%= link_to "New Restaurant Role", new_admin_restaurant_role_path, :class => 'positive button' %>
</p>

<%= table_for @restaurant_roles do |t| %>
    <% t.data :actions => [:edit, :destroy], :action_prefix => 'admin' do
        t.cell(:name)
        t.cell(:category) { |r| render :partial => "role_form", :locals => { :role => r, :categories => @categories } }
    end %>
<% end %>