<div class="comments">
    <% if @comments.blank? || message.is_a?(ContentRequest) %>
      <%= render @comments %>
      <% semantic_form_for @comment_resource, :html => { :multipart => true } do |f| %>
        <% f.inputs do %>
            <%= f.input :comment, :label => 'Post', :input_html => { :rows => 8 }, :hint => soapbox_notice(message) %>
            <%= button_tag "Send", :class => 'submit button' %></p>
        <% end %>

     <% end %>

    <% else %>
      <%= render @comments %>    
    <% end %>
</div>

