<% title "Home", false %>
<section id="content" class="home">
    <div id="inside" class="home">
        <div id="jumbotron">
            <div id="cycle">
                <img src="/images/soapbox/jumbotron/temp1.jpg" alt="an desc. of the photo" data-title="Fall is coming, so are warm cocktails." data-caption="Behind the scenes: As the temperature continues to dip, appetites for warmer libations continues to rise. Pretty soon, warm cocktails will be&hellip;" data-url="#">
                <img src="/images/soapbox/jumbotron/temp2.jpg" alt="an desc. of the photo" data-title="Computer Chips." data-caption="That's right. I got a picture of computer chips. Ed said to use garbage pictures. Garbage it is, then. How do you like that, Ed? I still have room t&hellip;" data-url="#">
                <img src="/images/soapbox/jumbotron/temp3.jpg" alt="an desc. of the photo" data-title="Okay, kinda creepy." data-caption="What can I say? I did a google image search for 'random'. This is what happens when Ed says 'oh just use garbage images' I hope everyone has a sen&hellip;" data-url="#">
                <img src="/images/soapbox/jumbotron/temp4.jpg" alt="an desc. of the photo" data-title="This one is just weird." data-caption="No, really. I hope everyone has a sense of humor. If not, you should blame Ed because clearly this is not my fault. Am I right? You hav&hellip;" data-url="#">
            </div>
            <div id="display">
                <header>
                    <h1 id="cycle-title">Fall is coming, so are warm cocktails.</h1>
                </header>
                <summary id="cycle-caption">Behind the scenes: As the temperature continues to dip, appetites for warmer libations continues to rise. Pretty soon, warm cocktails will be&hellip;<a href="#">more&nbsp;&#187;</a></summary>
                <nav id="pager"></nav>
            </div>

        </div><!-- /jumbotron -->
        <article class="panel" id="home-pulse">
            <header>
                <h1>Pulse</h1>
            </header>
            <section>
                <header>
                    <h1>Q: Reach way back&hellip; What was your first job?</h1>
                </header>
                <details>
                    <img src="/images/soapbox/placeholder-headshot.jpg" alt="Stephanie Marron Headshot">
                    <a href="#">Stephanie Marron</a><br>
                    <a href="#">Bistro Margot</a><br>
                    Head Chef
                </details>
                <summary>&#8220;Oh man, I have to admit I was a fry cook at Kentucky Fried Chicken. It was as bad as you might think. Did I walk away with&hellip;&#8221;</summary>
                <a class="continue" href="#">Continue Reading</a>
            </section>
        </article><!-- /home-pulse -->

        <article class="panel" id="home-featured-user">
            <header>
                <h1>Featured User</h1>
            </header>
            <section>
                <details>
                    <img src="/images/soapbox/placeholder-headshot.jpg" alt="Elizabeth Toronto Headshot">
                    <a href="#">Elizabeth Toronto</a><br>
                    <a href="#">Avec</a><br>
                    Head Chef
                </details>
                <summary>Elizabeth got her start in Pittsburgh, PA while attending the prestigious ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie nunc nec neque egestas eu sollicitudin mi aliquam&hellip; <a href="#">view profile&nbsp;&#187;</a></summary>
            </section>
        </article><!-- /home-featured-user -->

        <article class="panel" id="home-featured-restaurant">
            <header>
                <h1>Featured Restaurant</h1>
            </header>
            <section>
                <details>
                    <a href="#"><img src="/images/soapbox/placeholder-logo.jpg" alt="Blackbird Logo"></a>
                </details>
                <summary>
                    In December 1997 Donald J. Madia, Eduard Seitan, Rick Diarmit and Paul Kahan opened Blackbird, one of Chicago’s most respected modern fine-dining establishments&hellip; <a href="#">view profile&nbsp;&#187;</a>
                </summary>
            </section>
        </article><!-- /home-featured-restaurant -->
    </div><!-- /inside -->
</section><!-- /content --> 

<aside id="sidebar" class="home">
    <nav id="participate" class="home">
        <%= link_to "Login to <span>participate</span>", login_path, :class => "button", :id => "login-participate" %>
        <%= link_to "Request an <span>invitation</span>", new_invitation_path, :class => "button", :id => "request-invite" %>
    </nav><!-- /participate -->
    <section id="facebook-button">
        <header>
            <h1>Like us on Facebook</h1>
        </header>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fspoonfeed.restaurantintelligenceagency.com%2Fsoapbox&amp;layout=standard&amp;show_faces=true&amp;width=154&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:154px; height:80px;" allowTransparency="true"></iframe>
    </section><!-- /facebook-button -->

    <section id="help-questions">
        <header>
            <h1>Need Help? Have Questions?</h1>
        </header>
        <p>You can email our support staff anytime at <a href="mailto:support@soapbox.com">support@soapbox.com</a>.</p>
        <p>We also have a toll free customer support line available 9am–5pm that can be reached at 1 (800) 111-1111.</p>
    </section><!-- /help-questions -->
</aside><!-- /sidebar -->
