<% title "Holidays" %>

<p class="clearfix"><%= link_to "New Holiday", new_admin_holiday_path, :class => 'positive button' %></p>

<% table_for(@holidays) do |t| %>
  <%= t.data :name, :date, :reminders_count, :actions => :all, :action_prefix => 'admin' %>
<% end %>

