<% title "New Holiday" %>

<p>First search, then choose the recipients</p>
<% form_for @search, :url => new_admin_holiday_path, :html => {:class => 'formtastic faceted'} do |f| %>
  <%= render :partial => 'media_requests/search_fields', :locals => {:f => f} %>
<% end %>

<% if params[:search] %>
  <%= render :partial => 'form' %>
<% end %>

<p><%= link_to "Back to All Holidays", admin_holidays_path %></p>
