/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 14, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 107, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
.clearfix {
  overflow: hidden;
}

/* line 13, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
.clear {
  clear: both;
}

/* line 14, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
a {
  text-decoration: none;
  color: #d8531e;
  outline: none;
}

/* line 16, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
body {
  font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white url(/images/mediafeed/body-bg.gif) repeat-x;
  color: #333;
}

/* line 22, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
hr.edit_block {
  margin-right: 10px;
  border-top: 1px solid #e1d9c4;
  border-left: 0px none none;
  border-right: 0px none none;
  border-bottom: 0px none none;
  background: none;
  background-color: none;
  color: #ddd;
}

/* line 33, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
strong, b {
  font-weight: bold;
}

/* line 36, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
em, i {
  font-style: italic;
}

/* line 40, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#container {
  width: 974px;
  margin: 0 auto;
  *zoom: 1;
  position: relative;
}

/* line 10, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -160px;
}
/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #padding {
  height: 160px;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer_container {
  clear: both;
  position: relative;
  height: 160px;
}

/* line 49, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#staging_bar {
  position: absolute;
  z-index: 10000;
  padding: 10px;
  background: #FFF6BF;
  border: solid #FFD324;
  border-width: 0 2px 2px 0;
  color: #514721;
}

/* line 60, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header {
  display: block;
  height: 135px;
  overflow: hidden;
}
/* line 64, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header .branding {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 400px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #site_header .branding {
  overflow-x: hidden;
}
/* line 67, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header .branding h1#logo a {
  background: transparent url(/images/mediafeed/logo-mediafeed.png) no-repeat;
  background-position: -3px 0px;
  width: 735px;
  height: 123px;
  display: block;
  outline: 0;
  text-indent: -9999px;
}
/* line 76, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header #header_right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 564px;
  overflow: hidden;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #site_header #header_right {
  overflow-x: hidden;
}
/* line 79, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header #header_right #tagline {
  margin: 12px 0;
}
/* line 81, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header #header_right #tagline h2 {
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-weight: 500;
  color: #d8531e;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #f4f3ee;
}
/* line 92, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header #header_right #header_promos {
  display: block;
  margin: 12px 0;
  height: 68px;
}
/* line 96, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header #header_right #header_promos .header_promo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 113px;
  float: right;
  display: block;
  margin: 16px 0 0 10px;
  padding: 7px 12px;
  border: 1px solid #dedbcc;
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal;
  font-weigth: 300;
  color: #656562;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 18px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #site_header #header_right #header_promos .header_promo {
  overflow-x: hidden;
}
/* line 110, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header #header_right #header_promos .header_promo span {
  display: block;
  font-weight: bold;
  font-weight: 700;
  color: #d8531e;
  font-size: 16px;
}
/* line 117, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header #header_right #header_promos .header_promo:hover {
  background-color: #d8531e;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #cb4712;
  -moz-box-shadow: #eaeaea 2px 2px 2px 0;
  -webkit-box-shadow: #eaeaea 2px 2px 2px 0;
  -o-box-shadow: #eaeaea 2px 2px 2px 0;
  box-shadow: #eaeaea 2px 2px 2px 0;
}
/* line 123, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#site_header #header_right #header_promos .header_promo:hover span {
  color: #fff;
  text-shadow: 0 1px 0 #333;
}

/* ## END OF #site_header ------------------- */
/* line 134, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#main {
  -moz-box-shadow: #dddddd 0px 2px 5px 0;
  -webkit-box-shadow: #dddddd 0px 2px 5px 0;
  -o-box-shadow: #dddddd 0px 2px 5px 0;
  box-shadow: #dddddd 0px 2px 5px 0;
  margin: 0 0 0px 0;
  z-index: 500;
  background: transparent url(/images/mediafeed/bg-fauxcolumn.gif) repeat-y;
}
/* line 139, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#main.hp {
  position: relative;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 146, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav {
  width: 974px;
  position: relative;
  z-index: 100;
  background: transparent url(/images/mediafeed/nav-bg.png) repeat-x;
  height: 55px;
}
/* line 152, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav > span {
  position: relative;
  display: block;
  float: left;
}
/* line 156, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav > span a.count {
  position: absolute;
  right: 3px;
  top: 3px;
  color: #D8531E;
  font-weight: bold;
  background: #fff;
  font-size: 11px;
  padding: 2px 6px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #d3d3ce 0 2px 0 0;
  -webkit-box-shadow: #d3d3ce 0 2px 0 0;
  -o-box-shadow: #d3d3ce 0 2px 0 0;
  box-shadow: #d3d3ce 0 2px 0 0;
  float: none;
  height: auto;
  text-indent: 0;
}
/* line 172, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a {
  display: block;
  outline: 0;
  text-indent: -9999px;
  height: 50px;
  width: 243px;
  float: left;
  background: transparent url(/images/mediafeed/nav-loggedin.png) no-repeat;
}
/* line 178, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_explore {
  background-position: 0 0;
}
/* line 180, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_explore:hover {
  background-position: 0 -100px;
}
/* line 181, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_explore.selected {
  background-position: 0 -200px;
}
/* line 183, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_requests {
  width: 244px;
  background-position: -244px 0;
}
/* line 186, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_requests:hover {
  background-position: -244px -100px;
}
/* line 187, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_requests.selected {
  background-position: -244px -200px;
}
/* line 189, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_account {
  width: 244px;
  background-position: -490px 0;
}
/* line 192, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_account:hover {
  background-position: -490px -100px;
}
/* line 193, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_account.selected {
  background-position: -490px -200px;
}
/* line 195, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_contact {
  background-position: -734px 0;
}
/* line 197, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_contact:hover {
  background-position: -734px -100px;
}
/* line 198, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a#nav_contact.selected {
  background-position: -734px -200px;
}
/* line 201, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#primary_nav a.selected + a.count {
  -moz-box-shadow: #ab4218 0 2px 0 0;
  -webkit-box-shadow: #ab4218 0 2px 0 0;
  -o-box-shadow: #ab4218 0 2px 0 0;
  box-shadow: #ab4218 0 2px 0 0;
}

/* ## end of #primary_nav ------------------------ */
/* line 208, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav {
  width: 974px;
  position: relative;
  z-index: 100;
  background: transparent url(/images/mediafeed/nav-bg.png) repeat-x;
  height: 55px;
}
/* line 214, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a {
  display: block;
  outline: 0;
  text-indent: -9999px;
  height: 50px;
  width: 194px;
  float: left;
  background: transparent url(/images/mediafeed/nav.png) no-repeat;
}
/* line 220, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_home {
  background-position: 0 0;
}
/* line 222, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_home:hover {
  background-position: 0 -100px;
}
/* line 223, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_home.selected {
  background-position: 0 -200px;
}
/* line 225, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_about {
  background-position: -194px 0;
}
/* line 227, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_about:hover {
  background-position: -194px -100px;
}
/* line 228, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_about.selected {
  background-position: -194px -200px;
}
/* line 230, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_overview {
  width: 195px;
  background-position: -389px 0;
}
/* line 233, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_overview:hover {
  background-position: -389px -100px;
}
/* line 234, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_overview.selected {
  background-position: -389px -200px;
}
/* line 236, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_contact {
  width: 195px;
  background-position: -583px 0;
}
/* line 239, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_contact:hover {
  background-position: -583px -100px;
}
/* line 240, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_contact.selected {
  background-position: -583px -200px;
}
/* line 242, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_login {
  width: 196px;
  background-position: -776px 0;
}
/* line 245, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_login:hover {
  background-position: -776px -100px;
}
/* line 246, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a#nav_login.selected {
  background-position: -776px -200px;
}
/* line 249, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#alternate_nav a.selected + a.count {
  -moz-box-shadow: #ab4218 0 2px 0 0;
  -webkit-box-shadow: #ab4218 0 2px 0 0;
  -o-box-shadow: #ab4218 0 2px 0 0;
  box-shadow: #ab4218 0 2px 0 0;
}

/* ## end of #primary_nav ------------------------ */
/* line 256, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron {
  display: inline;
  float: left;
  margin-right: 0;
  width: 974px;
  height: 395px;
  overflow: hidden;
  background: #968463;
  margin: -10px 0 20px 0;
  position: relative;
  z-index: 10;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #jumbotron {
  overflow-x: hidden;
}
/* line 264, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron #jumbo_promo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 400px;
  width: 974px;
  padding: 25px 0px 0px 25px;
}
/* line 272, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron #jumbo_promo h1 {
  font-size: 44px;
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #fff;
  text-shadow: 0px 2px 3px #333;
  margin: 0 0 10px 0;
  font-weight: normal;
}
/* line 279, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron #jumbo_promo h1 a {
  color: #fff;
}
/* line 281, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron #jumbo_promo h1 a:hover {
  color: #dedbcc;
}
/* line 286, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron #jumbo_promo #excerpt {
  width: 340px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #fff;
  text-shadow: 0px 1px 0px #333;
}
/* line 294, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron #jumbo_promo #excerpt a {
  color: #fff;
  font-weight: 500;
}
/* line 297, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron #jumbo_promo #excerpt a:hover {
  color: #d8531e;
  text-decoration: none;
}
/* line 303, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron #jumbo_promo #photo_credit {
  bottom: 12px;
  right: -200px;
  font-size: 9px;
  position: absolute;
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  text-shadow: 1px 1px 1px #000;
  z-index: 100;
}

/* ## END of jumbotron ----------------- */
/* line 315, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron_controller {
  height: 42px;
  margin: 0;
  position: absolute;
  width: 974px;
  top: 398px;
  z-index: 1000;
  background: transparent url(/images/redesign/bg-controller.png) no-repeat 0 100%;
}
/* line 323, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron_controller nav {
  width: 126px;
  height: 16px;
  padding: 10px 0 10px 20px;
  background: transparent url(/images/redesign/bg-25percent-black.png) repeat;
  position: relative;
}
/* line 329, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron_controller nav a {
  position: relative;
  margin: 2px 16px 0 0;
  float: left;
  width: 14px;
  height: 14px;
  background-color: #dedbcc;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  display: block;
  outline: 0;
  text-indent: -9999px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  border: 1px solid #f4f3ee;
}
/* line 340, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron_controller nav a:hover {
  background-color: #968463;
}
/* line 343, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron_controller nav a.activeSlide {
  background-color: #d8531e !important;
  border: 1px solid #f07e50 !important;
}
/* line 347, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#jumbotron_controller nav a.last {
  padding-right: 0;
  margin-right: 0;
}

/* end of JUMBOTRON -------------------------------- */
/* line 356, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content {
  min-height: 500px;
  margin-bottom: 30px;
}
/* line 359, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content .edit_button {
  position: relative;
  top: -2px;
  left: 20px;
  background-color: #968463;
  color: #fff;
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  padding: 5px 12px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 700;
  text-shadow: 0 1px 0 #333;
  background: #968463 url(/images/mediafeed/pencil.png) no-repeat 7px 5px;
  padding-left: 22px;
}
/* line 374, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content .edit_button:hover {
  color: #faeae4;
  background-color: #d8531e;
}
/* line 379, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content.hp {
  min-height: 120px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 974px;
  position: relative;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content.hp {
  overflow-x: hidden;
}
/* line 383, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content.hp .hp_promo {
  width: 286px;
  float: left;
  margin: 15px 10px 15px 0;
  border: 1px solid #ddd;
  padding: 15px;
}
/* line 389, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content.hp .hp_promo.last {
  margin-right: 0;
}
/* line 392, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content.hp .hp_promo h1 {
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  margin: 5px 0 10px;
  font-size: 18px;
  font-weight: bold;
  font-weight: 800;
  color: #d8531e;
  text-shadow: 0 1px 0 #fff;
}
/* line 401, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content.hp .hp_promo p {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
/* line 405, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content.hp .hp_promo p a {
  color: #d8531e;
}
/* line 407, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content.hp .hp_promo p a:hover {
  text-decoration: underline;
  color: #968463;
}
/* line 413, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content.hp .hp_promo.last {
  margin-right: 0;
}

/* end of #content.hp -------------------------------- */
/* line 420, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#main {
  -moz-box-shadow: #dddddd 0px 2px 5px 0;
  -webkit-box-shadow: #dddddd 0px 2px 5px 0;
  -o-box-shadow: #dddddd 0px 2px 5px 0;
  box-shadow: #dddddd 0px 2px 5px 0;
  margin: 0 0 0px 0;
  z-index: 500;
  background: transparent url(/images/redesign/bg-fauxcolumn.gif) repeat-y;
}
/* line 425, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#main.hp {
  position: relative;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 432, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 728px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content {
  overflow-x: hidden;
}
/* line 434, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px dotted #ddd;
}
/* line 438, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header img {
  float: left;
  margin: 0 14px 10px 0;
}
/* line 442, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header .addthis_toolbox {
  float: left;
  font-family: 'Hoefler Text', Georgia, serif;
  font-size: 14px;
  font-weight: bold;
}
/* line 448, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header .user_actions {
  float: right;
  display: block;
  width: 230px;
}
/* line 452, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header .user_actions a {
  display: block;
  padding: 10px;
  margin: 0 0 10px 0;
  font-family: 'Hoefler Text', Georgia, Serif;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  letter-spacing: 0.2em;
  font-weight: bold;
  background-color: #faeae4;
}
/* line 462, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header .user_actions a.private_message {
  background: #faeae4 url(/images/redesign/icon-16-bubble.png) no-repeat;
  background-position: 10px 10px;
  padding-left: 32px;
}
/* line 466, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header .user_actions a.private_message:hover {
  color: #968463;
  background-color: #f4f3ee;
  background-position: 10px -90px;
}
/* line 472, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header .user_actions a.follow_user {
  background: #faeae4 url(/images/redesign/icon-16-follow.png) no-repeat;
  background-position: 10px 10px;
  padding-left: 32px;
}
/* line 476, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header .user_actions a.follow_user:hover {
  color: #968463;
  background-color: #f4f3ee;
  background-position: 10px -90px;
}
/* line 484, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#content header h1 {
  margin: 0;
  text-transform: capitalize;
}

/* ## END OF #content ------------------- */
/* line 493, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#sidebar_b {
  display: inline;
  float: left;
  margin-right: 0;
  width: 236px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sidebar_b {
  overflow-x: hidden;
}
/* line 495, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#sidebar_b #sidebar_content {
  margin: 12px 8px 0 6px;
}
/* line 497, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#sidebar_b #sidebar_content .promo {
  display: block;
  border: 1px solid #ddd;
  margin: 0 0 10px 0;
  padding: 12px 10px;
  -moz-box-shadow: #eeeeee 0px 1px 0px 0;
  -webkit-box-shadow: #eeeeee 0px 1px 0px 0;
  -o-box-shadow: #eeeeee 0px 1px 0px 0;
  box-shadow: #eeeeee 0px 1px 0px 0;
}
/* line 503, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#sidebar_b #sidebar_content .promo.media_request {
  background: #d8531e url(/images/mediafeed/pen.png) no-repeat 8px 12px;
  padding-left: 46px;
  color: #fff;
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #d8531e;
  text-shadow: 0 1px 0 #333;
}
/* line 512, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#sidebar_b #sidebar_content .promo.media_request:hover {
  background-color: #968463;
  border: 1px solid #dedbcc;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
/* line 519, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#sidebar_b #sidebar_content .promo.go_to_soapbox {
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
/* line 523, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#sidebar_b #sidebar_content .promo.go_to_soapbox:hover {
  color: #968463;
  text-shadow: 0 1px 0 #fff;
  background-color: #f4f3ee;
  border: 1px solid #dedbcc;
}

/* ## end of sidebar_b ------------------------ */
/* line 536, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content {
  padding: 12px 14px 20px 18px;
  overflow: hidden;
  position: relative;
  /* -- base styles for the site -- */
  /* ## END of base styles for the site -- */
}
/* line 540, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content header {
  margin-bottom: 15px;
}
/* line 544, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h1 {
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 25px;
  color: #333;
  line-height: 30px;
  padding: 0;
  margin: 5px 0 12px 0;
  font-weight: bold;
  font-weight: 700;
}
/* line 553, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h1.pg_title {
  margin: 0 0 15px 0;
}
/* line 554, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h1 a {
  color: #d8531e;
  text-decoration: none;
}
/* line 557, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h1 a:hover {
  color: #968463;
}
/* line 562, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h2 {
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 19px;
  color: #333;
  line-height: 26px;
  padding: 0;
  margin: 5px 0 6px 0;
}
/* line 571, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h2 a {
  color: #d8531e;
  text-decoration: none;
}
/* line 574, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h2 a:hover {
  color: #968463;
  text-decoration: none;
}
/* line 580, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h2#topic_title {
  font: normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 5px;
  padding: 0;
  color: #968463;
  text-transform: uppercase;
}
/* line 588, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h3 {
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}
/* line 594, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h3 a {
  color: #d8531e;
  text-decoration: none;
}
/* line 597, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h3 a:hover {
  color: #968463;
  text-decoration: none;
}
/* line 603, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h4 {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-weight: 300;
  color: #333;
  margin: 8px 0;
  line-height: 18px;
}
/* line 611, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h4 a {
  color: #968463;
}
/* line 613, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h4 a:hover {
  text-decoration: underline;
  color: #d8531e;
}
/* line 619, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h5 {
  font-weight: 300;
  font-size: 13px;
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #333;
}
/* line 624, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h5 a {
  color: #968463;
}
/* line 626, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h5 a:hover {
  color: #d8531e;
  text-decoration: underline;
}
/* line 632, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h6 {
  font-size: 11px;
}
/* line 634, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h6 a {
  color: #d8531e;
}
/* line 636, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content h6 a:hover {
  color: #968463;
}
/* line 641, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content p {
  font-size: 12px;
  color: #333;
  margin: 5px 0 15px;
  padding: 0;
  line-height: 18px;
}
/* line 647, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content p.save_end {
  margin: 15px 0 10px;
}
/* line 650, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content p a {
  color: #d8531e;
  text-decoration: none;
}
/* line 653, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content p a:hover {
  color: #968463;
  text-decoration: underline;
}
/* line 657, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content p a.button {
  float: left;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 4px 12px;
  background: #dd630c;
  color: #fff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
/* line 666, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content p a.button img {
  margin-right: 2px;
}
/* line 668, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content p a.button:hover {
  background-color: #faeae4;
  color: #333;
  text-decoration: none;
  border: 1px solid #d8531e;
  text-shadow: 0 1px 0 #333;
}
/* line 678, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content blockquote {
  float: left;
  width: 262px;
  margin: 2px 15px 10px 0;
  padding: 10px 15px;
  border: 1px solid #e2dfd2;
  background: #f4f3ee;
}
/* line 685, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content blockquote p {
  font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #968463;
  text-shadow: 0 1px 0 #fff;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
/* line 696, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content ul {
  margin: 5px 0 15px 0;
  padding: 0;
  list-style: none;
}
/* line 700, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content ul li {
  padding: 3px 0 3px 20px;
  background: transparent url(/images/redesign/square.gif) no-repeat 10px 5px;
  line-height: 16px;
}
/* line 704, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content ul li a {
  color: #d8531e;
  text-decoration: none;
}
/* line 707, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content ul li a:hover {
  color: #968463;
  text-decoration: underline;
}
/* line 714, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content ol {
  margin: 5px 0 15px 18px;
  padding: 0;
  list-style: decimal;
  list-style-position: outside;
}
/* line 719, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content ol li {
  padding: 3px 0;
  background: none;
  line-height: 16px;
}
/* line 723, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content ol li a {
  color: #d8531e;
  text-decoration: none;
}
/* line 726, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content ol li a:hover {
  color: #968463;
  text-decoration: underline;
}
/* line 734, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content dl dd {
  font-weight: bold;
  color: #333;
}
/* line 738, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#page_content dl dt {
  margin: 0 0 10px 0;
}

/* line 747, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#flashes {
  clear: both;
  margin: 15px 0;
  font-family: Gotham, "helvetica neue", arial, sans-serif;
  font-size: 13px;
  position: relative;
}
/* line 753, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#flashes div {
  border: 1px solid #ddd;
  padding: 10px 15px;
  -moz-box-shadow: #f1f1f1 0px 2px 2px 0;
  -webkit-box-shadow: #f1f1f1 0px 2px 2px 0;
  -o-box-shadow: #f1f1f1 0px 2px 2px 0;
  box-shadow: #f1f1f1 0px 2px 2px 0;
}
/* line 757, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#flashes div#flash_error {
  background: #dedbcc;
  border-color: #d8531e;
  color: #d8531e;
}
/* line 762, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#flashes div#flash_notice {
  background: #fffbe0;
  border-color: #FFD324;
  color: #766833;
}
/* line 767, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#flashes div#flash_success {
  background: #edf5d0;
  border-color: #abbc66;
  color: #365816;
}

/* ## end of flashes ----------------------------- */
/* line 776, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .accordion_box {
  width: 620px;
  border: 1px solid #ece8d7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #f7f6f2 url(/images/redesign/button_bg.png) repeat-x;
  margin: 5px 0 0 0;
}
/* line 783, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .accordion_box .ui-accordion-content li {
  background-color: #fff;
}
/* line 785, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .accordion_box .ui-accordion-content li label {
  display: block;
  margin: 5px 0;
  font-weight: normal;
}
/* line 792, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .accordion_box a {
  display: block;
  font-size: 13px;
  text-shadow: 0 1px 0 #fff;
  color: #897a55;
  font-weight: bold;
  padding: 8px 12px;
  margin: 0;
}
/* line 800, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .accordion_box a:hover {
  color: #d8531e;
}
/* line 803, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .accordion_box a span {
  display: block;
  padding-left: 15px;
  background: url(/images/blue_arrow.png) no-repeat 3px -23px;
}
/* line 808, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .accordion_box a.options_selected {
  background: #faeae4 url(/images/green_check.png) no-repeat right;
  color: #d8531e;
}
/* line 812, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .accordion_box a.ui-state-active span {
  background-position: 3px 5px;
}
/* line 815, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .accordion_box a.ui-state-active, #criteria_accordion .accordion_box a.ui-state-active.options_selected {
  background-color: transparent;
}
/* line 820, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion li.check_boxes {
  height: 220px;
  overflow-y: auto;
  padding: 0 10px;
}
/* line 824, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion li.check_boxes li {
  float: none;
  list-style: none;
  width: 100%;
}
/* line 829, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion li.check_boxes legend {
  display: none;
}
/* line 833, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#criteria_accordion .label label, #criteria_accordion div.loading {
  display: none;
}

/* ## end of accordion ------------------------ */
/* line 838, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container {
  position: relative;
  display: block;
  z-index: 1000;
  background-color: #333;
}
/* line 843, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container #foot-wrap {
  height: 150px;
  border-top: 10px solid #000;
}
/* line 847, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer {
  width: 974px;
  margin: 25px auto;
  padding: 0;
  font-weight: 300;
  color: #fff;
}
/* line 853, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_branding {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 318px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer_container footer #footer_branding {
  overflow-x: hidden;
}
/* line 856, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 482px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer_container footer #footer_links {
  overflow-x: hidden;
}
/* line 858, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links p {
  margin: 8px 0 10px 0;
  color: #aaa;
  position: relative;
}
/* line 862, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links p a {
  color: #fff;
}
/* line 864, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links p a:hover {
  text-decoration: underline;
}
/* line 869, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links nav {
  margin: 0 0 10px 0;
}
/* line 871, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links nav a {
  background: transparent url(/images/redesign/line-footer.gif) no-repeat;
  background-position: 88% 2px;
  padding: 0 15px 0 0;
  color: #fff;
}
/* line 876, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links nav a.last {
  background-image: none;
}
/* line 877, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links nav a:hover {
  text-decoration: underline;
}
/* line 881, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links ul li {
  display: inline;
  color: #aaa;
}
/* line 884, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links ul li a {
  color: #fff;
}
/* line 886, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_links ul li a:hover {
  text-decoration: underline;
}
/* line 891, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_social {
  display: inline;
  float: left;
  margin-right: 0;
  width: 154px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer_container footer #footer_social {
  overflow-x: hidden;
}
/* line 893, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_social a {
  display: block;
  padding: 0;
  margin: 0 0 15px 0;
  color: #fff;
}
/* line 898, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_social a.fb {
  padding: 0 0 0 32px;
  background: transparent url(/images/redesign/icon-25-fb.png) no-repeat 0 2px;
}
/* line 901, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_social a.fb:hover {
  background-position: 0 -98px;
}
/* line 903, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_social a.twitter {
  padding: 0 0 0 32px;
  background: transparent url(/images/redesign/icon-25-twitter.png) no-repeat 0 2px;
}
/* line 906, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_social a.twitter:hover {
  background-position: 0 -98px;
}
/* line 908, ../../../app/stylesheets/mediafeed/_css/mediafeed.scss */
#footer_container footer #footer_social a:hover {
  color: #aaa;
  text-decoration: underline;
}

/* ## end of #footer_container ---------------------- */
