<% title @page.title %>

<div id="content">
	<% if can?(:edit, @page) %>
		<p>
			<%= link_to "Edit this page", edit_admin_mediafeed_page_path(@page), :class => 'edit_button' %>
		</p>
	<% end %>
	<section id="page_content">

		<%= auto_link @page.content %>

	</section><!--#page_content-->
</div><!--#content-->

<% content_for :sidebar_a do -%>
<% end -%>

<% content_for :sidebar_b do -%>
	<div id="sidebar_b">
		<div id="sidebar_content">

			<a class="promo media_request" href="/invitations/new">Create a Media Request</a>
			<a class="promo go_to_soapbox" href="/soapbox">Go to Soapbox</a>
			
		</div>
	</div><!--#sidebar_b-->
<% end -%>