// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 974px;
$blueprint-grid-margin: 10px;

$default-transition-function: ease-in-out;
$default-transition-duration: .2s;

$orange: #d8531e;
$trans-orange: #FAEAE4;
$trans-brown: #f4f3ee;
$tan: #dedbcc;
$green: #6CB33F;
$brown: #968463;
$gray: #656562;

$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

@mixin hiddentext{
	display:block;
	outline:0;
	text-indent:-9999px;
}

@mixin gotham {font-family: Gotham, 'Helvetica Neue', Helvetica, arial, sans-serif;}
@mixin neue {font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;}