<% div_for menu_item do %>
    <div class="activity_header">
        <h3>On the Menu</h3>
        <p class="name">
            <%= menu_item.name %>
        </p>
    </div>
    <div class="user_comment">
        <%= render :partial => "restaurants/identity", :locals => { :restaurant => menu_item.restaurant } %>
        <div class="user_comment"><%= truncate(menu_item.description, :length => 200) %>
            <% if menu_item.description.size > 200 -%>
                  <%= link_to "more &raquo;", restaurant_menu_items_path(menu_item.restaurant) %>
            <%- end %>
        </div>
    </div>
<% end %>
