<% javascript 'ckeditor/ckeditor' %>
<% title "On the Menu :: #{@restaurant.name}", false %>
<div id="restaurant_profile_view" class="edit clear clearfix">
    <%= render 'restaurants/restaurant_editing_header' %>

    <div id="editing_restaurant">
        <div id="menu_items_header">
            <h2>On the Menu - Edit Item</h2>
        </div>

        <%= render :partial => "form" %>
    </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->

<%= content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function() {

  $('#form-tabs').tabs({
    panelTemplate: '<section></section>',
    fx: { duration: 'fast', opacity: 'toggle' }
  });

});
</script>
<% end %>
