#page_content .share {
  height: 20px;
  padding: 3px;
  position: relative;
}
#page_content .share .addthis_toolbox {
  position: absolute;
  right: 0;
  background: url(/images/soapbox/bg-sienna-opacity-10.png);
  background: rgba(215, 82, 30, 0.1);
}
#page_content .share .addthis_toolbox:hover {
  background: #cb4827;
}
#page_content .share .addthis_toolbox:hover a {
  color: #fff;
  background-position: 2px -28px;
  text-decoration: none;
  text-shadow: none;
}
#page_content .share .addthis_toolbox a {
  display: block;
  padding: 5px 10px 2px 20px;
  font-size: 12px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  font-family: 'MuseoSlab700', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 700;
  background: url(/images/soapbox/share-arrow.gif) no-repeat 2px 3px;
  color: #cb4827;
}
#page_content .share .addthis_toolbox a:hover {
  backgground-position: 2px -28px;
  text-decoration: none;
  text-shadow: none;
}