/* @override http://localhost:3001/stylesheets/custom.css */

@import "blueprint/screen.css";

/* colors 
dark brown: #3e2611;
alt dark brown: #49341f;
blue: #8CD0E2;
blue bg: #edfbff;
blue border: #cdeff8;
blue alt: #1D9BBB;
green: #69A74D;
*/

body {
	margin: 0px;
	background-image: url(/images/header_bg.gif);
	background-repeat: repeat-x;
}

div#container {
	width: 969px;
	margin: 0px auto;
	padding: 0px;
}

div#header {
	height: 102px;
	margin: 0px 0px 15px 0px;
}

#brand {
	margin-top: 18px;
}

.admin_backend #header {
	position: relative;
}

.admin_backend #header h2 {
	position: absolute;
	right: 0;
	color: #fc9;
	text-transform: uppercase;
}

/* Primary Navigation ----------------- */

div#navigation ul {
	float: right;
	display: inline;
	list-style: none;
	margin: 60px 0px 0px 0px;
}

div#navigation ul li {
	float: left;
	display: inline;
	font-family: 'helvetica neue', helvetica, tahoma, arial, sans-serif;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 22px;
	margin: 0px 0px 0px 8px;
	padding: 4px 0px 10px 0px;
}

.admin_backend #navigation li {
	font-size: 1.2em;
}

div#navigation ul li.selected {
	background-image: url(/images/nav_arrow.png);
	background-repeat: no-repeat;
	background-position: 50% 26px;
	padding: 4px 0px 14px 0px;
}

div#navigation ul li a {
	color: #fff;
	text-decoration: none;
	padding: 2px 7px;
}

div#navigation ul li a:hover {
	background-color: #513d28;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div#navigation ul li a.current:hover {
	background: none;
}

/* Content area ---------------------- */

#user_status img {
	float: left;
	border: 1px solid #ddd;
	margin-right: 1em;
}

#user_status a:hover img {
	border-color: #daa;
}

#user_status p {
	margin-bottom: .25em; /* 3px at 12px font */
}

#user_status a {
	color: #513d28;
	border-bottom: 1px dashed #cbb;
}

#user_status a:hover {
	border-color: #fff;
	color: green;
}

.formbox {
	
}

.formbox input {
	width: 220px;
	padding: 2px;
	margin: 0px;
}

.formbox select {
	width: 220px;
	padding: 1px;
	margin: 0px;
}

.formbox input.submit {
	width: auto;
}

.formbox h3 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.formbox p {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

#login p.forgot {
	font-size: .8em;
	font-family: 'lucida grande', tahoma, arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

#login p.forgot a {
	color: #69A74D;
	background-color: #f2ffec;
	padding: 2px 5px;
}

#login p.forgot a:hover {
	background-color: #69A74D;
	color: #fff;
}

form .first_name, form .last_name {
	float: left;
	margin-right: 10px;
}

form .first_name input.text, form .last_name input.text {
	width: 138px;
}

/* statuses ---- */

#new_status {
	background-color: #edfbff;
	padding: 12px;
}

#new_status input {
	font-size: 1.3em;
	padding: 4px 5px;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	color: #666;
}

#new_status button {
	margin: 0;
	float: none;
	border-color: #ccf;
	background-color: #def;
	color: #1d9bbb;
}

#new_status button:hover {
	background-color: #1D9BBB;
	color: #fff;
}

#leftcolumn #new_status input.status_message {
	width: 450px;
}

#rightcolumn #new_status input.status_message {
	width: 240px;
}

#new_status input:active, #new_status input:focus {
	background-color: #fffde6;
}

.checkbox_twitter {
	width: 150px;
	clear: both;
	background-color: #1D9BBB;
	padding: 5px 5px 5px 8px;
	margin: 0px 2em 12px 0px;
	border: 0 none;
	float: left;
}

.checkbox_twitter input.checkbox {
	float: left;
	display: inline;
	width: auto;
	margin: -2px 7px 0px 0px;
	height: 14px;
	padding: 0px;
}

.checkbox_twitter label {
	color: #fff;
}

#statuses {
	list-style: none;
	margin: 10px 0px;
	padding: 0px;
}

.status {
	font-family: 'lucida grande', tahoma, arial, sans-serif;
	color: #666;
	margin: 0px 0px 12px 0px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px dotted #ccc;
}

.status .message {
	display: block;
	color: #333;
	font-size: 1.5em;
	line-height: 22px;
	font-family: Georgia, 'Trebuchet MS', Times, arial, sans-serif;
}

#statuses li .recentmessage {
	font-size: 2.1em;
	line-height: 28px;
}



.statuses li {
	clear: left;
	list-style: none;
	margin: 15px 0 0;
	padding: 0 0 10px;
	overflow: hidden;
}

#statuses .posted, .statuses .utility, .statuses .meta {
	color: #999;
	font-size: .8em;
	display: inline;
	float: left;
	padding-right: 5px;
}

#statuses .meta {
	clear: left;
}

#statuses .message {
	float: left;
}

#statuses .posted {
	clear: left;
}

.statuses .profile_image {
	float: left;
	padding-right: 10px;
}

/* Typography -------------------  */

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

p, li {
	color: #333;
	font-family: helvetica, arial, sans-serif;
}

a {
	color: #000;
}

a:hover {
	color: #999;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}

h1,h2,h3 {
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

h2 {
	color: #333;
}

h3 {
	color: #276b96;
	margin: 0 0 .5em 0;
}

h4 {
	color: #333;
}

blockquote {
	margin: 0px 0px 10px 0px;
	color: #666;
	font-family: Georgia, "trebuchet MS", "times new roman", serif;
	padding-left: 36px;
	padding-bottom: 0px;
}

pre {
	font-size: .9em;
	font-family: monospace;
}

dl {
	margin: 10px 0px 20px 0px;
}

dt {
	font-size: 1em;
	font-weight: bold;
	color: #111;
	font-family: helvetica, arial, sans-serif;
	line-height: 15px;
	margin: 10px 0px 2px 0px;
	padding: 0px;
}

dd {
	font-size: 1em;
	font-weight: normal;
	color: #444;
	font-family: helvetica, arial, sans-serif;
	line-height: 17px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

big {
	font-size: 115%;
}

small {
	font-size: 85%;
}

code {
	font-family: monospace;
}

del {
	color: #999;
	text-decoration: line-through;
}

ins {
	background-color: #dbf4d6;
	padding: 2px;
	text-decoration: none;
	border: 0px;
}


/* Tables ---------------------- */

#leftcolumn table {
	max-width: 637px;
}

table {
	border: 1px solid #ccc;
	font-family: 'lucida grande', tahoma, arial, sans-serif;
}

table caption {
	font-size: 1em;
	line-height: 16px;
	font-weight: bold;
	color: #333;
}

table th {
	font-size: 1em;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #ccc;
	background-color: #fafaff;
}

table tfoot th, table tfoot td {
	font-size: .9em;
	font-weight: normal;
	background-color: #333;
	color: #ccc;
	line-height: 12px;
}

table td {
	font-size: 1em;
	font-weight: normal;
	color: #333;
}

tr:hover td {
	background-color: #ffd;
}

td.utility {
	font-size: .8em;
	padding-left: 1em;
	padding-right: 1em;
	word-spacing: 3px;
	width: 95px;
}

/* Forms ---------------------------- */

fieldset {
	border: 1px solid #ccc;
	font-family: 'lucida grande', tahoma, arial, sans-serif;
}

legend {
	font-size: 1em;
	color: #333;
	font-weight: bold;
}

label {
	font-weight: normal;
	font-family: 'lucida grande', tahoma, arial, sans-serif;
	font-size: .9em;
	display: block;
	color: #333;
	margin: 0px;
	padding: 0px;
}

textarea {
	color: #222;
	margin: 4px 0px 0px 0px;
	padding: 3px;
	border: 1px solid #aaa;
	font-size: 1em;
}

select {
	font-size: .9em;
}

option {
	padding: 3px 3px 0px 3px;
}

/* blueprint extensions ------------  */

.round {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.box {
	padding: 1em;
	background: none;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.marginright {
	margin-right: 34px;
}

.marginleft {
	margin-left: 34px;
}

.hidden {
	display: none;
}

/* footer ------------  */

#footer {
	border-top: 1px solid #ddd;
	padding: 20px 0px;
}

#footer ul {
	margin: 0px;
	padding: 0px;
}

#footer li {
	font-family: 'helvetica neue', 'lucida grande', helvetica, arial, sans-serif;
	font-size: 1.1em;
	color: #333;
	margin: 0px 7px 0px 0px;
	padding: 0px 14px 0px 0px;
	display: inline;
}

#footer li a {
	color: #0089C2;
	background-color: #edfbff;
	border: 1px solid #cdeff8;
	text-decoration: none;
	padding: 2px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#footer li a:hover {
	background-color: #0089C2;
	border-color: #0089C2;
	color: #fff;
}

/* Application
------------------------*/

#flashes {
	min-height: 30px;
	margin-bottom: 1em;
}

#flash_notice, #flash_error {
	padding: 5px 8px;
}

#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}

#flash_error {
	background-color: #FCC;
	border: solid 1px #C66;
}

.fieldWithErrors {
	display: inline;
}

#errorExplanation {
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 8px;
}

#errorExplanation ul {
	margin: 2px 24px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: disc;
}

.button-separator {
	float: left;
	line-height: 18px;
	margin: 1em 1em 1em .5em;
}

.trash img {
	padding: 3px 1px 0;
}

#coached {
	border: 1px solid #edc;
	background-color: #fed;
	padding: 1em 1em 1px;
	color: #644;
	margin-bottom: 1em;
	font: 1.2em normal "Gill sans";
}

#coached h3 {
	font-size: 1em;
}

#coached p {
	margin-bottom: 1em;
}

tr.admin td {
	background-color: #fdc;
}

#admin_users_list td.thumb {
	max-width: 52px;
	font-size: 8px;
}

#admin_users_list .thumbnail {
	width: 50px;
	height: 50px;
	margin: 0;
}