/* @override http://localhost:3001/stylesheets/custom.css */

/* colors
dark brown: #3e2611;
alt dark brown: #49341f;
blue: #8CD0E2;
blue bg: #0587c1;
blue border: #cdeff8;
blue alt: #1D9BBB;
green: #69A74D;
*/

/* @group staging */

#staging_bar {
	background-color: #f6df7f;
	width: 100%;
	height: 18px;
	border-bottom: 1px solid #e2c13d;
	overflow: hidden;
	color: #433;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

#staging_bar p {
	font-family: "Lucida Grande", sans-serif;
	font-size: 11px;
}

body#staging{
	background-position: 0 18px;
}

/* @end */

/* @group grid --------------------- */

body {
	margin: 0px;
	background-image: url(/images/bg_header.png);
	background-repeat: repeat-x;
}

button {
	float:none;
	display:inline;
	font-family:'helvetica neue', helvetica, tahoma, arial, sans-serif;
}
.edit_user button{
	float:left;
}
.hidden_text{
	text-indent:-9999px;
	outline:0;
	display:block;
}

div#container {
	width: 969px;
	margin: 0px auto;
	padding: 0px;
}

div#header {
	height: 102px;
	margin: 0px 0px 15px 0px;
}

#brand>img{
	float:left;
	margin-right:16px;
}
#brand a{
	display:block;
	margin-top:25px;
}

.admin_backend #header {
	position: relative;
}

#leftcolumn {
	min-height: 360px;
}

#sidebar .box{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	background:#f7f7f7;
}

/* @end */

/* @group typography --------------- */

/* @group default */

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

p, li {
	color: #333;
	font-family: helvetica, arial, sans-serif;
}

li{
	margin: 10px 0;
}

p a, li a, h5 a, h4 a, h3 a {color: #0587c1;}
p a:hover, li a:hover {color: #4eaed9;text-decoration: underline;}

a {
	color: #000;
}

a:hover {
	color: #999;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}

h1,h2,h3 {
	font-weight: bold;
}

h1 {
	font-size: 2em;
	float:left;
	width:auto;
	display:inline-block;
	margin-right:10px;
}
.page_actions{
	float:left;
	padding-top:3px;
}

h2 {
	color: #276b96;
	font-size:1.4em;
}

h3 {
	color: #276b96;
	margin: 0 0 .5em 0;
}

h4 {
	color: #333;
}

blockquote {
	margin: 0px 0px 10px 0px;
	color: #666;
	font-family: Georgia, "trebuchet MS", "times new roman", serif;
	padding-left: 36px;
	padding-bottom: 0px;
}

pre {
	font-size: .9em;
	font-family: monospace;
}

dl {
	margin: 10px 0px 20px 0px;
}

dt {
	font-size: 1em;
	font-weight: bold;
	color: #111;
	font-family: helvetica, arial, sans-serif;
	line-height: 15px;
	margin: 10px 0px 2px 0px;
	padding: 0px;
}

dd {
	font-size: 1em;
	font-weight: normal;
	color: #444;
	font-family: helvetica, arial, sans-serif;
	line-height: 17px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

big {
	font-size: 115%;
}

small {
	font-size: 85%;
}

code {
	font-family: monospace;
}

del {
	color: #999;
	text-decoration: line-through;
}

ins {
	background-color: #dbf4d6;
	padding: 2px;
	text-decoration: none;
	border: 0px;
}

.admin_backend #header h2 {
	position: relative;
	top: -14px;
	left: 0;
	font-size: 1.6em;
	color: #fc9;
	text-transform: uppercase;
	float: left;
	margin: 0;
}

/* @end */

/* @group custom */

#coached {
	border: 1px solid #edc;
	background-color: #fed;
	padding: 5px;
	color: #644;
	font-family:"Lucida Grande", Arial, sans-serif;
}

#coached h3 {
	font-size: 1em;
}

#coached p {
	margin:0;
	font-size:0.9em;
}
#coached p span{
	color:#ea801a;
	font-weight:bold;
}

#previous_statuses{
	border-top:1px dashed #c1dce7;
	padding:10px 0 0;
	margin:10px 0 0;
}
#sidebar #status_update h3.function-bold{
	color:#646464;
}
#sidebar #status_update #previous_statuses h3.function-bold{
	color:#0089C2;
	border:0;
	font-size:1em;
	margin:0;
}


#previous_statuses p{
	margin:0;
}

#previous_statuses a.sf-button,  a.sf-button.alt {
	text-transform:none;
	background:#0587c1;
	color:#fff;
	border: 1px solid #0587c1;
	padding: 3px 8px;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: .9em;
	font-weight: normal;
}

a.sf-button.alt img {
	margin: 2px 5px -2px 0;
	margin-right: 5px;
	line-height: 8px;
}

#previous_statuses a.sf-button:hover,  a.sf-button.alt:hover {
	background: #fff;
	color: #0587c1;
	border-color: #c9e1f9;
}

#my_restaurants .restaurant + h3 {
	margin-top:1em;
}

#my_restaurants div + p {
	margin: 1em 0 3px;
}

/* @end */

/* @end */

/* @group primary navigation --------- */

div#navigation ul {
	float: right;
	display: inline;
	list-style: none;
	margin: 56px 0 0;

}

div#navigation ul li {
	float: left;
	display: inline;
	font-family: 'helvetica neue', helvetica, tahoma, arial, sans-serif;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 22px;
	margin: 0 0 0 8px;
	padding: 4px 0 2px;
}

div#navigation ul li a {
	color: #fff;
	text-decoration: none;
	padding: 2px 7px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div#navigation ul#sf_nav li a{
	background:url(/images/sf_nav.png) no-repeat;
	height:36px;
	padding:0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
div#navigation ul#sf_nav li#dashboard a{
	width:117px;
}
div#navigation ul#sf_nav li#welcome a{
	width:103px;
	background-position:-125px 0;
}
div#navigation ul#sf_nav li#profile a{
	width:103px;
	background-position:-235px 0;
}
div#navigation ul#sf_nav li#search a{
	width:105px;
	background-position:-342px 0;
}

div#navigation ul#sf_nav li#dashboard a:hover{
	background-position:0 -120px;
}
div#navigation ul#sf_nav li#welcome a:hover{
	background-position:-125px -120px;
}
div#navigation ul#sf_nav li#profile a:hover{
	background-position:-235px -120px;
}
div#navigation ul#sf_nav li#search a:hover{
	background-position:-342px -120px;
}

div#navigation ul#sf_nav li#dashboard.selected a{
	background-position:0 -60px;
}
div#navigation ul#sf_nav li#welcome.selected a{
	background-position:-125px -60px;
}
div#navigation ul#sf_nav li#profile.selected a{
	background-position:-235px -60px;
}
div#navigation ul#sf_nav li#search.selected a{
	background-position:-342px -60px;
}

.admin_backend #navigation li.selected a {
	background-color: #513d28;
}

.admin_backend #navigation ul{
	margin-top: 10px;
}

.admin_backend #navigation li {
	font-size: 1.2em;
}

.admin_backend #navigation li.selected {
	background-image: none;
	padding-bottom: 2px;
}

.admin-link { float: right; font-size: 1.2em; line-height: 18px; font-weight:bold }

/* @end */

/* @group status messages ----------- */

#direct_messages, #sent_messages {
	margin-bottom: 2em;
}

#user_status img {
	float: left;
	background:#fff;
	padding:3px;
	border: 1px solid #ddd;
	margin-right: 1em;
}

#user_status a:hover img {
	border-color: #daa;
}

#user_status p {
	margin-bottom: .25em; /* 3px at 12px font */
}

#user_status a {
	color: #513d28;
	border-bottom: 1px dashed #cbb;
}

#user_status a:hover {
	border-color: #fff;
	color: green;
}

#new_status {
	background-color: #edfbff;
	padding: 12px;
}
#sidebar #new_status{
	background:0;
	padding:0;
}
#user_status #status_update.box{
	border:0;
	margin:10px 0;
	padding:0;
}

#new_status input {
	font-size: 1.3em;
	padding: 4px 5px;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	color: #666;
}

#new_status button {
	margin: 0;
	padding-left: 1em;
	padding-right: 1.1em;
	float: left;
	text-transform:uppercase;
	background-color: #e8750a;
	color: #fff;
	border-color: #e8750a;
	text-shadow: 1px 1px #963;
	font-family: 'Lucida Grande', sans-serif;
}

#new_status button:hover {
	background-color: #f93;
	border-color: #e8750a;
}

#leftcolumn #new_status input.status_message {
	width: 450px;
}

#sidebar #new_status input.status_message {
	width: 270px;
}

#new_status input:active, #new_status input:focus {
	background-color: #fffde6;
}

#new_status p{
	margin:0;
}

#sidebar #status_update.box{
	background:#edf8fc;
}


input.checkbox {
	float:left;
	display: inline;
	width: auto;
	margin: 0 7px 0px 10px;
	height: 14px;
	padding: 0px;
}

#friend_activity {
	padding-bottom: 2em;
}

#friend_activity .meta {
	clear: none;
}

.status .avatar img {
	float: left;
	margin: 0 .5em 5px 0;
	padding: 2px;
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
}



#statuses, .statuses {
	list-style: none;
	margin: 0;
	padding: 0;
}

.status p, .comment p {
	margin: 0;
}

.status p.message {
	line-height: 1.4em;
	margin-left: 1px;
}

.status {
	padding-bottom: 2px;
	margin-bottom: 8px;
	border-bottom: 1px dashed #ddd;
}

.message {
	display: block;
	line-height: 22px;
}

#statuses li .recentmessage, .statuses li .recentmessage {
	font-size: 2.1em;
	line-height: 28px;
}

.statuses li {
	clear: left;
	list-style: none;
	overflow: hidden;
	font-family: 'lucida grande', tahoma, arial, sans-serif;
	color: #333;
	margin: 0 0 10px;
	padding: 5px;
	font-size:0.9em;
}

#sidebar .statuses li {
	background: #d7eef6;
	border: 0 none;
}

.status .posted, .status .utility, .status .meta, .comment .meta {
	color: #999;
	font-size: .8em;
	display: inline;
	float: left;
	padding-right: 5px;
	font-family: "Lucida Grande", Arial, sans-serif;
}

.status .posted, .comment .meta  {
	clear: left;
}

.status .meta .posted, .comment .meta  {
	clear: none;
	float: none;
}

.status .meta, .status .posted {
	padding-left: 12px;
	background:url(/images/arrow2.png) no-repeat 0 50%;
	margin: 1px 0 3px;
}

#statuses .message {
	float: left;
}

.message a{
	color:#0684ad;
}

.status .profile_image {
	float: left;
	padding-right: 10px;
	margin-bottom: 10px;
}

.direct_message, .comment {
	border-bottom: 	1px solid #ddd;
	padding-bottom: 8px;
	margin-bottom: 	9px;
}

.direct_message h5, .direct_message p {
	margin:0;
}

.direct_message .meta {
	font-size: 0.85em;
	color: #777;
}

.direct_message h5 a{
	border-bottom: 1px dashed #ccc;
}

.direct_message img.left {
	margin-bottom: 2px;
	border:1px solid #fff;
}

.direct_message.admin, .media_request.admin {
	background-color: #fed;
	padding: 1em;
	border: 0 none;
}

/* @end */

/* @group restaurants ---------------
 */

div.restaurant {
	font-size: 1em;
}

.restaurant .media_requests_count {
	font-size: 0.7em;
	padding: 0 .8em;
	display: inline-block;
}

.restaurant .media_requests_count a{
	border: 0 none;
	color: #555;
}

.restaurant a{
	padding-left:15px;
	background:url(/images/arrow2.png) no-repeat left;
	display:inline-block;
	margin:5px 0;
}
.restaurant .media_requests_count a{
	background:0;
	padding-left:0;
}
.my_restaurants a{
	color:#008bc4;
}
.my_employers{
	padding:10px 0 0;
}
.my_employers a{
	color:#e8750a;
}
.restaurant a:hover{
	text-decoration:underline;
}

.add_restaurant a {
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	margin: 1em 0;
}

#restaurant_employees p {
	margin: 0;
}

#restaurant_employees .user.box {
	min-height: 54px;
}

#restaurant_employees .responsibilities {
	font-size: .9em;
	color: #555;
}

.restaurant_role a {
	float: right;

}

.restaurant_role a span {
	display: inline-block;
	outline:0;
	text-indent:-9999px;
	width: 12px;
	height: 12px;
}
.restaurant_role a span.edit{
	background: url("../images/pencil.png") no-repeat 0 -2px;
	margin-right:15px;
}
.restaurant_role a span.delete{
	width:18px;
	height:18px;
	background: url("../images/x.png") no-repeat 0 -2px;
}

.employment {
	border-top: 1px dashed #ccc;
}

.employment * {
	font-family: "Lucida Grande", helvetica, arial, sans-serif;
}

.employment .employee_section {
	padding-top: 1em;
	min-height: 54px;
}

.employment .restaurant_role, .employment .name {
	margin-bottom: 3px;
	font-weight: bold;
}

.employment .name, .employment .name a {
	font-size: 1em;
	color: #008bc4;
}

.employment .restaurant_role {
	color: #444;
}

.employment a.avatar img {
	float: left;
	margin: 0 1em 1em 0;
	border: 1px solid #ccc;
	width: 35px;
	height: 35px;
	padding: 3px;
}

.employment .responsibilities, .employment .actions {
	font-size: .9em;
	margin: 0;
}


.employments {
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
}

.employments .actions li {
	list-style: none;
	padding-left: 12px;
	background:url(/images/arrow2.png) no-repeat 0 50%;
	margin: 1px 0 3px;
}

.employments .actions li a {
	font-weight: bold;
}


.discussion_actions {
	margin-top: -10px;
	padding: .5em 1em;
	background-color: #f0f0f0;
}

.new_discussion {
	margin: 3px 0;
	height: 20px;
}

.discussion h1 {
	float: none;
	display: block;
}

.discussion h1 img {
	float: left;
	margin: -2px 9px 3px 0;
}

.discussion .avatar {
	text-align: right;
}

.discussion .meta {
	font-family: "Lucida Grande", helvetica, arial, sans-serif;
	font-size: .9em;
}

.discussion .meta_label {
	color: #999;
}

.discussion .header {
	margin-bottom: 1em;
}

.discussion .header p {
	margin-bottom: 0;
}

.discussion .body {
	font-size: 1.1em;
}


/* @end */


/* @group comments  ---------------- */

.comment .avatar {
	width: 60px;
	padding: 3px 0;
	float: left;
}

.comment .avatar img {
	width: 50px;
	height: 50px;
}

.comment .content {
	margin-left: 60px;
}

.add-another {
	clear: both;
	margin: 1em 0;
}

.add-another a{
	padding-left: 20px;
	padding-top: 3px;
	background: url(../images/plus.png) no-repeat 0 0;
}

.attachfield {
	clear: both;
	padding-bottom: 1em;
	padding-left: 1px;
}

.attachfield input {
	float: left;
}

.attachfield .remove_attachment {
	text-indent: -9999px;
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background: url(../images/x.png) no-repeat;
	overflow: hidden;
	margin: 3px 5px 0;
}


/* @end */


/* @group media requests ------------ */

#media_requests {
	margin-bottom: 2em;
}

#media_requests .media_request{
	cursor:pointer;
	padding:5px;
}
#media_requests .media_request:hover{
	background:#eee;
}

.media_request .message {
	font-size: 1.2em;
}

.media_request .meta {
	color: #999;
	font-size: .9em;
	font-family: "Lucida Grande", arial, sans-serif;
}

ul.responses {
	list-style: none;
	padding: 0;
	margin: 10px 0 0;
}

.responses li {
	font-size: 1.16em;
	border-bottom: 1px solid #fff;
}

.responses li a, .responses li.noone {
	background-color: #f0f3fc;
	padding: 3px 8px 2px;
	display: block;
	color: #555;
}

.responses li.noone {
	background-color: #fafafa;
	color: #666;
}

.responses li a.new {
	color: #393;
	background-color: #d9fad4;
}

.responses li a:hover {
	background-color: #eee;
}

.responses li .commentdate {
	float: right;
	margin-left: 2em;
	font-size: .71em;
	line-height: 18px;
	color: #999;
	font-family: "Lucida Grande", arial, sans-serif;
}

.responses li a:after {
	content: " \279E";
}

.user_info, .manager_and_facts{
	font-family:"Lucida Grande", Arial, sans-serif;
}

.user_info p, .manager_and_facts p{
	margin:0 0 5px;
}
.manager_and_facts{
	padding-top:40px;
}
.user_info span, .manager_and_facts span{
	color:#0487b1;
	font-weight:bold;
}

.media_request.summary {
	border-bottom: 	1px dashed #ddd;
	padding-bottom: 8px;
	margin-bottom: 	9px;
}

.media_request.summary p {
	margin-bottom: 0;
}

.media_request.extended {
	background-color: #fffce9;
	-webkit-box-shadow: 4px 3px 15px #baa;
	-moz-box-shadow: 4px 3px 15px #baa;
	box-shadow: 4px 3px 15px #baa;
	border: 0 none;
	margin: 2.0em 0.5em;
	padding: 1.5em;
}

.media_request .attachments {
	float: right;
	width: 220px;
	min-height: 100px;
	background-color: #fec;
	border: 0 none;
}

.attachments ul {
	list-style: none;
	margin: 0;
}

.media_request h3 {
	color: #a99;
	font-size: 1.1em;
	font-family: "Trebuchet MS", helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: normal;
	margin-bottom: 1em;
}

.media_request .message p {
	font-family: Georgia, serif;
	font-size: 1.0em;
	line-height: 1.75em;
	margin: .5em 0;
}

.media_request p.message {
	font-size: 1.2em;
}

.media_request .meta {
	color: #666;
	font-size: .9em;
}

.media_request .reply_link {
	float: right;
	margin-left: 10px;
}
.media_request .reply_link a {
	font-family: "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: .9em;
	padding: 2px 4px;
	color: #1D9BBB;
}

.media_request .reply-link a:after {
	content: " \279E";
}

.media_request .reply_link a:hover {
	color: #333;
	background-color: #fec;
}


.media_request_group {
	margin: 3em 0;
}

.media_request_group h4 {
	border-bottom: 1px solid #999;
}

.media_request_group h4 span {
	background-color: #999;
	padding: 2px 6px;
	color: #fff;
}

/* @end */



/* @group users --------------------- */

p.editprofile {
	font-family: 'lucida grande', tahoma, arial, sans-serif;
	font-weight: bold;
	font-size: .9em;
	line-height: 20px;
}

p.editprofile a {
	margin: 0;
	float: none;
	border: 1px solid #c9e1f9;
	background-color: #edfbff;
	color: #1d9bbb;
	padding: 2px 5px;
}

p.editprofile a:hover {
	background-color: #1d9bbb;
	color: #fff;
}

#user_profile_view, .user.box, #restaurant_profile_view {
	border: 1px solid #ddd;
	background-color: #fff;
	margin-bottom: 30px;
	-moz-box-shadow: 1px 1px 3px #ddd;
	-webkit-box-shadow: 1px 1px 3px #ddd
}

#user_profile_view {
	background: #fff url(../images/white_gray.png) 50% 0;
}

#user_profile_view img, #restaurant_profile_view img{
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	float: left;
	display: inline;
	margin: 0px 12px 6px 0px;
	}

#user_profile_view h2, .user.box h2 {
	margin: 0px;
	padding: 0px;
	font:bold 1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

#user_profile_view h3, .user.box h3, #user_profile_view p, .user.box p {
	line-height: 21px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font:bold 1em "Lucida Grande", Arial, sans-serif;
	}
#user_profile_view h4, .user.box h4 {
	margin:5px 0px;
	font-weight: bold;
	padding: 0px;
	clear: both;
	}

#user_profile_view p, .user.box p {
	margin: 0px 0px 12px 0px;
	padding: 0px;
	}

.user.box {
	margin-bottom: 18px;
}

.recent_statuses{
	padding:10px;
	border:solid #ddd;
	border-width:0 0 1px;
}

.user.box img {
	width:25px;
	height:25px;
	padding: 2px;
	border: 1px solid #ccc;
	background-color: #fff;
	float: left;
	display: inline;
	margin-right: 12px;
}

ul.user_profile_actions {
	text-align: right;
	float: none;
	min-height: 30px;
	margin: 10px 0px;
	padding: 0px;
}

	ul.user_profile_actions li {
		font-weight: bold;
		font-size: 1em;
		line-height: 22px;
		float: left;
		display: inline;
		margin: 0px 5px .5em 0px;
	}
	
	ul.user_profile_actions li a {
		margin: 0;
		line-height: 14px;
		padding-left: 12px;
		padding-right: 12px;
		float: left;
		text-transform: none;
		background-color: #e8750a;
		color: #fff;
		border-color: #e8750a;
		text-shadow: 1px 1px #963;
		font-family: 'Lucida Grande', sans-serif;
	}
	
	ul.user_profile_actions li a:hover {
		background-color: #f93;
		border-color: #e8750a;
	}



#user_content h4 a{color:#0684ad; }

#user_content ul {
	list-style: none;
	margin: 0 0 1em;
}

#user_content ul li {
	display: block;
	margin: 5px 0px;
	padding:10px;
	}
	#user_content ul li.even{
		background:#f2f2f2;
	}

	#user_content ul li img {
		float: left;
		display: inline;
		padding: 3px;
		border: 1px solid #eaeaea;
		background-color: #f9f9f9;
		margin: 0px 10px 5px 0px;
	}

	#user_content ul li h4 {
		font-weight: bold;
		margin: 4px 0px 4px 0px;
	}

	#user_content ul li p {
		margin: 5px 0px;
		color: #333;
		font-family: 'lucida grande', tahoma, arial, sans-serif;
		font-size: .9em;
		}

		.button{
			font-family:'helvetica neue', helvetica, tahoma, arial, sans-serif;
		}
		a.sf-button {
			font:bold 0.9em 'L', helvetica, tahoma, arial, sans-serif;
			border: 1px solid #c9e1f9;
			background-color: #edfbff;
			color: #1d9bbb;
			padding: 2px 5px;
			text-transform:uppercase;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
		}

		a.sf-button:hover {
			background-color: #0089c2;
			color: #fff;
			text-decoration: none;
		}

#user_content h3 {
	margin: 20px 0px 4px 0px;
	color:#333;
	}


h3.function-bold{
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:1px solid #ddd;
	text-transform:uppercase;
	font-weight:normal;
	font-size:1.3em;
}
#sidebar h3{
	color:#989898;
}


#user_content p.more_statuses {
	font-family: 'lucida grande', tahoma, arial, sans-serif;
	font-size: .9em;
	font-weight: bold;
	background-image: url(/images/bluearrow.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
	background-position: 0px 2px;
	margin: 0px;
	line-height: 15px;
}

#user_content p.more_statuses a {
	color: #1D9BBB;
	}

/* @end */

/* @group feeds ---------------------*/

.feed .handle {
	cursor: move;
}

.feed {
	padding: 0 16px;
	margin-bottom: 2em;
}

.feed > .title {
	background-color: #0587c1;
	color: #fff;
	padding: 6px 16px;
	margin: 0 -16px 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Lucida Grande", helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.4em;
	text-shadow: 1px 1px 0 #058;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
}

.feed_entry {
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 1px dashed #ddd;
	position: relative;
}

.feed_entry_body {
	margin: 0;
	padding: 0;
	display: none;
}

.feed_entry_body, .feed_entry_header {
	padding-left: 18px;
}

.feed_entry_header {
	cursor: pointer;
}

.feed_entry .title a {
	color: #222;
}

.feed_entry .title a:hover {
	color: #0587C1;
}

.feed_entry .title{
	margin: 0;
	font-family: "Lucida Grande", arial, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
}

.feed_entry .meta {
	font-family: "Lucida Grande", arial, sans-serif;
	margin: 0;
	font-size: .9em;
	color: #777;
}

.feed_entry .meta span {
	margin-right: 15px;
}

.feed_entry .summary {
	margin: 0.5em 0 0.5em -18px;
	padding: 3px 18px 5px;
	cursor: pointer;
}

.feed_entry .summary.hover {
	background-color: #cef;
}

.feed_entry .indicator {
	margin-top: 2px;
	margin-left: -14px;
	display: block;
	float: left;
	height: 14px;
	width: 11px;
	background: url('../images/rssarrows.gif') 0px 14px;
}

.feed_entry.open .indicator {
	background-position: 0 0;
}

.feed_entry.read .indicator {
	background-position: 11px 13px;
}

.feed_entry.read.open .indicator {
	background-position: 11px 0;
}


/* @end */

/* @group tables -------------------- */

#leftcolumn table {
	max-width: 637px;
}

table {
	border: 1px solid #ccc;
	font-family: 'lucida grande', tahoma, arial, sans-serif;
}

table caption {
	font-size: 1em;
	line-height: 16px;
	font-weight: bold;
	color: #333;
}

table th {
	font-size: 1em;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #ccc;
	background-color: #fafaff;
}

table tfoot th, table tfoot td {
	font-size: .9em;
	font-weight: normal;
	background-color: #333;
	color: #ccc;
	line-height: 12px;
}

table td {
	font-size: 1em;
	font-weight: normal;
	color: #333;
}

tr:hover td {
	#background-color: #ffd;
}

tr.even td {
	background-color: #fafafa;
}

tr.restaurant { font-size: 1em; }

td.actions, td.utility {
	font-size: .8em;
}

td.utility {
	padding-left: 1em;
	padding-right: 1em;
	word-spacing: 3px;
	width: 95px;
}

td.actions {
	width: 2em;
}

td.actions a {
	border-bottom: 0;
	color: #999;
}

td.actions a:hover {
	border-bottom: 0;
	color: #333;
}

td.actions.approve_link {
	font-size: .9em;
}

td.actions.approve_link a {
	color: #778;
}


/* @end */

/* @group forms -------------------- */

fieldset {
	border: 1px solid #ccc;
	font-family: 'lucida grande', tahoma, arial, sans-serif;
}

button.round {
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
}

legend {
	font-size: 1em;
	color: #333;
	font-weight: bold;
}

legend label {
	white-space:normal;
}

label {
	font-weight: normal;
	font-family: 'lucida grande', tahoma, arial, sans-serif;
	font-size: .9em;
	display: block;
	color: #333;
	margin: 0px;
	padding: 0px;
}

textarea {
	color: #222;
	height:auto;
	border-color: #aaa;
}

select {
	font-size: .9em;
}

option {
	padding: 3px 3px 0px 3px;
}

.fields .fieldname {
	display:block;
	font-weight:bold;
}

.formbox {

}

.formbox input {
	width: 220px;
	padding: 2px;
	margin: 0px;
}

.formbox select {
	width: 220px;
	padding: 1px;
	margin: 0px;
}

.formbox input.submit {
	width: auto;
}

.formbox h3 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.formbox p {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

#login p.forgot {
	font-size: .8em;
	font-family: 'lucida grande', tahoma, arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

#login p.forgot a {
	color: #69A74D;
	background-color: #f2ffec;
	padding: 2px 5px;
}

#login p.forgot a:hover {
	background-color: #69A74D;
	color: #fff;
}

form .first_name, form .last_name {
	float: left;
	margin-right: 10px;
}

form .first_name input.text, form .last_name input.text {
	width: 138px;
}


.formtastic ol {
	list-style:none;
	margin:0;
	padding:0;
}

.formtastic li {
	margin-bottom:1em;
}

form .date li {
	float:left;
	margin-right: 1em;
	margin-bottom: 0;
}

form .date fieldset {
	padding:0;
	border: 0 none;
}

form .inline-hints {
	font-size: .85em;
	color: #666;
	margin-bottom:0;
}

form .inline-errors {
	color: #8A1F11;
	margin-bottom:0;
}

form.faceted label {
	font-weight:bold;
}

form.faceted .multiple_checkbox label {
	font-weight:normal;
}


input[type="checkbox"], input[type="radio"], input.checkbox, input.radio {
	top:1px;
}

ul.multiple_checkbox {
	list-style:none;
	margin:0;
	height: 120px;
	overflow:auto;
	border:1px solid #ddd;
}

ul.multiple_checkbox li {
	margin:0;
}

label abbr {
	border-bottom:0 none;
	font-weight:bold;
	color: #8A1F11;
	padding:0 1px;
}

.boolean input, .check_boxes input {
	margin: 0 .5em 0 0;
	top:1px;
}


.string input, .numeric input, .password input {
	width:300px;
	padding:5px;
	margin:0.5em 0;
}

.check_boxes fieldset {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.check_boxes li {
	margin: 0 0 .5em;
	width: 25%;
	float: left;
}

form .column li, form .restaurant_list li {
	width: auto;
	float: none;
}


.restaurant_list li {
	font-size: 1.2em;
}

#media_request_restaurant_role_ids_input li {
	width: 48%;
	padding: 0 2% 0 0;
	float:left;
}

form li.list_or {
	font-size: 2em;
	color: #bbb;
	font-weight:bold;
	padding: 1em 0;
}

form li.list_or span {
	padding:0 .5em;
}

form .checkall_link label {
	font-weight: bold;
}


.datetime fieldset li {
	float: left;
	margin-right: 1em;
}

/* @end */

/* @group blueprint extensions -------- */

img.left {
	float: left;
	margin: 0 10px 10px 0;
}

img.right {
	float: right;
	margin: 0 0 10px 10px;
}

.round {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.box {
	padding: 1em;
	background: none;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.marginright {
	margin-right: 34px;
}

.marginleft {
	margin-left: 34px;
}

.hidden {
	display: none;
}

/* @end */

/* @group footer --------------------*/

#footer {
	border-top: 1px solid #ddd;
	padding: 20px 0px;
}

#footer ul {
	margin: 0px;
	padding: 0px;
}

#footer li {
	font-family: 'helvetica neue', 'lucida grande', helvetica, arial, sans-serif;
	font-size: 1.1em;
	color: #333;
	margin: 0px 7px 0px 0px;
	padding: 0px 14px 0px 0px;
	display: inline;
}

#footer li a {
	color: #0089C2;
	background-color: #edfbff;
	border: 1px solid #cdeff8;
	text-decoration: none;
	padding: 2px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#footer li a:hover {
	background-color: #0089C2;
	border-color: #0089C2;
	color: #fff;
}

/* @end */

/* @group application ---------------- */

#flashes {
	min-height: 30px;
	margin-bottom: 1em;
}

#flash_notice, #flash_error, #flash_success {
	padding: 5px 8px;
}

#flash_notice, #flash_success {
	background-color: #CFC;
	border: solid 1px #6C6;
}

#flash_error {
	background-color: #FCC;
	border: solid 1px #C66;
}

.fieldWithErrors {
	display: inline;
}

#errorExplanation {
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 8px;
}

#errorExplanation ul {
	margin: 2px 24px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: disc;
}

.button-separator {
	float: left;
	line-height: 18px;
	margin: 1em 1em 1em .5em;
}

.trash img {
	padding: 3px 1px 0;
}

#admin_users_list td.thumb {
	max-width: 52px;
	font-size: 8px;
}

#admin_users_list .thumbnail {
	width: 50px;
	height: 50px;
	margin: 0;
}

tr.admin td {
	background-color: #fdc;
}

.box.none {
	border: 0 none;
	background-color: #edfbff;
}


.pagination {
	text-align: right;
}

.pagination .disabled {
	display: none;
}

.pagination a, .pagination > span {
	display: inline-block;
	padding: 1px 8px 1px;
	line-height: 18px;
	height: 18px;
	margin-left: 6px;
	border: 1px solid #cdeff8;
	font-size: 1.1em;
	font-weight: bold;
	color: #0587c1;
	text-transform: uppercase;
}

.pagination a:hover, .pagination .current {
	background-color: #0587c1;
	color: #fff
}


/* @end */

/* @group datepicker ui --------------- */

.ui-datepicker {
	background-color: #fff;
	background-color: rgba(250,250,250,0.8);
	padding: 8px;
	border:1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ui-datepicker table {
	margin:0;
}


.ui-datepicker table td {
	padding:0;
	text-align:right;
	background-color:#fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

a.ui-state-default {
	padding: 2px 10px 3px 5px;
}

a.ui-state-default:hover {
	font-weight:bold;
}

.ui-datepicker-title {
	text-align:center;
	font-size: 1.1em;
}

.ui-datepicker-prev, .ui-datepicker-next {
	position:absolute;
	top:0;
	padding:5px;
	cursor:pointer;
}

.ui-datepicker-prev {
	left:0;
}

.ui-datepicker-next {
	right:0;
}

.ui-helper-hidden-accessible {
	display:none;
}

/* @end */

/* @group autocomplete ui ------------ */

.ac_results {
	padding: 0px;
	border: 1px solid #333;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('/images/indicator.gif') 100% 50% no-repeat;
}

.ac_odd {
	background-color: #f3f3f9;
}

.ac_over {
	background-color: #669;
	color: white;
}

/* @end */


/* @group CKEditor overrides ui ---------*/


form span.cke_skin_kama {
	border: 0 none;
	padding: 0;
}

form .cke_skin_kama .cke_wrapper {
	border: 1px solid #ccc;
}


/* @end */