<%
  form_params = if topic.new_record?
    {:url => admin_topics_path(:responder_type => params[:responder_type]), :method => :post }
  else
    {:url => admin_topic_path(:responder_type => params[:responder_type], :id => topic.id), :method => :put}
  end %>

<% semantic_form_for [:admin, topic], form_params do |f| %>
    <% f.inputs do %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :responder_type, :as => :hidden, :value => params[:responder_type]%>
    <% end %>
    <p><%= button_tag "Save Topic" %></p>
<% end %>
