<% semantic_form_for [:admin, topic], :url => edit_admin_topic_path(:responder_type => params[:responder_type], :id => topic.id) do |f| %>
    <% f.inputs do %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :responder_type, :as => :hidden, :value => params[:responder_type]%>
    <% end %>
    <p><%= button_tag "Save Topic" %></p>
<% end %>
