<% title "You have subscribed follwoing restaurants", false %>

<div id="restaurant_profile_view" class="edit clear clearfix">
    <div id="editing_restaurant">
        <div id="restaurant_pages" class="clearfix">

              <div id="restaurant_features_content" style="width:100%">
                <h1 class="pg_title">Subscriptions</h1>
                <!-- Remove as for the client requriment rachna  -->
                 <%#= link_to "Unsubscribe All",mediafeed_unsubscribe_path,:confirm => "Are you sure, you want to unsubscribe all restaurants?" %>                                           
                <!-- <div id="read_messages" style="width:670px;margin:0;"> -->
                  <div class="editing clearfix clear">
                    <% @subscriptions.each do |subscription| %>
                      <%= render :partial => 'restaurants/identity', :locals => { :user => subscription.restaurant } %>
                      <% end %>
                    <% @digest_subsriptions.flatten.compact.uniq.each do |restaurant| %>
                      <%= render :partial => 'restaurants/identity_all', :locals => { :user => restaurant } %>
                      <% end %>
                        
                  <br>
                   <p>You can subscribe to follow restaurants on the Account tab. By subscribing, you will be selecting the restaurants whose profile updates will be included in one daily email that arrives in your inbox each morning.
                  </p>
                  <!--<div class=" clearfix clear">
                      <%# semantic_form_for(@user, :url => mediafeed_media_opt_update_path, :html => { :method => :put }) do |f| %>
                      <%# f.semantic_fields_for :media_newsletter_setting do |mns| -%>
                          <%#= mns.input :opt_out,:as =>:boolean,:label=>" Do not send me newsletters at this time"%>
                        <%#= submit_tag "Save" %>
                      <%# end %>

                    <%# end %>
                  </div> -->   
                </div> 
              </div>
                <!-- </div> -->
        </div>
    </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->