<% title "Listing Messages" %>

<p class="clearfix">
  <%= link_to "New QOTD", new_admin_qotd_path, :class => 'positive button' %>
  <%= link_to "New Announcement", new_admin_announcement_path, :class => 'positive button' %>
  <%= link_to "New PR Tip", new_admin_pr_tip_path, :class => 'positive button' %>
</p>

<% @message_groups.each do |klass, messages| %>

  <h3><%= pluralize messages.length, klass.title %></h3>

  <% table_for(messages) do |t| %>
    <% t.data :actions => :edit do
        t.cell :message
        t.cell :sent_at
       end %>
  <% end %>

<% end %>
