/* line 4, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 20, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
body {
  font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f6f4f3 url(/images/soapbox/bg-site.jpg) repeat-x;
}

/* line 25, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#container {
  width: 974px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
}

/* line 30, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#utilities {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
/* line 35, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#utilities a {
  display: block;
  outline: 0;
  text-indent: -9999px;
  float: left;
  height: 24px;
  background: url(/images/soapbox/bg-header-tabs.png) no-repeat;
}
/* line 41, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#utilities #search-handle {
  margin-right: 8px;
  width: 112px;
  background-position: 0 0;
}
/* line 45, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#utilities #search-handle:hover {
  background-position: 0 -200px;
}
/* line 49, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#utilities #ria-hq {
  width: 61px;
  background-position: -120px 0;
}
/* line 52, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#utilities #ria-hq:hover {
  background-position: -120px -200px;
}

/* line 59, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#header {
  background: url(/images/soapbox/bg-nav.png) no-repeat;
  margin: 40px 0 30px;
  height: 88px;
  padding: 15px;
}

/* line 66, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#logo {
  display: block;
  outline: 0;
  text-indent: -9999px;
  width: 160px;
  height: 73px;
  background: url(/images/soapbox/logo-soapbox.png) no-repeat;
  float: left;
}

/* line 74, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#tagline {
  display: block;
  outline: 0;
  text-indent: -9999px;
  float: left;
  padding: 45px 65px 0 10px;
  width: 117px;
  height: 31px;
  background: url(/images/soapbox/logo-tagline-soapbox.png) no-repeat 10px 45px;
}

/* line 83, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#main {
  overflow: hidden;
}

/* line 87, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 728px;
  background: url(/images/soapbox/bg-white-opacity-55.png);
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content {
  overflow-x: hidden;
}

/* line 92, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#inside {
  margin: 10px 10px 0;
  padding: 10px;
  background: #fff;
}

/* line 98, ../../../../Compass/spoonfeed/soapbox/src/site.scss */
#sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 236px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@compass/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sidebar {
  overflow-x: hidden;
}
