/* line 4, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 14, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 107, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../../../app/stylesheets/soapbox.scss */
body {
  font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f6f4f3 url(/images/soapbox/bg-site.jpg) repeat-x;
  color: #333333;
}

/* line 27, ../../../app/stylesheets/soapbox.scss */
#container {
  width: 974px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
}

/* line 10, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -175px;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #sticky-footer-pad {
  height: 175px;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 175px;
}

/* line 34, ../../../app/stylesheets/soapbox.scss */
#container {
  margin-bottom: -185px;
}

/* line 38, ../../../app/stylesheets/soapbox.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 15px;
}

/* line 44, ../../../app/stylesheets/soapbox.scss */
#utilities {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
/* line 49, ../../../app/stylesheets/soapbox.scss */
#utilities a {
  display: block;
  outline: 0;
  text-indent: -9999px;
  float: left;
  height: 24px;
  background: url(/images/soapbox/bg-header-tabs.png) no-repeat;
}
/* line 55, ../../../app/stylesheets/soapbox.scss */
#utilities #search-handle {
  margin-right: 8px;
  width: 112px;
  background-position: 0 0;
}
/* line 59, ../../../app/stylesheets/soapbox.scss */
#utilities #search-handle:hover {
  background-position: 0 -200px;
}
/* line 63, ../../../app/stylesheets/soapbox.scss */
#utilities #ria-hq {
  width: 61px;
  background-position: -120px 0;
}
/* line 66, ../../../app/stylesheets/soapbox.scss */
#utilities #ria-hq:hover {
  background-position: -120px -200px;
}

/* line 73, ../../../app/stylesheets/soapbox.scss */
#header {
  background: url(/images/soapbox/nav.png) no-repeat;
  margin: 40px 0 30px;
  height: 88px;
  padding: 15px 0px 15px 15px;
}

/* line 80, ../../../app/stylesheets/soapbox.scss */
#logo {
  display: block;
  outline: 0;
  text-indent: -9999px;
  width: 160px;
  height: 73px;
  background: url(/images/soapbox/logo-soapbox.png) no-repeat;
  float: left;
}

/* line 88, ../../../app/stylesheets/soapbox.scss */
#tagline {
  display: block;
  outline: 0;
  text-indent: -9999px;
  float: left;
  padding: 45px 65px 0 10px;
  width: 117px;
  height: 31px;
  background: url(/images/soapbox/logo-tagline-soapbox.png) no-repeat 10px 45px;
}

/* line 98, ../../../app/stylesheets/soapbox.scss */
#nav a {
  font-family: 'MuseoSlab300', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 300;
  width: 100px;
  height: 58px;
  margin: -20px 10px 0 0;
  padding: 76px 0 0 13px;
  float: left;
  color: #CB4827;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}
/* line 109, ../../../app/stylesheets/soapbox.scss */
#nav a:hover {
  color: #474F80;
}
/* line 112, ../../../app/stylesheets/soapbox.scss */
#nav a.selected {
  font-family: 'MuseoSlab700', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 700;
  color: #fff;
  margin-right: 0;
  text-shadow: 0px 1px 1px #333;
  padding: 76px 20px 0px 23px;
  width: 80px;
  background: url(/images/soapbox/bg-nav-current.png) no-repeat;
  background-position: 0px -3px;
}
/* line 122, ../../../app/stylesheets/soapbox.scss */
#nav a.last {
  margin-right: 0;
}

/* line 128, ../../../app/stylesheets/soapbox.scss */
#main {
  overflow: hidden;
}

/* line 131, ../../../app/stylesheets/soapbox.scss */
body, html, #container, #main, #content, #inside {
  height: 100%;
}

/* line 135, ../../../app/stylesheets/soapbox.scss */
#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 728px;
  padding: 10px 0 0;
  background: url(/images/soapbox/bg-white-opacity-55.png);
  background: rgba(255, 255, 255, 0.55);
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content {
  overflow-x: hidden;
}
/* line 140, ../../../app/stylesheets/soapbox.scss */
#content #page-title h1 {
  font-family: 'MuseoSlab300', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 300;
  color: #333;
  font-size: 20px;
  margin: 8px 0 12px 15px;
  text-shadow: 0px 1px 0px #fff;
}
/* line 148, ../../../app/stylesheets/soapbox.scss */
#content.home {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 810px;
  /*jumbotron */
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content.home {
  overflow-x: hidden;
}
/* line 150, ../../../app/stylesheets/soapbox.scss */
#content.home #jumbotron {
  margin: 0 0 25px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #cb4827;
}
/* line 156, ../../../app/stylesheets/soapbox.scss */
#content.home #jumbotron #display {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 730px;
  background: rgba(0, 0, 0, 0.75);
  padding: 25px;
  z-index: 1000;
}
/* line 164, ../../../app/stylesheets/soapbox.scss */
#content.home #jumbotron #display h1 {
  color: #cb4827;
  font-family: 'MuseoSlab700', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  width: 575px;
  text-shadow: 0 1px 0 #333;
  padding: 0;
  margin: 0;
}
/* line 174, ../../../app/stylesheets/soapbox.scss */
#content.home #jumbotron #display summary {
  width: 575px;
  padding: 10px 0;
  font-size: 15px;
  line-height: 1.3;
  color: #fff;
}
/* line 180, ../../../app/stylesheets/soapbox.scss */
#content.home #jumbotron #display summary a {
  color: #cb4827;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
/* line 188, ../../../app/stylesheets/soapbox.scss */
#content.home #jumbotron #pager {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 192, ../../../app/stylesheets/soapbox.scss */
#content.home #jumbotron #pager a {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 10px;
  -moz-border-radius: 350px;
  -webkit-border-radius: 350px;
  -o-border-radius: 350px;
  -ms-border-radius: 350px;
  -khtml-border-radius: 350px;
  border-radius: 350px;
  font-family: 'MuseoSlab700', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.5;
  text-decoration: none;
  color: #000;
  background: #cb4827;
}
/* line 204, ../../../app/stylesheets/soapbox.scss */
#content.home #jumbotron #pager a.activeSlide, #content.home #jumbotron #pager a:hover {
  color: #fff;
  background: #e85f43;
}
/* line 211, ../../../app/stylesheets/soapbox.scss */
#content.home .panel {
  background: #fff;
  -moz-box-shadow: #d5ceca 0 0 3px 0;
  -webkit-box-shadow: #d5ceca 0 0 3px 0;
  -o-box-shadow: #d5ceca 0 0 3px 0;
  box-shadow: #d5ceca 0 0 3px 0;
}
/* line 214, ../../../app/stylesheets/soapbox.scss */
#content.home .panel section {
  padding: 10px;
}
/* line 216, ../../../app/stylesheets/soapbox.scss */
#content.home .panel section img {
  float: left;
  margin: 0 15px 5px 0;
  padding: 3px;
  background: #fff;
  -moz-box-shadow: #999999 1px 1px 2px 0;
  -webkit-box-shadow: #999999 1px 1px 2px 0;
  -o-box-shadow: #999999 1px 1px 2px 0;
  box-shadow: #999999 1px 1px 2px 0;
}
/* line 223, ../../../app/stylesheets/soapbox.scss */
#content.home .panel section a {
  color: #333;
  text-decoration: underline;
}
/* line 226, ../../../app/stylesheets/soapbox.scss */
#content.home .panel section a img {
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  padding: 0;
  background: 0;
}
/* line 231, ../../../app/stylesheets/soapbox.scss */
#content.home .panel section a:hover {
  color: #cb4827;
}
/* line 234, ../../../app/stylesheets/soapbox.scss */
#content.home .panel section a.continue {
  text-transform: lowercase;
  text-decoration: none;
  display: inline-block;
  background: #cb4827;
  padding: 5px 10px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  -ms-border-radius: 80px;
  -khtml-border-radius: 80px;
  border-radius: 80px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #333;
}
/* line 244, ../../../app/stylesheets/soapbox.scss */
#content.home .panel section a.continue:hover {
  color: #fff;
  background: #666;
}
/* line 250, ../../../app/stylesheets/soapbox.scss */
#content.home .panel section p, #content.home .panel section summary {
  clear: both;
  font-size: 13px;
  padding: 15px 0;
  line-height: 1.4;
}
/* line 257, ../../../app/stylesheets/soapbox.scss */
#content.home .panel header {
  font-family: 'MuseoSlab500', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 500;
  margin: 0 10px 0;
  padding: 10px 0 0;
  font-size: 15px;
  color: #cb4827;
  border-bottom: 1px solid #cb4827;
}
/* line 258, ../../../app/stylesheets/soapbox.scss */
#content.home .panel header h1 {
  margin: 0;
}
/* line 269, ../../../app/stylesheets/soapbox.scss */
#content.home #home-pulse {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 277px;
  margin-right: 15px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content.home #home-pulse {
  overflow-x: hidden;
}
/* line 273, ../../../app/stylesheets/soapbox.scss */
#content.home #home-pulse section header {
  border: 0;
  margin: 0 0 10px;
  padding: 0;
}
/* line 277, ../../../app/stylesheets/soapbox.scss */
#content.home #home-pulse section header h1 {
  font-family: 'MuseoSlab500', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 500;
  color: #474f80;
}
/* line 284, ../../../app/stylesheets/soapbox.scss */
#content.home #home-featured-user {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 236px;
  margin-right: 15px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content.home #home-featured-user {
  overflow-x: hidden;
}
/* line 288, ../../../app/stylesheets/soapbox.scss */
#content.home #home-featured-restaurant {
  display: inline;
  float: left;
  margin-right: 0;
  width: 236px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content.home #home-featured-restaurant {
  overflow-x: hidden;
}

/*content */
/* line 294, ../../../app/stylesheets/soapbox.scss */
#page-content img {
  float: left;
  margin: 3px 15px 10px 0;
}
/* line 298, ../../../app/stylesheets/soapbox.scss */
#page-content #content-title h1 {
  font-size: 20px;
  color: #cb4827;
}
/* line 302, ../../../app/stylesheets/soapbox.scss */
#page-content h1 {
  font-family: 'MuseoSlab700', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 700;
  margin: 6px 0 12px 0;
}
/* line 306, ../../../app/stylesheets/soapbox.scss */
#page-content h2 {
  font-family: 'MuseoSlab500', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 500;
  font-size: 18px;
  padding: 0 0 2px;
  margin-top: 20px;
  clear: both;
  border-bottom: 1px solid #dddddd;
}
/* line 314, ../../../app/stylesheets/soapbox.scss */
#page-content h3 {
  font-size: 15px;
  margin: 20px 0 10px;
}
/* line 318, ../../../app/stylesheets/soapbox.scss */
#page-content ul {
  padding: 0;
  margin: 10px;
  list-style: none;
}
/* line 322, ../../../app/stylesheets/soapbox.scss */
#page-content ul li {
  background: transparent url(/images/soapbox/square.gif) no-repeat 0px 5px;
  margin: 0 8px;
  padding: 2px 0 4px 12px;
  line-height: 15px;
}
/* line 329, ../../../app/stylesheets/soapbox.scss */
#page-content ol {
  margin: 10px 10px 12px 20px;
  padding: 0px;
  list-style-position: inside;
  list-style: decimal;
}
/* line 334, ../../../app/stylesheets/soapbox.scss */
#page-content ol li {
  line-height: 15px;
  padding: 2px 0px 3px;
}
/* line 339, ../../../app/stylesheets/soapbox.scss */
#page-content p {
  line-height: 1.6;
  margin: 0 0 15px;
}
/* line 343, ../../../app/stylesheets/soapbox.scss */
#page-content a {
  color: #cb4827;
  text-decoration: none;
}
/* line 349, ../../../app/stylesheets/soapbox.scss */
#page-content a:hover {
  text-decoration: underline;
}

/* page-content */
/* line 355, ../../../app/stylesheets/soapbox.scss */
#inside {
  margin: 0 10px;
  padding: 23px;
  background: #fff;
  overflow: hidden;
}
/* line 360, ../../../app/stylesheets/soapbox.scss */
#inside.home {
  margin: 0 15px;
  background: 0;
  padding: 0 0 20px;
}

/* line 367, ../../../app/stylesheets/soapbox.scss */
#sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 236px;
  margin: 20px 0 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sidebar {
  overflow-x: hidden;
}
/* line 370, ../../../app/stylesheets/soapbox.scss */
#sidebar.home {
  display: inline;
  float: left;
  margin-right: 0;
  width: 154px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sidebar.home {
  overflow-x: hidden;
}
/* line 372, ../../../app/stylesheets/soapbox.scss */
#sidebar.home section {
  padding: 10px 0;
  margin: 10px 0;
}
/* line 375, ../../../app/stylesheets/soapbox.scss */
#sidebar.home section h1 {
  font-family: 'MuseoSlab700', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 700;
  font-size: 18px;
  color: #474f80;
}
/* line 380, ../../../app/stylesheets/soapbox.scss */
#sidebar.home section p {
  margin: 10px 0;
  line-height: 1.4;
}
/* line 383, ../../../app/stylesheets/soapbox.scss */
#sidebar.home section p a {
  color: #474f80;
  text-decoration: none;
}
/* line 386, ../../../app/stylesheets/soapbox.scss */
#sidebar.home section p a:hover {
  text-decoration: underline;
}

/*sidebar */
/* line 395, ../../../app/stylesheets/soapbox.scss */
#facebook-button {
  border-bottom: 1px dashed #474f80;
  margin-top: 0;
}

/* line 400, ../../../app/stylesheets/soapbox.scss */
#recent-activity {
  background: url(/images/soapbox/bg-sidebar-top-purple.png) no-repeat;
  padding: 0 15px 40px;
  position: relative;
  margin: 0 0 50px;
}
/* line 405, ../../../app/stylesheets/soapbox.scss */
#recent-activity h1 {
  font-family: 'MuseoSlab500', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #fff;
  padding: 25px 0 3px;
  border-bottom: 1px solid #ADB5D8;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #000;
}
/* line 415, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol {
  list-style: none;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
/* line 420, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol.ui-tabs-hide {
  display: none;
}
/* line 423, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol li {
  margin: 5px 0;
  padding: 5px;
  font-weight: bold;
  border-bottom: 1px dotted #6C769E;
}
/* line 428, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol li .feed-item-date {
  display: inline;
  opacity: 0.66;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  font-family: 'Knockout', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 500;
  font-size: 15px;
}
/* line 434, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol li .feed-item-title {
  display: inline;
}
/* line 436, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol li .feed-item-title a {
  text-shadow: 0 1px 0 #000;
  text-decoration: none;
  color: #fff;
  padding: 1px;
}
/* line 441, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol li .feed-item-title a:hover {
  background-color: #5FA1C6;
}
/* line 446, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol li .feed-item-reply-count {
  font-size: 11px;
  font-weight: normal;
  margin: 5px 0;
}
/* line 450, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol li .feed-item-reply-count a {
  color: #D6D9E8;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 454, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol li .feed-item-reply-count a .num {
  display: inline-block;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  -ms-border-radius: 80px;
  -khtml-border-radius: 80px;
  border-radius: 80px;
  background: #8a8dad;
  padding: 2px 5px;
  color: #fff;
  font-weight: bold;
}
/* line 462, ../../../app/stylesheets/soapbox.scss */
#recent-activity ol li .feed-item-reply-count a:hover, #recent-activity ol li .feed-item-reply-count a:hover .num {
  color: #fff;
}

/*recent-activity*/
/* line 472, ../../../app/stylesheets/soapbox.scss */
#activity-chooser {
  overflow: hidden;
}
/* line 474, ../../../app/stylesheets/soapbox.scss */
#activity-chooser a {
  font-family: 'Knockout', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 500;
  font-size: 18px;
  display: block;
  padding: 10px 8px;
  width: 80px;
  height: 47px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
  background: url(/images/soapbox/bg-sidebar-selector.png) no-repeat -115px -1px;
}
/* line 488, ../../../app/stylesheets/soapbox.scss */
#activity-chooser span {
  display: block;
  float: left;
}
/* line 491, ../../../app/stylesheets/soapbox.scss */
#activity-chooser span:first-child {
  margin-right: 5px;
}
/* line 495, ../../../app/stylesheets/soapbox.scss */
#activity-chooser .ui-state-active a, #activity-chooser a:hover {
  color: #474f80;
  text-shadow: 0 0 0 #fff;
  background-position: -3px -1px;
}

/* line 501, ../../../app/stylesheets/soapbox.scss */
#feed-bottom {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -30px;
  left: 0;
  background: url(/images/soapbox/bg-sidebar-bottom.png) no-repeat;
}

/* line 509, ../../../app/stylesheets/soapbox.scss */
#participate {
  padding: 4px 0 20px;
}
/* line 511, ../../../app/stylesheets/soapbox.scss */
#participate .button, #participate span {
  display: block;
  outline: 0;
  text-indent: -9999px;
  text-decoration: none;
  margin: 5px auto;
  width: 216px;
  height: 28px;
  background: url(/images/soapbox/buttons-login-participate.png) no-repeat;
}
/* line 518, ../../../app/stylesheets/soapbox.scss */
#participate .button:hover, #participate span:hover {
  background-position: -300px 0;
}
/* line 522, ../../../app/stylesheets/soapbox.scss */
#participate span {
  height: 30px;
  background-position: 0 -28px;
}
/* line 525, ../../../app/stylesheets/soapbox.scss */
#participate span:hover {
  background-position: 0 -28px;
}
/* line 529, ../../../app/stylesheets/soapbox.scss */
#participate #request-invite {
  background-position: 0 -58px;
}
/* line 531, ../../../app/stylesheets/soapbox.scss */
#participate #request-invite:hover {
  background-position: -300px -58px;
}
/* line 535, ../../../app/stylesheets/soapbox.scss */
#participate.home {
  font-family: 'MuseoSlab300', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 1.1;
  padding: 0;
}
/* line 541, ../../../app/stylesheets/soapbox.scss */
#participate.home .button, #participate.home span {
  color: #fff;
  text-indent: 0;
  text-shadow: 0 1px 0 #333;
  margin: 0;
  width: auto;
  height: auto;
  background: 0;
}
/* line 549, ../../../app/stylesheets/soapbox.scss */
#participate.home .button span, #participate.home span span {
  font-family: 'MuseoSlab700', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: normal !important;
  font-weight: 700;
}
/* line 553, ../../../app/stylesheets/soapbox.scss */
#participate.home .button {
  margin: 0 0 15px -25px;
  padding: 25px 30px 30px;
  background: url(/images/soapbox/bg-hp-tab1.png) no-repeat right 0;
}
/* line 557, ../../../app/stylesheets/soapbox.scss */
#participate.home .button:hover {
  background-position: right -100px;
}
/* line 561, ../../../app/stylesheets/soapbox.scss */
#participate.home #request-invite {
  padding-bottom: 40px;
  margin-bottom: 0;
  background: url(/images/soapbox/bg-hp-tab2.png) no-repeat right 0;
}
/* line 565, ../../../app/stylesheets/soapbox.scss */
#participate.home #request-invite:hover {
  background-position: right -100px;
}

/*participate */
/* line 572, ../../../app/stylesheets/soapbox.scss */
#footer {
  background: url(/images/soapbox/bg-footer.png) repeat-x;
  border-bottom: 10px solid #488CAA;
}

/* line 577, ../../../app/stylesheets/soapbox.scss */
#footer-logo {
  display: block;
  outline: 0;
  text-indent: -9999px;
  width: 166px;
  height: 88px;
  background: url(/images/soapbox/icon-footer-logo.png) no-repeat;
  float: left;
}

/* line 585, ../../../app/stylesheets/soapbox.scss */
#footer-container {
  width: 974px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 46px 0 0;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
}
/* line 591, ../../../app/stylesheets/soapbox.scss */
#footer-container p {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 10px;
}
/* line 595, ../../../app/stylesheets/soapbox.scss */
#footer-container a {
  color: #fff;
}
/* line 598, ../../../app/stylesheets/soapbox.scss */
#footer-container .social-media-links {
  float: left;
  width: 170px;
  padding: 10px 25px 0 15px;
  margin: 0;
  min-height: 70px;
  border-left: 1px dotted #aadaef;
}

/* line 608, ../../../app/stylesheets/soapbox.scss */
#legal {
  margin-top: 10px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 359px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.8.7-p302@spoonfeed/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #legal {
  overflow-x: hidden;
}
/* line 611, ../../../app/stylesheets/soapbox.scss */
#legal a:hover {
  text-decoration: none;
  color: #165773;
}

/* line 616, ../../../app/stylesheets/soapbox.scss */
#footer-links {
  margin: 0 0 10px;
}
/* line 618, ../../../app/stylesheets/soapbox.scss */
#footer-links a {
  font-size: 11px;
  display: inline-block;
  padding: 0 10px;
}
/* line 622, ../../../app/stylesheets/soapbox.scss */
#footer-links a:first-child {
  padding-left: 0;
}

/* line 627, ../../../app/stylesheets/soapbox.scss */
#twitter-link {
  padding: 0 0 0 56px;
  background: url(/images/soapbox/icon-footer-twitter.png) no-repeat 0 3px;
}
/* line 630, ../../../app/stylesheets/soapbox.scss */
#twitter-link a {
  display: inline-block;
  background: rgba(255, 255, 255, 0.33);
  padding: 5px 20px;
  margin: 5px 0 0;
  font-size: 13px;
  font-weight: bold;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
}
/* line 640, ../../../app/stylesheets/soapbox.scss */
#twitter-link a:hover {
  background: #488CAA;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

/* line 648, ../../../app/stylesheets/soapbox.scss */
#facebook-link a {
  display: block;
  padding: 0px 0 20px 35px;
  background: url(/images/soapbox/icon-footer-fb.png) no-repeat 0 4px;
}
/* line 652, ../../../app/stylesheets/soapbox.scss */
#facebook-link a:hover {
  color: #165773;
  text-decoration: none;
}
