<!-- AddThis Button BEGIN --> 
    <div class="addthis_toolbox"> 
      <%= link_to "Share", 
                 @user.premium_account? ? "http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria" : '#',
                 :onclick => @user.premium_account? ? nil : "alert(\"This user does not have a premium account. You cannot share this profile.\"); return false", 
                 :class => "addthis_button" %>
    </div> 
    <%= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria" if @user.premium_account? %>
    <!-- AddThis Button END -->