<% title "Edit Your Account" %>

<section id="profile-tabs">
  <nav id="profile-options">
    <span><a href="#profile-account">Account</a></span>
    <span><a href="#profile-messages">Messages</a></span>
    <span><a href="#profile-summary">Profile Summary</a></span>
    <span><a href="#profile-extended">Extended Profile</a></span>
  </nav><!-- /profile_options -->

  <section id="profile-account">
  </section><!-- /profile-account -->

</section><!-- /profile-tabs -->
