<% title "Connect to your Facebook account" %>

<p>Have a Facebook account? You can streamline your life by connecting your Facebook account to spoonfeed.</p>

<p>Find out more about <%= link_to "working with Facebook", "http://spoonfeed.restaurantintelligenceagency.com/facebook_101_introduction" %>.</p>

<%= fb_login_link params[:restaurant_id].present? ? fb_connect_user_path(@user, :restaurant_id => params[:restaurant_id]) : fb_connect_user_path(@user) %>