<%= title "#{@user.name}'s Resume", false %>
<div class="user_profile">
    <%= render :partial => "profile_header" %>

    <div id="extended_profile_container" class="clearfix right" style="margin-top: -20px;">
        <%= render :partial => "extended_profile", :locals => { :user => @user, :profile => @user.profile } %>
    </div>
</div>