<%if @restaurants.blank? %>
	<h1>No results found</h1>
<%else%>
	<h1>Restaurants</h1>
	<% for restaurant in @restaurants %>
		<%= render :partial => 'restaurants/identity', :locals => { :user => restaurant } %>
	<% end %>
<% end %>
