<%if @restaurants.blank? %>
	<div id="flashes">
		<div id="flash_notice"><%=flash[:notice]%></div>
	</div>
<%else%>
	<h3>Restaurants</h3>
	<% for restaurant in @restaurants %>
		<%= render :partial => 'restaurants/identity', :locals => { :user => restaurant } %>
	<% end %>
<% end %>