<div id="restaurant-results">
    <h3>Restaurants</h3>
    <% for restaurant in @restaurants %>
    <%= render :partial => 'restaurants/identity_all', :locals => { :user => restaurant } %>
    <% end %>
</div>
