<%if @restaurants.kind_of?(Array)%>
	<div id="flashes">
		<div id="flash_notice"><%=@restaurants[0].to_s%></div>
	</div>
<%else%>
	<% for restaurant in @restaurants %>
		<%= render :partial => 'restaurants/identity', :locals => { :user => restaurant } %>
	<% end %>
<% end %>