<% if users.present? %>
<div id="user-results">
	<h3>Users</h3>
	<% for user in @users %>  
		<%= render :partial => 'users/identity', :locals => { :user => user } %>
	<% end %>
</div>
<% else %>
  <h3>No matching results</h3>
<% end -%>