<% title "Personal Profile Directory" %>
<%= link_to 'Switch to Restaurant Directory', restaurant_directory_path, :class => "directory_switch" unless soapbox? %>

<%= title_for_search %>

<% if @use_search %>
<div id="directory_search">
    <% form_tag do %>
        <%= render :partial => 'directory/search_criteria' %>
    <% end %>
</div>
<% end %>

<div id="directory_list">
    <%= render :partial => 'directory/search_results', :locals => { :users => @users } %>
</div>