<% title "Profiles" %>

<%= title_for_search %>

<% if @use_search %>
<div id="directory_search">
    <% form_tag do |f| %>
        <%= render :partial => 'directory/search_criteria', :locals => { :f => f } %>
    <% end %>
</div>
<% end %>

<div id="directory_list">
    <%= render :partial => 'directory/search_results' %>
</div>

