<% title "User Directory" %>

<div id="directory_search">
    <% semantic_form_for EmploymentSearch.new, :url => employment_search_path do |f| %>
        <%= render :partial => 'shared/employment_criteria', :locals => { :f => f, :hide_subject_matter => true } %>
    <% end %>
</div>

<div id="directory_list">
    <% @restaurants_and_employments.each do |restaurant, employments| %>
      <%= render restaurant %>
    <% end %>
</div>

