<% title "Restaurant Directory", :class => "directory" %><a href="/directory" class="directory_switch">Switch to Profile Directory</a>

<div id="directory_search">
    <% form_tag do %>
        <%= render :partial => 'directory/restaurant_search_criteria' %>
    <% end %>
</div>

<div id="restaurant_directory_list">
    <%= render :partial => 'directory/restaurant_search_results' %>
</div>