<% title "Restaurant Directory" %>
<%= link_to 'Switch to Profile Directory', directory_path, :class => "directory_switch" unless soapbox? %>

<div id="directory_search">
    <% form_tag do %>
        <%= render :partial => 'directory/restaurant_search_criteria' %>
    <% end %>
</div>

<div id="restaurant_directory_list">
    <%= render :partial => 'directory/restaurant_search_results' %>
</div>