<% title "Restaurant Directory" %>

<%= title_for_search.html_safe if title_for_search%>

<div id="directory_search">
	<div class="color-box-restaurant">
		<%= render :partial => 'directory/restaurant_search_criteria' %>	
	</div>
</div>