<% title @page.title %>

<div id="main_content">
	<% if can?(:edit, @page) %>
		<p>
			<%= link_to "Edit this page", edit_admin_hq_page_path(@page), :class => 'edit_button' %>
		</p>
	<% end %>
	<section id="page_content">

		<%= auto_link @page.content %>

	</section><!--#page_content-->
</div><!--#main_content-->

<%= content_for :sidebar_a do -%>
	<aside id="sidebar_a">
		<% if false -%>
		  <section class="promo quote">
  			<h1>Testimonials</h1>
  			<p class="quotation">"If anyone has any question of whether they should do this, tell them to call me and I will give them my full endorsement personally."</p>
  			<p class="who">Donnie Madia<br/>
  			Blackbird, avec, The Publican, Sonotheque, the Violet Hour</p>
  		</section>
  	<% end -%>
	</aside><!-- #sidebar_a-->
<% end -%>

<%= content_for :sidebar_b do -%>
	<div id="sidebar_b">

		<a class="promo clickable" href="http://spoonfeed.restaurantintelligenceagency.com/invitations/new">Create a free Spoonfeed account</a>
		<a class="promo clickable" href="http://soapbox.restaurantintelligenceagency.com/">View the latest on Soapbox</a>
		<aside class="promo" id="page_actions">
			<nav>
				<!-- AddThis Button BEGIN --> 
        <div class="addthis_toolbox"> 
          <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=unpluggedria" class="addthis_button share">Share</a> 
        </div> 
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=unpluggedria"></script> 
        <!-- AddThis Button END -->
				<a href="javascript:window.print();" class="print last">Print</a>
			</nav>
		</aside>

	</div><!--#sidebar_b-->
<% end -%>