// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "compass/reset";
@import "blueprint";
@import "compass/css3";
// To configure blueprint, edit the partials/base.sass file.
@import "../partials/base";
@import "compass/layout/sticky-footer";

@include reset-html5;

.clearfix{overflow:hidden;}
.clear{clear:both;}
a {text-decoration: none;color: $orange;}

body{
 	font:normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#fff url(/images/redesign/bg-strip.gif) repeat-x;
	color:#333;
}

#container{
	width: 974px;
	margin: 0 auto;
	*zoom: 1;
	position:relative;
}

#site_header {
	display: block;
	height: 140px;
	.branding {
		@include column(18);
		h1#logo {
			background: transparent url(/images/redesign/sf-logo.png) no-repeat;
			background-position: -3px 0px;
			display: block;
			width: 735px;
			height: 123px;
			@include hiddentext;
		}
	}
	.header_right {
		@include column(6,true);
		img {
			float: left;
			display: inline;
			margin: 0 10px 0 0;
		}
	 	a#search {
	 		display: block;
	 		@include brandongrotesquebold;
	 		text-align:right;
	 		text-transform: uppercase;
	 		letter-spacing: 0.2em;
	 		padding: 6px 10px;
	 		color: #777;
	 		color: $brown;
	 		text-shadow: 0 1px 0 #fff;
	 		&:hover {color: $orange;}
	 		span {
	 			padding-left: 16px;
	 			background: transparent url(/images/redesign/icon-10-magnify.png) no-repeat;
	 			background-position: 0 4px;
				&:hover {background-position: 0 -96px;}
	 		}
		}
		.top_promo {
			display: block;
			&.profile {
				padding: 0 0 0 8px;
				a {
					word-wrap:nowrap;
					img {
						border: 1px solid $orange;
						margin: -4px 10px 0 0;
						&:hover {
							border: 1px solid #000;
							@include box-shadow(#aaa,1px,1px,1px);
						}
					}
				}
				ul {
					height: 30px;
					border-bottom: 1px dotted #ccc;
					margin: 14px 0 8px;
					padding: 0;
					li {
						display: inline;
						padding: 4px 5px 4px 0;
						a {
							padding: 0 5px 0 0;
							color: $orange;
							&:hover {
								text-decoration: underline;
								color: $brown;
							}
						}
					}
				}
			}
			&.restaurant_promo {
				padding: 0 0 0 8px; 
			 	a {
					display: block;
					background: transparent url(/images/redesign/icon-30-restaurant.png) no-repeat;
					background-position: 0 0;
					padding: 0 0 0 36px;
					font-family: 'Hoefler Text', Georgia, Serif;
					font-weight: bold;
					font-size: 14px;
					line-height: 17px;
					&:hover {
						color: $brown;
						background-position: 0 -100px;
					}
				}
			}
	 	}
	}
} /* ## END OF header ------------------- */


#primary_nav {
	width: 974px;
	background: #fff url(/images/redesign/nav-bg.gif) repeat-x;
	height: 60px;
	a {
		float: left;
		@include hiddentext;
		height: 60px;
		background: transparent url(/images/redesign/nav.png) no-repeat;
		&#nav_dashboard {
			width: 132px;
			background-position: 0 0;
			&:hover {background-position: 0 -100px;}
			&.selected {background-position: 0 -200px;}
		}
		&#nav_myprofile {
			width: 130px;
			background-position: -132px 0;
			&:hover {background-position: -132px -100px;}
			&.selected {background-position: -132px -200px;}
		}
		&#nav_myrestaurants {
			width: 175px;
			background-position: -262px 0;
			&:hover {background-position: -262px -100px;}
			&.selected {background-position:-262px -200px;}
		}
		&#nav_frontburner {
			width: 159px;
			background-position: -437px 0;
			&:hover {background-position: -437px -100px;}
			&.selected {background-position:-437px -200px;}
		}
		&#nav_messages {
			width: 119px;
			background-position: -596px 0;
			&:hover {background-position: -596px -100px;}
			&.selected {background-position:-596px -200px;}
		}
		&#nav_socialmedia {
			width: 150px;
			background-position: -715px 0;
			&:hover {background-position: -715px -100px;}
			&.selected {background-position:-715px -200px;}
		}
		&#nav_contact {
			width: 108px;
			background-position: -865px 0;
			&:hover {background-position: -865px -100px;}
			&.selected {background-position:-865px -200px;}
		}
	}
}


#main {
	background: #fff;
	@include box-shadow(#ddd,0px,2px,5px);
	margin: 0 0 0px 0;
	z-index: 500;
	background: transparent url(/images/redesign/bg-fauxcolumn.gif) repeat-y;
}

#content {
	@include column(18);
	header {
		padding: 5px 15px;
		margin: 0;
		border-bottom: 1px dotted #ddd;
		.user_actions {
			float: right;
			display: block;
			width: 230px;
			a {
				display: block;
				padding: 10px;
				margin: 0 0 10px 0;
				font-family: 'Hoefler Text', Georgia, Serif;
				text-transform: uppercase;
				text-shadow: 0 1px 0 #fff;
				letter-spacing: 0.2em;
				font-weight: bold;
				background-color: $trans-orange;
				&.private_message {
					background: $trans-orange url(/images/redesign/icon-16-bubble.png) no-repeat;
					background-position: 10px 10px;
					padding-left: 32px;
					&:hover {
						color: $brown;
						background-color: $trans-brown;
						background-position: 10px -90px;
					}
				}
				&.follow_user {
					background: $trans-orange url(/images/redesign/icon-16-follow.png) no-repeat;
					background-position: 10px 10px;
					padding-left: 32px;
					&:hover {
						color: $brown;
						background-color: $trans-brown;
						background-position: 10px -90px;
					}
				}
			}
		}
	}
}

#sidebar_b {
	@include column(6, true);
	#sidebar_content {
		margin: 0 8px 0 6px;
		.promo {
			display: block;
			border: 1px solid #ddd;
			margin: 0 0 10px 0;
			padding: 13px 10px;
			@include box-shadow(#eee,0px, 1px,0px);
			&#invitation {
				font-family: 'Hoefler Text', Georgia, serif;
				font-style: italic;
				font-weight: bold;
				font-size: 18px;
				background: transparent url(/images/redesign/icon-32-mailarrow.png) no-repeat;
				background-position: 10px 10px;
				padding-left: 50px;
				&:hover {
					background-position: 10px -90px;
					color: #999;
					background-color: #f2f2f2;
				}
			}
			&#btl_game {
				background-color: $trans-brown;
				.new_question {
					@include hiddentext;
					float: right;
					width: 25px;
					height: 25px;
					background-image: url(/images/redesign/icon-refresh.png);
					background-position: 0 0;
					&:hover {
						background-position: 0 -100px;
					}
				}
				h1 {
					background: transparent url(/images/redesign/title-behindtheline-red.png) no-repeat;
					height: 16px;
					@include hiddentext;
					margin: 0 0 10px 0;
				}
				h2 {
					font-family: "Hoefler Text", Georgia, serif;
					font-size: 18px;
					color: #333;
					margin: 15px 0 7px;
					font-style: italic;
					font-weight: bold;
				}
				.chapter {
					margin: 0 0 10px 0;
				}
				h3 {
					background: transparent url(/images/redesign/line-arrow.png) no-repeat;
					padding: 16px 0 6px 0;
					color: $orange;
					font-size: 13px;
				}
				textarea {
					width: 180px;
					height: 60px;
					background-color: #fff;
					border: 1px solid #ccc;
					@include box-shadow(#ddd, 0px,1px,2px);
					margin: 0 0 10px 0;
				}
				button {
					float: left;
					margin: 2px 10px 10px 0;
					border: 1px solid #ddd;
					font-family: helvetica, arial, sans-serif;
					font-weight: bold;
					color: #333;
					font-size: 13px;
					text-shadow: 0 1px 0 #fff;
					background: #e3e3e3 url(/images/redesign/bg-button.png) repeat-x;
					padding: 4px 12px;
					@include border-radius(20px);
					&:hover {
						background-color: $orange;
						border: 1px solid $orange;
						color: #fff;
						text-shadow: 0 1px 0 #333;
						background-image: none;
					}
				}
				.disclaimer {
					font-size: 10px;
					color: #777;
					color: rgba(0,0,0,.5);
					font-family: "lucida grande", arial, sans-serif;
				}
			}
			&#manuals {
				a {
					display: block;
					font-family: "Hoefler Text", Georgia, serif;
					font-weight: bold;
					font-size: 18px;
					font-style: italic;
					margin: 0 0 5px;
					padding-left: 25px;
					&#marketing_manual {
						background: transparent url(/images/redesign/icon-16-manual.png) no-repeat;
						&:hover {
							color: $brown;
							background-position: 0 -100px;
						}
					}
					&#help_questions {
						background: transparent url(/images/redesign/icon-16-question.png) no-repeat;
						&:hover {
							color: $brown;
							background-position: 0 -100px;
						}
					}

				}
				p {
					margin: 0 0 10px 0;
					color: #888;
				}
			}
		}
	}
}

#footer_container {
	position: relative;
	display: block;
	border-top: 10px solid #000;
	z-index: 1000;
	background-color: #333;
	height: 150px;
	footer {
		width: 974px;
		margin: 25px auto;
		padding: 0;
		font-weight: 300;
		color: #fff;
		#footer_branding {
			@include column(8);
		}
		#footer_links {
			@include column(10);
			p {
				margin: 8px 0 10px 0;
				color: #aaa;
				position:relative;
				a {
					color: #fff;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			nav {
				margin: 0 0 10px 0;
				a {
					background: transparent url(/images/redesign/line-footer.gif) no-repeat;
					background-position: 88% 2px;
					padding: 0 15px 0 0;
					color: #fff;
					&.last {background-image: none;}
					&:hover {text-decoration: underline;}
				}
			}
			ul {
				li {
					display: inline;
					color: #aaa;
					a {
						color: #fff;
						&:hover {text-decoration: underline;}
					}
				}
			}
		}
		#footer_social {
			@include column(6, true);
			a {
				display: block;
				padding: 0;
				margin: 0 0 15px 0;
				color: #fff;
				&.fb {
					padding: 0 0 0 32px;
					background: transparent url(/images/redesign/icon-25-fb.png) no-repeat 0 2px;
					&:hover {background-position: 0 -98px;}
				}
				&.twitter {
					padding: 0 0 0 32px;
					background: transparent url(/images/redesign/icon-25-twitter.png) no-repeat 0 2px;
					&:hover {background-position: 0 -98px;}
				}
				&:hover {
					color: #aaa;
					text-decoration: underline;
				}
			}
		}
	}
}

#flashes div{
	border: 2px solid #DDD;
	margin-bottom: 1em;
	padding: 0.8em;
	&#flash_error{
		background: #FBE3E4;
		border-color: #FBC2C4;
		color: #8A1F11;
	}
	&#flash_notice{
		background: #FFF6BF;
		border-color: #FFD324;
		color: #514721;
	}
	&#flash_success{
		background: #E6EFC2;
		border-color: #C6D880;
		color: #264409;
	}
}

