<div class="box admin_messages">
  <h3 class="function-bold">Admin Messages</h3>
<% unless @admin_messages.blank? %>
  <ul class="fancy-list">
  <% for conversation in @admin_conversations %>
    <% content_tag_for :li, conversation.admin_message do %>
      <%# messages_helper %>
      <%= link_for_conversation(conversation) %>
    <% end -%>
  <% end %>
  </ul>
<% end -%>

<% unless @admin_announcements.blank? %>
  <h4>Announcements</h4>
  <ul class="fancy-list">
  <% for announcement in @admin_announcements %>
    <% content_tag_for :li, announcement do %>
      <%= link_for_message(announcement) %>
    <% end -%>
  <% end %>
  </ul>
<% end -%>

<% unless @admin_pr_tips.blank? %>
  <h4>PR Tips</h4>
  <ul class="fancy-list">
  <% for pr_tip in @admin_pr_tips %>
    <% content_tag_for :li, pr_tip do %>
      <%= link_for_message(pr_tip) %>
    <% end -%>
  <% end %>
  </ul>
<% end %>
</div>
