<div id="media_request_promo" class="sidebar_section">
  <div class="section_header"><h2 class="primary_title function-bold">Coming Soon</h2></div>
  <div class="section_body">
    <p>Just a reminder! Getting in the habit of using SpoonFeed every day is important. Soon, the media will be using SpoonFeed to communicate with you, so you'll want to start getting used to the system so you are ready when the media arrive!</p>
    <img src="/images/media_request_promo.png" alt="" />
  </div>
</div>
