<% title "My Restaurants" -%>
<div id="my_restaurants" rel="My Restaurants" class="sidebar_section restaurants clearfix">
  <div class="employers">
  	<% if current_user.employments.blank? -%>
    	<p class="none">You aren't associated with any restaurants.</p>
		<% else %>
			<ul>
				<% current_user.employments.each do |employment| %>
					<li class="<%= dom_class(employment.restaurant) %>">
						<%= link_to h(employment.restaurant_name), employment.restaurant %>
						<% if employment.omniscient? %><span>(Admin)</span><% end %>
					</li>
				<% end %>
			</ul>
		<% end %>
  </div>
</div><!-- #my_restaurants -->
<p><%= link_to "Add a restaurant", new_restaurant_path, :class => "button" %></p>
