<div id="my_restaurants" rel="My Restaurants" class="sibebar_section restaurants clearfix">
  <h3 class="section_header">My Restaurants</h3>
  <div class="section_body">
    <div class="my_employers">
      <% if @current_user_restaurants.blank? -%>
        <p class="none">You aren't associated with any restaurants.</p>
      <% else %>
        <% @current_user_restaurants.each do |restaurant| %>
          <div class="<%= dom_class(restaurant) %>">
            <%= link_to h(restaurant.name), restaurant %>
          </div>
        <% end %>
        <p class="start_discussion">
          <%= link_to image_tag('quotebubble.png') + "Start a discussion", new_discussion_path, :class => 'sf-button alt top' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
