<div id="ria_labs" class="box ria_labs">
  <h3 class="function-bold">RIA Labs</h3>

  <ul class="fancy-list">
    <li><%= link_to "My feeds", feeds_path %></li>
    <li><%= link_to "My discussions", discussions_path %></li>
  </ul>
</div>