<div id="ria_labs" class="ria_labs sidebar_section">
  <div class="section_header"><h3 class="function-bold">RIA Labs</h3></div>
  <div class="section_body">
      Keep an eye here for new features!
  </div>
</div>