<div id="ria_labs" class="ria_labs sidebar_section">
  <div class="section_header"><h3 class="function-bold">RIA Labs</h3></div>
  <div class="section_body">
	
	<div class="new_feature workbook">
		<h4>Checkout the marketing workbook:</h4>
		<div class="restaurant">
		<% # TODO: refactor this: stole it for the nice arrow on the links %>
		<%= link_to "Marketing Workbook", public_page_path('introduction-marketing-workbook') %>
		</div>
	</div><!--.new_feature workbook-->
	
	
    <div class="new_feature calendars">
        <% unless @current_user_restaurants.blank? -%>
        <h4>Try out the new restaurant calendar:</h4>
        <% @current_user_restaurants.each do |restaurant| %>
          <% div_for restaurant do %>
              <%= link_to h(restaurant.name), restaurant_calendars_path(:restaurant_id => restaurant) %>

          <% end -%>
        <% end -%>
      <% end -%>
    </div>
    <div class="new_feature external-conversations">
          <h4>Talk to other spoonfeed users:</h4>
          <p class="start_discussion">
            <%= link_to image_tag('quotebubble.png') + "Start a conversation", new_conversation_path, :class => 'sf-button alt top' %>
          </p>
      </div>
  </div>
</div>