<label for="search_restaurant_id_equals_any_<%= restaurant.id %>">
    <%= check_box_tag "search[restaurant_id_equals_any][]", restaurant.id, true, { :id => "search_restaurant_id_equals_any_#{restaurant.id}" } %>
    <%= restaurant.name %>
</label>
