<% if current_user.primary_employment && current_user.primary_employment.prefers_post_to_soapbox %>
  <p>This post will be seen on the public Soapbox.</p>
<% else %>
  <p>Just to let you know, your comments won't go to the public Soapbox. Contact your spoonfeed account manager for details.</p>
<% end %>