<%=div_for(attachment) do %>
  <%= link_to(attachment.attachment.url, :class => 'attachment_icon') do %>
    <%= image_tag(icon_image_for_attachment(attachment)) %>
  <% end %>

  <span class="label">
    <%= link_to attachment.attachment_file_name, attachment.attachment.url %>
  </span>
<% end %>
