<li class="status">
    <span class="profile_image"><%= image_tag Mogli::User.find(link.from.id).image_url, :width => 48, :height => 48 %></span>
    <span class="message"><%= auto_link(link['message']) %></span><br/>
    <span class="meta">
        Posted by
        <span class="tweeter"><%= link.from['name'] %></span>
        <% user_id, post_id = link['id'].split("_") %>
        <span class="posted"><%= link_to time_ago_in_words(link['created_time']), "http://www.facebook.com/#{user_id}/posts/#{post_id}" %> ago</span>
    </span>
</li>