// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "compass/reset";
@import "blueprint";
@import "compass/css3";
// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "compass/layout/sticky-footer";

// Import all the default blueprint modules so that we can access their mixins.


// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include reset-html5;
.clearfix{
	overflow:hidden;
}

body{
  font:normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:$body-bg url(/images/soapbox/bg-site.jpg) repeat-x;
	color:$font-color;
}
#container{
	@include container;
	position:relative;
}

@include sticky-footer(175px,'#container','#sticky-footer-pad','#footer');

#container{
	margin-bottom:-185px;
}

h1,h2,h3,h4,h5,h6{
	line-height:1.2;
	font-weight:bold;
	margin:0 0 15px;
}

#utilities{
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	a{
		@include hiddentext;
		float:left;
		height:24px;
		background:url(/images/soapbox/bg-header-tabs.png) no-repeat;
	}
	#search-handle{
		margin-right:8px;
		width:112px;
		background-position:0 0;
		&:hover{
			background-position:0 -200px;
		}
	}
	#ria-hq{
		width:61px;
		background-position:-120px 0;
		&:hover{
			background-position:-120px -200px;
		}
	}
}


#header{
	background:url(/images/soapbox/nav.png) no-repeat;
	margin:40px 0 30px;
	height:88px;
	padding:15px 0px 15px 15px;
}

#logo{
	@include hiddentext;
	width:160px;
	height:73px;
	background:url(/images/soapbox/logo-soapbox.png) no-repeat;
	float:left;
}

#tagline{
	@include hiddentext;
	float:left;
	padding:45px 65px 0 10px;
	width:117px;
	height:31px;
	background:url(/images/soapbox/logo-tagline-soapbox.png) no-repeat 10px 45px;
}

#nav {
	a {
		@include museoslabthin;
		width: 100px;
		height: 68px;
		margin: -20px 10px 0 0;
		padding: 66px 0 0 13px;
		float: left;
		color: #CB4827;
		text-decoration: none;
		font-size: 15px;
		text-transform: uppercase;
		&:hover {
			color: #474F80;
		}
		&.selected {
			@include museoslabbold;
			color: #fff;
			margin-right: 0;
			text-shadow: 0px 1px 1px #333;
			padding: 66px 20px 0px 23px;
			width:80px;
			background: url(/images/soapbox/bg-nav-current.png) no-repeat;
			background-position: 0px -3px;
		}
		&.last {
			margin-right: 0;
		}
	}
}

#main{
	overflow:hidden;
}
body,html,#container,#main,#content,#inside{
	height:100%;
}

#content{
	@include column(18,true);
	padding:10px 0 0;
	background:url(/images/soapbox/bg-white-opacity-55.png);
	background:rgba(255,255,255,0.55);
	#page-title h1{
		@include museoslabthin;
		color: #333;
		font-size:20px;
		margin:8px 0 12px 15px;
		text-shadow: 0px 1px 0px #fff;
	}
	
	&.home{
		@include column(20);
		#jumbotron{
			margin:0 0 25px;
			height:400px;
			overflow:hidden;
			position:relative;
			border-bottom:5px solid $sienna;
			#display{
				position:absolute;
				bottom:0;
				left:0;
				width:730px;
				background:rgba(0,0,0,0.75);
				background:url(/images/soapbox/bg-black-opacity-75.png);
				padding:25px;
				z-index:1000;
				h1{
					color:$sienna;
					@include museoslabbold;
					font-size:22px;
					line-height:1.2;
					width:575px;
					text-shadow:0 1px 0 #333;
					padding:0;
					margin:0;
				}
				summary{
					width:575px;
					padding:10px 0;
					font-size:15px;
					line-height:1.3;
					color:#fff;
					a{
						color:$sienna;
						font-weight:bold;
						font-style:italic;
						text-decoration:none;
					}
				}
			}
			#pager{
				position:absolute;
				top:10px;
				right:10px;
				a{
					display:block;
					float:left;
					margin:0 10px 0 0;
					padding:10px;
					@include border-radius(350px);
					@include museoslabbold;
					font-size:18px;
					line-height:0.5;
					text-decoration:none;
					color:#000;
					background:$sienna;
					&.activeSlide, &:hover{
						color:#fff;
						background:#e85f43;
					}
				}
			}
		} /*jumbotron */
		.panel{
			background:#fff;
			@include box-shadow(#d5ceca, 0, 0, 3px);
			section{
				padding:10px;
				img{
					float:left;
					margin:0 15px 5px 0;
					padding:3px;
					background:#fff;
					@include box-shadow(#999,1px,1px,2px);
				}
				a{
					color:#333;
					text-decoration:underline;
					img{
						@include box-shadow(transparent,0,0,0);
						padding:0;
						background:0;
					}
					&:hover{
						color:$sienna;
					}
					&.continue{
						text-transform:lowercase;
						text-decoration:none;
						display:inline-block;
						background:$sienna;
						padding:5px 10px;
						@include border-radius(80px);
						font-weight:bold;
						color:#fff;
						text-shadow:0 1px 0 #333;
						&:hover{
							color:#fff;
							background:#666;
						}
					}
				}
				p, summary{
					clear:both;
					font-size:13px;
					padding:15px 0;
					line-height:1.4;
				}
			}
			header{
				h1{
					margin:0;
				}
				@include museoslabmedium;
				margin:0 10px 0;
				padding:10px 0 0;
				font-size:15px;
				color:$sienna;
				border-bottom:1px solid $sienna;
			}
		}
		#home-pulse{
			@include column(7);
			margin-right:15px;
			section{
				header{
					border:0;
					margin:0 0 10px;
					padding:0;
					h1{
						@include museoslabmedium;
						color:$purple;
					}
				}
			}
		}
		#home-featured-user{
			@include column(6);
			margin-right:15px;
		}
		#home-featured-restaurant{
			@include column(6,true);
		}
	}
	
	.restaurant {
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px dotted #ddd;
		.employees {
			margin: 1em 0 0 1em;
		}
		.user {
			padding: 0;
			border: 0;
			margin: 0 0 10px;
			list-style: none;
			display: inline;
			float: left;
			width: 310px;
			vertical-align: 1em;
			a {
				padding: 0;
				background: none;
				margin: 0;
				display: inline;
			}
			img {
				width: 25px;
				height: 25px;
				vertical-align: bottom;
			}

		}
	}/* .restaurant */
	
} /*content */
#page-content{
	img{
		float:left;
		margin:3px 15px 10px 0;
	}
	#content-title h1{
		font-size:20px;
		color:$sienna;
	}
	h1 {
		@include museoslabbold;
		margin: 6px 0 12px 0;
	}
	h2{
		@include museoslabmedium;
		font-size:18px;
		padding:0 0 2px;
		margin-top: 20px;
		clear: both;
		border-bottom:1px solid $feedback-border-color;
	}
	h3{
		font-size:15px;
		margin: 20px 0 10px;
	}
	ul{
		padding: 0;
		margin: 10px;
		list-style: none;
		li{
			background: transparent url(/images/soapbox/square.gif) no-repeat 0px 5px;
			margin:0 8px;
			padding: 2px 0 4px 12px;
			line-height: 15px;
		}
	}
	ol {
		margin: 10px 10px 12px 20px;
		padding: 0px;
		list-style-position: inside;
		list-style: decimal;
		li {
			line-height: 15px;
			padding: 2px 0px 3px;
		}
	}
	p{
		line-height:1.6;
		margin:0 0 15px;
	}
	a{
		color:$sienna;
		text-decoration:none;
		&:visited{
			
		}
		&:hover{
			text-decoration:underline;
		}
	}
	#directory_search ol{
		margin:0;
		list-style:none;
	}
} /* page-content */

#inside{
	margin:0 10px;
	padding:23px;
	background:#fff;
	overflow:hidden;
	&.home{
		margin:0 15px;
		background:0;
		padding:0 0 20px;
	}
}

#sidebar{
	@include column(6,true);
	margin:20px 0 0;
	&.home{
		@include column(4,true);
		section{
			padding:10px 0;
			margin:10px 0;
			h1{
				@include museoslabbold;
				font-size:18px;
				color:$purple;
			}
			p{
				margin:10px 0;
				line-height:1.4;
				a{
					color:$purple;
					text-decoration:none;
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
	}
} /*sidebar */

#facebook-button{
	border-bottom:1px dashed $purple;
	margin-top:0;
}

#recent-activity{
	background:url(/images/soapbox/bg-sidebar-top-purple.png) no-repeat;
	padding:0 15px 40px;
	position:relative;
	margin:0 0 50px;
	h1{
		@include museoslabmedium;
		font-size:15px;
		line-height:1.2;
		color:#fff;
		padding:25px 0 3px;
		border-bottom:1px solid #ADB5D8;
		text-transform:uppercase;
		text-shadow: 0px 1px 0px #000;
	}
	ol{
		list-style:none;
		font-size:14px;
		font-weight:normal;
		color:#fff;
		&.ui-tabs-hide{
			display:none;
		}
		li{
			margin:5px 0;
			padding:5px;
			font-weight: bold;
			border-bottom:1px dotted #6C769E;
			.feed-item-date{
				display:inline;
				@include opacity(0.66);
				@include knockout;
				font-size: 15px;
			}
			.feed-item-title{
				display:inline;
				a{
					text-shadow:0 1px 0 #000;
					text-decoration:none;
					color:#fff;
					padding: 1px;
					&:hover {
						background-color: #5FA1C6;
					}
				}
			}
			.feed-item-reply-count{
				font-size:11px;
				font-weight:normal;
				margin:5px 0;
				a{
					color:#D6D9E8;
					text-decoration:none;
					text-transform:uppercase;
					.num{
						display:inline-block;
						@include border-radius(80px);
						background:$light-purple;
						padding:2px 5px;
						color: #fff;
						font-weight: bold;
					}
					&:hover, &:hover .num{
						color:#fff;
					}
				}
				
			}
		}
	}
} /*recent-activity*/

#activity-chooser{
	overflow:hidden;
	a{
		@include knockout;
		font-size:18px;
		display:block;
		padding:10px 8px;
		width:80px;
		height:47px;
		line-height: 16px;
		color:#fff;
		text-transform:uppercase;
		text-decoration:none;
		text-shadow: 0 1px 0 #000;
		background:url(/images/soapbox/bg-sidebar-selector.png) no-repeat -115px -1px;
	}
	span{
		display:block;
		float:left;
		&:first-child{
			margin-right:5px;
		}
	}
	.ui-state-active a, a:hover{
		color:$purple;
		text-shadow: 0 0 0 #fff;
		background-position:-3px -1px;
	}
}
#feed-bottom{
	position:absolute;
	width:100%;
	height:40px;
	bottom:-30px;
	left:0;
	background:url(/images/soapbox/bg-sidebar-bottom.png) no-repeat;
}
#participate{
	padding:4px 0 20px;
	.button, span{
		@include hiddentext;
		text-decoration:none;
		margin:5px auto;
		width:216px;
		height:28px;
		background:url(/images/soapbox/buttons-login-participate.png) no-repeat;
		&:hover{
			background-position:-300px 0;
		}
	}
	span{
		height:30px;
		background-position:0 -28px;
		&:hover{
			background-position:0 -28px;
		}
	}
	#request-invite{
		background-position:0 -58px;
		&:hover{
			background-position:-300px -58px;
		}
	}
	&.home{
		@include museoslabthin;
		text-transform:uppercase;
		font-size:17px;
		line-height:1.1;
		padding:0;
		.button, span{
			color:#fff;
			text-indent:0;
			text-shadow:0 1px 0 #333;
			margin:0;
			width:auto;
			height:auto;
			background:0;
			span{
				@include museoslabbold;
			}
		}
		.button{
			margin:0 0 15px -25px;
			padding:25px 30px 30px;
			background:url(/images/soapbox/bg-hp-tab1.png) no-repeat right 0;
			&:hover{
				background-position:right -100px;
			}
		}
		#request-invite{
			padding-bottom:40px;
			margin-bottom:0;
			background:url(/images/soapbox/bg-hp-tab2.png) no-repeat right 0;
			&:hover{
				background-position:right -100px;
			}
		}
	}
} /*participate */

#footer{
	background:url(/images/soapbox/bg-footer.png) repeat-x;
	border-bottom: 10px solid #488CAA;
}

#footer-logo{
	@include hiddentext;
	width: 166px;
	height:88px;
	background:url(/images/soapbox/icon-footer-logo.png) no-repeat;
	float:left;
}

#footer-container{
	@include container;
	padding:46px 0 0;
	overflow:hidden;
	color:#fff;
	font-size: 12px;
	p{
		color: rgba(255,255,255, .7);
		margin:0 0 10px;
	}
	a{
		color:#fff;
	}
	.social-media-links{
		float: left;
		width: 170px;
		padding: 10px 25px 0 15px;
		margin: 0;
		min-height: 70px;
		border-left: 1px dotted #aadaef;
	}
	
}
#legal{
	margin-top: 10px;
	@include column(9);
	a:hover{
		text-decoration:none;
		color: #165773;
	}
}
#footer-links{
	margin:0 0 10px;
	a{
			font-size: 11px;
		display:inline-block;
		padding:0 10px;
		&:first-child{
			padding-left:0;
		}
	}
}
#twitter-link{
	padding:0 0 0 56px;
	background:url(/images/soapbox/icon-footer-twitter.png) no-repeat 0 3px;
	a{
		display:inline-block;
		background:rgba(255,255,255,0.33);
		padding:5px 20px;
		margin:5px 0 0;
		font-size:13px;
		font-weight:bold;
		@include border-radius(20px);
		text-decoration: none;
		text-shadow: 0 1px 0 #000;
		&:hover{
			background: #488CAA;
			color: #fff;
			text-shadow: 0 1px 0 #000;
		}
	}
	
}
#facebook-link a{
	display:block;
	padding:0px 0 20px 35px;
	background:url(/images/soapbox/icon-footer-fb.png) no-repeat 0 4px;
	&:hover{
		color: #165773;
		text-decoration:none;
	}
}


#directory {
	.pagination {
		margin-bottom: 1em;
		text-align: center;
	}	
} /* directory */




#criteria_accordion {
	a{
		@include border-radius(5px);
		font-size:15px;
		color:#fff;
		text-shadow:0 1px 0 #333;
		font-weight:bold;
		display:block;
		background:#d34d3a url(/images/soapbox/bg-criteria-gradient.png) repeat-x;
		@include linear-gradient(color-stops(#be3d2a,#d34d3a), top);
		outline:0 !important;
		&.options_selected{
			color:#9ecce5;
			text-shadow:none;
			background:#5fa2c7 url(/images/green_check.png) no-repeat right;
			&:hover{
				text-decoration:none;
				color:#fff;
				background-color:#9ecce5;
			}
		}

		span{
			display:block;
			padding:5px 5px 5px 36px;
			height:20px;
			margin:-5px 0 0;
			background:url(/images/soapbox/bg-directory-dropdown.png) no-repeat 0 0;
			&.ui-icon{
				display:none;
			}
		}
		&.ui-state-active span{
			background-position:0 -97px;
		}
		&:hover{
			text-decoration:none;
			background:#be3d2a;
		}
	}
	div.loading{
		display:none;
	}
	.label label{
		display:none;
	}
	li.check_boxes{
		height:220px;
		overflow-y:auto;
		padding:0 10px;
		li{
			float:none;
			width:100%;
		}
	}
} /* criteria_accordion */

#employment_criteria legend span{
	display:block;
	clear:both;
	float:none;
	padding:10px 0;
	font-size:15px;
	
}

.accordion_box{
	background:#fff url(/images/accordion_box_bg.png) repeat-x bottom;
	border:1px solid #d4ebf9;
	@include border-radius(5px);
	margin:5px 0;
}

p.search_filter_hint {
	padding:0; margin:0;
}

/* directory stuff ^^ */


#user_profile_view {
  	background: #f5f5f5;
  	color: #333;
  	position: relative;
  	overflow: visible;
  	border: solid #ddd;
  	border-width:1px 1px 0;
	padding: 16px;
	h3.headline{
	  	margin: 0;
	  	color:#333;
	  	font:normal 15px "Georgia", Times, serif;
	}
	h5	{
  		color: #808080;
  		font-weight: normal;
  		margin: 0;
  		font-size: 12px;
	}
	.user_name {
	  	color: #40a4cb;
	  	font-weight: normal;
	  	font-size: 1.8em;
	  	line-height: 1.2em;
	  	padding: 0;
	  	border: 0;
	  	margin: 0;
	}
	.user_employment {font-size: 1.3em;}
	.list{font-size: 11px;}
	dl.user_info {
	  	font-size: 1em;
	  	margin: 0;
	  	padding: 0;
	  	width: 260px;
	  	float: left;
	}
	dl.user_info.contact {
	  	width: 340px;
	}

	dl.user_info dt, dl.user_info dd {
	  	line-height: 1.5;
	}

	dl.user_info dt {
	  	width: 76px;
	  	float: left;
	  	clear: left;
	  	margin: 0 10px 0 0;
	  	font-weight: normal;
	}

	dl.user_info dt:after {
	  	content: ":";
	}

	dl.user_info dd {
	  	margin-top: 0;
	  	margin-left: 80px;
	}
	.timestamp {
		top:10px;
	  	right:10px;
	  	position:absolute;
	  	font:normal 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
	  	color:#808080;
	}
}

#extended_profile_container {
	.showit {
  		padding: 8px 16px 8px 26px;
  		display: block;
  		outline: none;
  		font-size: 1em;
		color: #0087C0;
  		background: url(../images/arrow-blue.png) no-repeat 5px -47px;
		&.open {
			color: red;
			background-position:5px 10px;
			em {
				color: purple;
			}
		}
		&:hover {color: red;}
		em {
			color: #0087C0;
			&:hover {
				color: pink;
			}
		}
	}
}


#extended_profile {
	padding: 16px;
	h3 {
	  	font-family: "Hoefler Text", georgia, serif;
	  	font-weight: normal;
	  	font-size: 1.5em;
	  	border-bottom: 1px dotted #999;
	  	margin-top: 1.2em;
	  	margin-bottom: 12px;
	  	padding-bottom: 2px;
	  	color:#333;
	}
	ul {
	  	list-style: disc;
	  	border-bottom: 0;
	  	width:100%;
		li {
			line-height: 15px;
			p {
				line-height: 15px;
			}
		}
	}
	.extended_profile_info, .profile_info {
	  	position:relative;
	  	overflow:hidden;
		ul {
		  	margin: 0;
		  	padding: 0;
		  	border: 0;
		  	list-style: none;
		  	overflow: hidden;
			li {
			  width:30%;
			  border-bottom: 0;
			  margin:0 10px 20px 0;
			  overflow: hidden;
			  float:left;
			}
		}
	}
	.timestamp {
		top:10px;
	  	right:10px;
	  	position:absolute;
	  	top:25px; right:0;
	  	font:normal 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
	  	color:#808080;
	}
	.employee_role {
	  	border: 0;
	}
	a {
	  	color: #0087C0;
	  	text-decoration: none;
		&:hover {
			color: #666;
		}
	}
	.name {
	  	color: #0087C0;
	  	text-decoration: none;
	}	
}

#current_things {
  	margin: 1em 0;
  	padding: 5px;
	dl.things {
	  	overflow: hidden;
	  	margin: 0;
	  	padding: 14px 10px;
		div {
		  	margin-right: 20px;
		  	padding-right: 19px;
		  	border-right: 1px dotted #ccc;
		  	width: 172px;
		  	float: left;
			&.last {
				padding-right: 0;
				border-right: 0;
				margin-right: 0;
			}
		}
		dt {
		  	margin: 0 0 1em;
		  	font-weight: normal;
			&:after {
				content: ":"
				}
			}
		dd {
		  font-weight: bold;
		  font-size: 1.1em;
		}
	}
}


dl.things dt:after {content: ":"}

