<% title "RIA HQ" -%>

<h2 class="tagline">We Connect Restaurants, Media, and Diners</h2>

<div id="audiences">
	<nav>
		<% link_to "http://spoonfeed.restaurantintelligenceagency.com/", :id => "spoonfeed-link", :name => "Spoonfeed" do -%>
		    <h3>Chefs, Mixologists, Sommeliers</h3>
		    <p>Connect to the media for free! Communicate to diners online.</p>
		<% end -%>
		<% link_to "http://mediafeed.restaurantintelligenceagency.com/", :id => "media-link", :name => "Mediafeed" do -%>
	        <h3>Food/Beverage Journalists, Authors, Bloggers</h3>
	        <p>Private, secure direct connection to chefs, mixologists &amp; sommeliers.</p>
		<% end -%>
	    <% link_to "http://soapbox.restaurantintelligenceagency.com/", :id => "soapbox-link", :name => "Soapbox" do -%>
            <h3>Diners</h3>
	        <p>A backstage pass to the<br/>restaurants you crave.</p>
		<% end -%>
	</nav>
</div><!--#audiences-->

<div class="clear">&nbsp;</div>