<div id="sidebar">
  <aside id="recent-activity">
    <header>
      <h1>On the Menu Categories</h1>
    </header>
    <% cache('otm_sidebar', :expires_in => 1.hour) do -%>
      <ol id="alm-feed">
          <% OtmKeyword.all.group_by(&:category).each do |category, keywords| %>
          <li>
            <header class="feed-item-title">
                <%= link_to category, "" %>
            </header>
          </li>
          <% end %>
      </ol><!-- /activity-feed -->
    <% end -%>
    <div id="feed-bottom"></div>
    <footer>
        <div id="activity-chooser-all">
          <span><%= link_to "View all &nbsp;&#187;", "", :id => "view-all-questions" %></span>
        </div>
    </footer>
  </aside><!-- /recent-activity -->
  <nav id="participate">
    <%= link_to "Login to participate", login_path, :class => "button", :id => "login-participate" %>
    <span>or</span>
    <%= link_to "Create free account", join_path, :class => "button", :id => "request-invite" %>
  </nav><!-- /participate -->
</div><!-- /sidebar -->