<% div_for a_la_minute_answer ,:class=>"menu_item" do %>
       <div class="activity_header annoucement">
        <% if !a_la_minute_answer.photo_file_name.nil? && !a_la_minute_answer.photo_file_name.blank? %>        
            <%= image_tag a_la_minute_answer.photo.url(:thumbnail) %>
        <% else %>
            <%=image_tag('avatar_restaurant.gif') %>
        <%end%>
         <h3>ALM</h3>
        <div class="content">
            <p class="name">
               <%= a_la_minute_answer.question %>
            </p>
            <p class="name">
               <%=a_la_minute_answer.created_at.to_formatted_s(:long)%>
            </p>
        </div>
         <div class="clear"></div>    
    </div>


<% end %>
