
    <div id="news_feeds" class="span-<%= current_user.has_feeds? ? '12' : '8' %>">
    <h2 class="function-bold with_icon">
      <img src="/images/newspaper.png" alt="" class="titleicon"/>
      ReadFeed
    </h2>
    <%= render :partial => 'feeds/feed', :collection => @feeds %>
  </div><!-- /news_feeds -->
  <% unless current_user.has_feeds? -%>
    <div id="choose_feeds" class="span-4 last round">
      <div class="box">
        <h3><%= link_to 'Choose your Feeds', feeds_path %></h3>
        <p>Get all your industry news in one place here on SpoonFeed.</p>
        <%= link_to 'Click here to select your feeds.', feeds_path, :class=>'action' %>
      </div>
    </div><!-- /choose_feeds -->
  <% end -%>