<% unless current_user.prefers(:hide_help_box) %>
  <div id="get_started">
  	<h3>We've made getting started easy. Here are a few things to try!</h3>
  	<ol>
  	  <li><%= link_to 'Upload a photo for your profile', edit_my_profile_path %></li>
  	  <li><%= link_to 'Find your coworkers and follow them', directory_path %></li>
  	  <li><%= link_to 'Update your status on SpoonFeed and Twitter', user_statuses_path(current_user) %></li>
  	</ol>
  </div><!-- /get_started -->
<% end %>