<% if current_user.messages_from_ria.any? -%>
  <div id="admin_messages">
    <div class="mail_count"><span><%= current_user.messages_from_ria.size %></span></div>
    <p>You have <%= pluralize(current_user.messages_from_ria.size, 'unread message') %> from <abbr title="Restaurant Intelligence Agency">RIA</abbr>.</p>
    <p><%= link_to 'View your messages &#187;', messages_path, html_options = {:onclick => "pageTracker._trackEvent('Dashboard', 'Click', 'New RIA Message Promo')"} %></p>
  </div><!-- /admin_messages -->
<% end -%>
