<div id="recently">
    <h2>Fresh from Spoonfeed</h2>
    <aside class="dashboard_actions">
        <%= link_to "REFRESH", refresh_dashboard_path %>
    </aside>

    <% for comment in @recent_comments %>
    <%= render :partial => comment, :locals => { :dashboard => true } %>
    <% end %>

    <% if @has_more %>
    <div class="dashboard_header"><%= link_to 'See more &raquo;', :dashboard_more, :class => 'see_more_link' %></div>
    <% end %>

    <%= will_paginate @recent_comments if @has_pagination %>
</div>
