<nav id="edit_resto_menu">
    <%= active_link_to "Messages #{@total}", media_requests_messages_path(),
        :class => 'promo editor details' %>
    <%= active_link_to 'Share Daily Promotions', '#',
        :class => 'promo editor features' %>
    <%= active_link_to "Post New Photos", "#",
        :class => 'promo editor photos' %>
    <%= active_link_to 'Manage My Restaurants', restaurants_path(),
        :class => 'promo editor fact_sheet' %>
</nav>
