<% title "Your Digital Dashboard", false %>

<div id="dashboard">

  <%= render :partial => 'messages_from_ria_count' %>

  <%= render :partial => 'help_box' %>

  <div id="conversations" class="span-12">
    <%= render :partial => 'conversations' %>
  </div><!-- /conversations -->

  <%= render :partial => 'feeds' %>

</div><!-- /dashboard -->
