<% title "Your Digital Dashboard", false %>

<%= render 'shared/unread_announcements_popup' %>

<div id="dashboard">

  <%#= render :partial => 'messages_from_ria_count' %>

  <%= render :partial => 'recent_activity_feed' %>

</div><!-- /dashboard -->
