<% title "Your Digital Dashboard", false %>

<div id="dashboard">

  <%= render :partial => 'messages_from_ria_count' %>

  <%= render :partial => 'help_box' %>

  <%= render :partial => 'recent_activity_feed' %>

</div><!-- /dashboard -->
