<% title "Media Portal" %>

<h3>Sent Media Requests</h3>

<% @media_requests_by_type.each do |type, media_requests| %>
<div class="media_request_group">
	<h4><span><%= type && type.name.pluralize %></span></h4>
	<%= render media_requests %>
</div>
<% end %>

