<div id="jumbotron_wrapper">
	<div id="jumbotron">
		<article style="background:url(/images/ria/hp1.jpg);" title="A new direction for the restaurant industry" data-url="#" data-caption="Traditional restaurant PR doesn't work anymore. The way our world communicates has changed&hellip;"></article>
	</div><!--#jumbotron-->
	
	<div id="jumbo_promo">
		<h1><a href="#">A new direction for the restaurant industry</a></h1>
		<p>Traditional restaurant PR doesn't work anymore. The way our world communicates has changed&hellip;&nbsp;<a href="#">learn&nbsp;more&nbsp;&#187;</a></p>
		
	</div><!--#jumbo_promo-->
	<nav id="controller">
		<a href="#" class="switcher_btn selected">1</a>
		<a href="#" class="switcher_btn">2</a>
		<a href="#" class="switcher_btn">3</a>
		<a href="#" class="switcher_btn">4</a>
	</nav>
</div><!--#jumbotron_wrapper-->

<div id="audiences">
	<nav>
		<a href="#">
			<h1>Chefs</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</a>
		<a href="#">
			<h1>Media</h1>
			<p>Vestibulum lectus leo, lobortis eget molestie non, laoreet eget felis.</p>
		</a>
		<a href="#">
			<h1>Diners</h1>
			<p>Mauris eu tortor a sem consectetur luctus.</p>
		</a>
	</nav>
</div><!--#audiences-->

<br clear="all" />

<section id="bottom_promos">

	<article class="hp_promo">
		<section class="pk">
			<h1><a href="#">Press Kits</a></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla, sem eu rhoncus interdum, leo quam tempus nibh, sed egestas elit massa vitae mauris.</p>
			<h3><a href="#">Login or register for RIA Press Kits&nbsp;&#187;</a></h3>
		</section><!--.pk-->
	</article>
	
	<article class="hp_promo">
		<section class="sb">
			<h1><a href="#">Soapbox</a></h1>
			<p><a href="#">Soapbox</a> is a digital magazine written by chefs. And mixologists, and sommeliers, and owners. Designed to showcase the inspirations, philosophies and backgrounds of restaurant personnel, Soapbox lets chefs and other industry professionals speak for themselves.</p>
			<h3><a href="#">Visit Soapbox&nbsp;&#187;</a></h3>
		</section><!--.sb-->
	</article>
	
	<article class="hp_promo">
		<section class="sf">
			<h1><a href="#">Spoonfeed</a></h1>
			<p><a href="#">Spoonfeed</a> the easy-to-use system our members use to manage their online presence. A social network for the chef-driven restaurant industry, Spoonfeed is designed to guide our members in creating a successful online brand — and to achieve real-life results.</p>
			<h3><a href="#">Login to Spoonfeed&nbsp;&#187;</a></h3>
		</section><!--.sf-->
	</article>
	
	<article class="hp_promo last">
		<section class="mf">
			<h1>Mediafeed <span>(coming soon)</h1>
			<p>Mediafeed connects media to the restaurant industry. For free. So we are connecting media to all of our members at no cost. It’s also free for the media, both traditional and new. Mediafeed will be arriving December 2010.</p>
			<h3><a href="#">Email me when available</a></h3>
		</section>
	</article>
	
</section><!--#bottom_promos-->

