<% title "Your Digital Dashboard", false %>

<div id="restaurant_profile_view" class="edit clear clearfix">
    <div id="editing_restaurant">
        <div id="restaurant_pages" class="clearfix">
           <div id="restaurant_features_content" style="width:100%;">
                <div class="clearfix clear">
                    <div id="dashboard-left-column">part 1 

                    </div>
                    <div id="dashboard-right-column"> 
										   <%= render_results(@user_announcements) %>
                    </div>

                </div>
            <!-- </div> -->
          </div>
        </div>
    </div><!-- /editing_restaurant -->
</div><!-- /restaurant_profile_view -->
