// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "compass/reset";
@import "blueprint";
@import "compass/css3";
// To configure blueprint, edit the partials/base.sass file.
@import "../partials/base";
@import "compass/layout/sticky-footer";

@include reset-html5;

.clearfix{overflow:hidden;}
.clear{clear:both;}
a {text-decoration: none;color: $orange;outline: none;}

body{
 	font:normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#fff url(/images/mediafeed/body-bg.gif) repeat-x;
	color:#333;
}

#printlogo {
	display: none;
}

hr.edit_block {
	margin-right: 10px;
	border-top: 1px solid #e1d9c4;
	border-left: 0px none none;
	border-right: 0px none none;
	border-bottom: 0px none none;
	background: none;
	background-color: none;
	color: #ddd;
}

strong, b{
	font-weight:bold;
}
em, i{
	font-style:italic;
}

#container{
	width: 974px;
	margin: 0 auto;
	*zoom: 1;
	position:relative;
}

@include sticky-footer(160px, "#container", "#padding", "#footer_container");

#staging_bar{
	position:absolute;
	z-index:10000;
	padding:10px;
	background: #FFF6BF;
	border:solid #FFD324;
	border-width:0 2px 2px 0;
	color: #514721;
}


#site_header {
	display: block;
	height: 135px;
	overflow: hidden;
	.branding {
		@include column(10);
		h1#logo {
			a{
				background: transparent url(/images/mediafeed/logo-mediafeed.png) no-repeat;
				background-position: -3px 0px;
				width: 735px;
				height: 123px;
				@include hiddentext;
			}
		}
	}
	#header_right {
		@include column(14,true);
		overflow: hidden;
		#tagline {
			margin: 12px 0;
			h2 {
				@include gotham;
				margin: 0;
				font-size: 18px;
				font-weight: bold;
				font-weight: 500;
				color: $orange;
				letter-spacing: 0.1em;
				text-shadow: 0 -1px 0 $trans-brown;
			}
		}
		#header_promos {
			display: block;
			margin: 12px 0;
			height: 68px;
			.header_promo {
				@include column(3);
				float: right;
				display: block;
				margin: 16px 0 0 10px;
				padding: 7px 12px;
				border: 1px solid $tan;
				@include gotham;
				font-weight: normal;
				font-weigth: 300;
				color: $gray;
				font-size: 13px;
				text-transform: uppercase;
				line-height: 18px;
				&#request_an_invitation {
					width: 155px;
				}
				span {
					display: block;
					font-weight :bold;
					font-weight: 700;
					color: $orange;
					font-size: 16px;
				}
				&:hover {
					background-color: $orange;
					color: #fff;
					color: rgba(255,255,255,.7);
					border: 1px solid #cb4712;
					@include box-shadow(#eaeaea, 2px, 2px, 2px);
					span {
						color: #fff;
						text-shadow: 0 1px 0 #333;
					}
				}
			}
			.top_promo {
				display: block;
				&.profile {
				  position: absolute;
          right: 0;
				  top: -18px;
					padding: 0 0 0 8px;
					width: 230px;
					margin-top: 30px;
					a {
						white-space:nowrap;
						color: #aaa;
						img {
							border: 1px solid #d1ccb7;
							margin: -4px 10px 0 0;
							padding: 2px;
							float:left;
							@include transition;
							@include hiddentext;
							&:hover {
								border: 1px solid $orange;
								@include box-shadow(#ccc,0px,0px,1px);
							}
						}
					}
					ul {
						min-height: 30px;
						margin: 0 0 8px;
						padding: 0;
						li {
							display: inline-block;
							padding: 4px 5px 4px 0;
							a {
								padding: 0 5px 0 0;
								color: $orange;
								@include transition;
								&:hover {
									text-decoration: underline;
									color: $brown;
								}
							}
						}
						&.logged_out{
							margin:0;
							text-align:right;
						}
					}
				}
			}
		}
	}
} /* ## END OF #site_header ------------------- */


#main {
	@include box-shadow(#ddd,0px,2px,5px);
	margin: 0 0 0px 0;
	z-index: 500;
	background: transparent url(/images/mediafeed/bg-fauxcolumn.gif) repeat-y;
	&.hp {
		position: relative;
		background: none;
		@include box-shadow(none);
	}
}

#primary_nav {
	width: 974px;
	position: relative;
	z-index: 100;
	background: transparent url(/images/mediafeed/nav-bg.png) repeat-x;
	height: 55px;
	> span {
	  position: relative;
		display:block;
		float: left;
	  a.count {
	    position: absolute;
  	  right: 3px;
  	  top: 3px;
	    color: #D8531E;
	    font-weight: bold;
	    background: #fff;
	    font-size: 11px;
	    padding: 2px 6px;
	    @include border-radius(10px);
	    @include box-shadow(#d3d3ce, 0, 2px, 0, 0);
			float:none;
			height:auto;
			text-indent:0;
	  }
	}
	a {
		@include hiddentext;
		height: 50px;
		width: 243px;
		float: left;
		background: transparent url(/images/mediafeed/nav-loggedin.png) no-repeat;
		&#nav_explore {
			background-position: 0 0;
			&:hover {background-position: 0 -100px;}
			&.selected {background-position: 0 -200px;}
		}
		&#nav_requests {
			width: 244px;
			background-position: -244px 0;
			&:hover {background-position: -244px -100px;}
			&.selected {background-position: -244px -200px;}
		}
		&#nav_profile {
			width: 244px;
			background-position: -490px 0;
			&:hover {background-position: -490px -100px;}
			&.selected {background-position:-490px -200px;}
		}
		&#nav_contact {
			background-position: -734px 0;
			&:hover {background-position: -734px -100px;}
			&.selected {background-position:-734px -200px;}
		}
		&.selected {
		  + a.count {
	      @include box-shadow(#ab4218, 0, 2px, 0, 0);
	    }
		}
	}
} /* ## end of #primary_nav ------------------------ */

#alternate_nav {
	width: 974px;
	position: relative;
	z-index: 100;
	background: transparent url(/images/mediafeed/nav-bg.png) repeat-x;
	height: 55px;
	a {
		@include hiddentext;
		height: 50px;
		width: 194px;
		float: left;
		background: transparent url(/images/mediafeed/nav.png) no-repeat;
		&#nav_home {
			background-position: 0 0;
			&:hover {background-position: 0 -100px;}
			&.selected {background-position: 0 -200px;}
		}
		&#nav_about {
			background-position: -194px 0;
			&:hover {background-position: -194px -100px;}
			&.selected {background-position: -194px -200px;}
		}
		&#nav_overview {
			width: 195px;
			background-position: -389px 0;
			&:hover {background-position: -389px -100px;}
			&.selected {background-position:-389px -200px;}
		}
		&#nav_contact {
			width: 195px;
			background-position: -583px 0;
			&:hover {background-position: -583px -100px;}
			&.selected {background-position:-583px -200px;}
		}
		&#nav_login {
			width: 196px;
			background-position: -776px 0;
			&:hover {background-position: -776px -100px;}
			&.selected {background-position:-776px -200px;}
		}
		&.selected {
		  + a.count {
	      @include box-shadow(#ab4218, 0, 2px, 0, 0);
	    }
		}
	}
} /* ## end of #primary_nav ------------------------ */

#jumbotron {
	@include column(24, true);
	height: 395px;
	overflow:hidden;
	background:$brown;
	margin: -10px 0 20px 0;
	position: relative;
	z-index: 10;
	#jumbo_promo {
		position:absolute;
		top:0;
		left:0;
		z-index:1000;
		height: 400px;
		width: 974px;
		padding: 25px 0px 0px 25px;
		h1 {
			font-size: 44px;
			@include gotham;
			color: #fff;
			text-shadow: 0px 2px 3px #333;
			margin: 0 0 10px 0;
			font-weight: normal;
			a {
				color: #fff;
				&:hover {
					color: $tan;
				}
			}
		}
		#excerpt {
			width: 340px;
			font-size: 20px;
			line-height: 25px;
			font-weight: 300;
			@include neue;
			color: #fff;
			text-shadow: 0px 1px 0px #333;
			a {
				color: #fff;
				font-weight: 500;
				&:hover {
					color: $orange;
					text-decoration: none;
				}
			}
		}
		#photo_credit {
			bottom: 12px;
			right: -200px;
			font-size: 9px;
			position: absolute;
			@include gotham;
			text-shadow: 1px 1px 1px #000;
			z-index: 100;
		}
	}
} /* ## END of jumbotron ----------------- */

#jumbotron_controller {
	height: 42px;
	margin: 0;
	position: absolute;
	width: 974px;
	top: 348px;
	z-index: 1000;
	background: transparent url(/images/redesign/bg-controller.png) no-repeat 0 100%;
	nav {
		height: 16px;
		padding: 10px 0 10px 20px;
		background: transparent url(/images/redesign/bg-25percent-black.png) repeat;
		position: relative;
		float: left;
		a {
			position: relative;
			margin: 2px 16px 0 0;
			float: left;
			width: 14px;
			height: 14px;
			background-color: $tan;
			@include border-radius(20px);
			@include hiddentext;
			@include transition;
			border: 1px solid $trans-brown;
			&:hover {
				background-color: $brown;
			}
			&.activeSlide {
				background-color: $orange !important;
				border: 1px solid #f07e50 !important;
			}
			&.last {
				padding-right: 0;
				margin-right: 0;
			}
		}
	}
} /* end of JUMBOTRON -------------------------------- */


#content {
	min-height: 500px;
	margin-bottom: 30px;
	padding: 5px 0 20px;
	overflow: hidden;
	position: relative;
	a.action {
	  margin: 5px 0;
	  display: block;
	  float: left;
	  border: 1px solid #bbb;
	  @include border-radius(15px);
	  @include linear-gradient(color-stops(#eee, #d4d4d4), top);
	  padding: 5px 10px;
	  color: black;
	  font-weight: bold;
	  &:hover {
	    color: black;
	    text-decoration: none;
	    border: 1px solid gray;
	    @include linear-gradient(color-stops(#eee, #d4d4d4), top);
	  }
	  &:active {
	    @include linear-gradient(color-stops(#eee, #d4d4d4), bottom);
	  }
	}
	header {margin-bottom: 15px;}
	.inner_content{
		padding:10px 20px;
		overflow: hidden;
		button, input[type="submit"] {
			cursor:pointer;
			float: left;
			display: block;
			margin: 0 10px 0 0;
			font-size: 12px;
			font-family: 'helvetica neue', helvetica, arial, sans-serif;
			background-color: $orange;
			@include border-radius(20px);
			color: #fff;
			padding: 5px 12px;
			font-weight: bold;
			text-shadow:0 1px 0 #444;
			border:0;
			&:hover {
				background: #bbb08c;
				color: #fff;
			}
			&.positive {
				margin:0 0 10px;
				&:hover {
					background: #e1d9c4;
					color: #333;
					text-shadow:none;
				}
			}
			&.clear{
				float:none;
				margin:10px 0;
			}
		}
		h5 {
			font-size: 15px;
			text-transform: none;
			letter-spacing: 0;
			margin: 0 0 12px;
		}
		#new_user_session {
			margin: 0;
			padding: 12px 15px;
			background-color: $trans-brown;
			width: 400px;
			border: 1px solid #e5e3db;
			fieldset {
				margin: 0;
				padding: 0;
				.inline-hints {
					font-style: normal;
					font-size: 11px;
				}
				.forgot {
					margin: 10px 0;
				}
				p {
					button {
						margin: 7px 0 0;
					}
				}
			}
		}
	}
	/* -- base styles for the site -- */
	.edit_button {
		position: relative;
		top: -2px;
		left: 20px;
		background-color: $brown;
		color: #fff;
		@include gotham;
		padding: 5px 12px;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
		font-weight: 700;
		text-shadow: 0 1px 0 #333;
		background: $brown url(/images/mediafeed/pencil.png) no-repeat 7px 5px;
		padding-left: 22px;
		&:hover {
			color: $trans-orange;
			background-color: $orange;
		}
	}
	&.hp {
		min-height:120px;
		@include column(24);
		position:relative;
		.hp_promo {
	    @include box-sizing('border-box'); // fix for firefox zoom 1px bug
			width: 318px;
			float: left;
			margin: 15px 10px 15px 0px;
			border: 1px solid #ddd;
			padding: 15px;
			&.last {
				margin-right: 0;
			}
			h1 {
				@include gotham;
				margin: 5px 0 10px;
				font-size: 18px;
				font-weight: bold;
				font-weight: 800;
				color: $orange;
				text-shadow: 0 1px 0 #fff;
			}
			p {
				font-weight: 300;
				font-size: 14px;
				line-height: 21px;
				a {
					color: $orange;
					&:hover {
						text-decoration: underline;
						color: $brown;
					}
				}
			}
			&.last {
				margin-right: 0;
			}
		}
	}
	
	
	h1 {
		@include gotham;
		font-size: 25px;
		color: #333;
		line-height: 30px;
		padding: 0;
		margin: 5px 0 12px 0;
		&.pg_title {margin: 0 0 15px 0;}
		a {
			color: $orange;
			text-decoration: none;
			&:hover {
				color: $brown;
			}
		}
	}
	h2 {
		@include gotham;
		font-weight: normal;
		font-size: 21px;
		color: #333;
		line-height: 28px;
		padding: 0;
		margin: 5px 0 12px 0;
		a {
			color: $orange;
			text-decoration: none;
			&:hover {
				color: $brown;
				text-decoration: none;
			}
		}
		
		&#topic_title{
			font:normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin:0 0 5px;
			padding:0;
			color:$brown;
			text-transform:uppercase;
		}
	}
	h3 {
		@include gotham;
		font-size: 14px;
		font-weight: bold;
		color: #333;
		margin: 10px 0;
		a {
			color: $orange;
			text-decoration: none;
			&:hover {
				color: $brown;
				text-decoration: none;
			}
		}
	}
	h4 {
		@include gotham;
		font-size: 12px;
		font-weight: bold;
		color:#333;
		letter-spacing: 0.1em;
		margin: 8px 0;
		text-transform: uppercase;
		line-height: 18px;
		a {
			color: $brown;
			&:hover {
				text-decoration: underline;
				color: $orange;
			}
		}
	}
	h5 {
		font-weight: 300;
		font-size: 14px;
		font-family: "helvetica neue", helvetica, arial, sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #333;
		a {
			color: $brown;
			&:hover {
				color: $orange;
				text-decoration: underline;
			}
		}
	}
	h6 {
		font-size: 11px;
		a {
			color: $orange;
			&:hover {
				color: $brown;
			}
		}
	}
	p {
		font-size: 12px;
		color: #333;
		margin: 5px 0 15px;
		padding: 0;
		line-height: 18px;
		&.save_end{
			margin:15px 0 10px;
		}
		a {
			color: $orange;
			text-decoration: none;
			&:hover {
				color: $brown;
				text-decoration: underline;
			}
			&.button {
				float:left;
				font-weight: 300;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				padding: 4px 12px;
				background: #dd630c;
				color: #fff;
				@include border-radius(20px);
				img {
					margin-right: 2px;}
				&:hover {
					background-color: $trans-orange;
					color: #333;
					text-decoration: none;
					border: 1px solid $orange;
					text-shadow: 0 1px 0 #333;
				}
			}
		}
	}
	blockquote {
		float: left;
		width: 262px;
		margin: 2px 15px 10px 0;
		padding: 10px 15px;
		border: 1px solid #e2dfd2;
		background: $trans-brown;
		p {
			@include gotham;
			font-size: 18px;
			font-weight: normal;
			font-style: italic;
			color: $brown;
			text-shadow: 0 1px 0 #fff;
			line-height: 24px;
			margin: 0;
			padding: 0;
		}
	}
	ul {
		margin: 5px 0 15px 0;
		padding: 0;
		list-style: none;
		li {
			padding: 3px 0 3px 20px;
			background: transparent url(/images/redesign/square.gif) no-repeat 10px 5px;
			line-height: 16px;
			a {
				color: $orange;
				text-decoration: none;
				&:hover {
					color: $brown;
					text-decoration: underline;
				}
			}
		}
	}	
	ol {
		margin: 5px 0 15px 18px;
		padding: 0;
		list-style: decimal;
		list-style-position: outside;
		li {
			padding: 3px 0;
			background: none;
			line-height: 16px;
			a {
				color: $orange;
				text-decoration: none;
				&:hover {
					color: $brown;
					text-decoration: underline;
				}
			}
		}
	}
	dl {
		dd {
			font-weight: bold;
			color: #333;
		}
		dt {
			margin: 0 0 10px 0;
		}
	}/* ## END of base styles for the site -- */
} /* end of #content.hp -------------------------------- */

form, #content form{
	ul, ol, li{
		margin:0;
		padding:0;
		list-style:none;
	}
	label{
		display:block;
	}
	.string, .text, .country, .password{
		label{
			display:block;
			margin:5px 0 0;
		}
	}
	.string, .text, .password{
		input, textarea{
			padding:5px;
			border:1px solid #ccc;
			font:bold 13px;
			color:#333;
		}
	}
	.wider{
		width:250px;
		padding:5px;
	}
	.date{
		ol, ul{
			overflow:hidden;
			li{
				float:left;
				margin:0 10px 0 0;
				label, .label {
					display:block;
				}
			}
		}
	}

	p.inline-hints{
		width: 400px;
		margin:0 0 10px;
		font-style:italic;
		line-height: 15px;
		color:#666;
	}
	fieldset{
		margin:10px 0;
		padding:10px;
	}
	#user_metropolitan_areas_input fieldset{
		padding:0;
		ol{
			margin:10px 0;
			padding:5px;
			border:1px solid #ccc;
			overflow:auto;
			width:50%;
			height:200px;
		}
	}
	.error{
		padding:5px;
		border:2px solid $orange;
		background: $trans-orange;
		color: $orange;
		margin:5px 0;
	}
} /* ## forms universal styles ------------------ */

#user-results {
	h3 {
		border-bottom: 1px solid #ddd;
		margin: 35px 0 10px 0;
	}
	.identity {
		float: left;
		width: 315px;
		margin: 10px 20px 10px 0;
		min-height: 70px;
		border-bottom: 1px dotted #ddd;
		.avatar {
			float: left;
			width: 50px;
			margin: 0px 10px 10px 0;
			img {
				border: 1px solid $brown;
				@include hiddentext;
			}
		}
		ul {
			margin: 0;
			padding: 0 0 0 70px;
			li {
				background: none;
				margin: 0;
				padding: 0;
				line-height: 16px;
			}
		}
		&.no_avatar{
			ul{
				margin-left:0;
			}
			.avatar{
				width:0;
				margin:0;
			}
		}
	}
} /* ## user-results ---------------------- */

.editing_restaurant {
	overflow: hidden;
	padding: 0;
	h5 {
		text-transform: none;
		letter-spacing: 0;
	}
	input {
    margin-bottom: 12px;
    &[type="password"], &[type="url"], &[type="text"], &[type="number"] {
      border: 1px solid #ccc;
      @include box-shadow(#eaeaea, 0px, 1px, 1px);
      width: 55%;
    }
	}
	textarea {
    border: 1px solid #ccc;
    @include box-shadow(#eaeaea, 0px, 1px, 1px);
    width: 55%;
    height: 80px;
  }
	button, input[type="submit"] {
		cursor:pointer;
		float: left;
		display: block;
		margin: 0 10px 0 0;
		font-size: 12px;
		font-family: 'helvetica neue', helvetica, arial, sans-serif;
		background-color: $orange;
		@include border-radius(20px);
		color: #fff;
		padding: 5px 12px;
		font-weight: bold;
		text-shadow:0 1px 0 #444;
		border:0;
		&:hover {
			background: #bbb08c;
			color: #fff;
		}
		&.positive {
			margin:0 0 10px;
			&:hover {
				background: #e1d9c4;
				color: #333;
				text-shadow:none;
			}
		}
		&.clear{
			float:none;
			margin:10px 0;
		}
	}
	.media_requests {
		font-family: 'helvetica neue', helvetica, arial, sans-serif;
		font-weight: normal;
		background: #fff url(/images/redesign/mediarequest.gif) no-repeat 10px 16px;
		color: #333;
		float: left;
		width: 140px;
		padding: 15px 15px 15px 35px;
		border: 1px solid #eaeaea;
		margin: 0 15px 10px 0;
		@include box-shadow(#f2f2f2, 0,1px,1px);
		@include border-radius(4px);
		a {
			color: $orange;
			font-weight: bold;
			&:hover {
				color: $brown;
			}
		}
	}
	.rearrange {
		font-family: 'helvetica neue', helvetica, arial, sans-serif;
		font-weight: normal;
		color: #333;
		border-bottom: 1px solid #ddd;
		padding: 0 0 4px 0;
		margin: 5px 0;
	}
	.sf-button {
		display: inline-block;
		@include linear-gradient(color-stops(#f4f4f4,#eaeaea), top);
		border: 1px solid #ddd;
		padding: 4px 14px;
		@include border-radius(30px);
		color: #333;
		text-shadow: 0 1px 0 #fff;
		font-weight: bold;
		&:hover{
			background:#ddd;
			@include linear-gradient(color-stops(#fff,#ffe1d5 ), top);
			border: 1px solid #ffe1d5;
			text-shadow: 0 1px 0 #fff;
			color: $orange;
			text-decoration: none;
		}
	}
	.placeholder {
		background-color: #f9f9f9;
		border: 1px #eee solid;
		padding: 15px;
	}
	.edit_block {
		border-bottom: 1px dotted #ccc;
	}
	ol li {
		label, .label {
		  font-size: 13px;
			font-weight: normal;
		}
		select {
			display: block;
			margin: 3px 0 12px;
			width: 55%;
		}
		ol select {
		  width: auto;
		}
		.inline-hints {
			margin: -8px 0 10px;
			color: #888;
			font-size: 11px;
			font-style: normal;
		}
	}
	.editing {
		border-bottom: 1px dotted #ccc;
		margin: 10px 0;
		padding: 0;
		.question {
		  input {
		    margin-top: -5px;
		  }
		  label, .label {
		    font-weight: normal;
		  }
		}
		p {
			margin: 5px 0 15px;
			&.currently {
				float: left;
				font-size: 14px;
				margin: 0 15px 10px 0;
				padding: 10px 15px;
				text-shadow: 0 1px 0 #fff;
				width: 140px;
				background-color: $trans-orange;
				color: $orange;
				@include border-radius(4px);
			}
			&.alert {
				font-size: 14px;
				color: $orange;
			}
		}
		legend {
			font-family: 'Gotham', 'Gotham HTF', 'helvetica neue', helvetica, arial, sans-serif;
			font-size: 14px;
			font-weight: bold;
			color: #333;
			padding: 0;
			span {
				display: inline-block;
				margin: 10px 0;
				padding: 0;
			}
		}
		&#logo_image {
			legend {
				margin: 10px 0 0;
			}
			img {
				float: left;
				width: 50px;
				height: 50px;
				border: 1px solid #ccc;
				background-color: #f2f2f2;
				margin: 0 15px 10px 0;
				@include hiddentext;
			}
			label, .label {
				display: block;
			}
			input {
				@include box-shadow(none);
			}
		}
		table {
			clear: both;
			background-color: #fff;
			form {
				margin-bottom: 6px;
			}
			.photo {
				background-color: #fff;
				&:hover {
					background-color: #fbf2f2;
				}
			}
			th {
				background-color: #f4f3ee;
				text-shadow: 0 1px 0 #fff;
				color: #838280;
				font-size: 13px;
				font-weight: normal;
				padding: 6px 10px;
			}
			td {
				border-bottom: 1px solid #ddd;
				padding: 2px 10px;
				img {
					width: 100px;
					@include hiddentext;
				}
				a.delete, a.colorbox {
					width:50px;
					font-size: 11px;
				}
			}	
		}
	}
	.negative {
		background: $trans-orange url(/images/redesign/trash.gif) no-repeat 9px 5px;
		padding: 4px 12px 4px 22px;
		@include border-radius(30px);
		&:hover {
			background-color: $orange;
			color: #fff;
			text-decoration: none;
			color: rgba(255,255,255,.8);
		}
	}
	.accolades {
	  border-top: none;
	  margin: 0;
	  padding: 0;
		h2 {
			font-family: 'Hoefler Text', Georgia, Times, serif;
			font-size: 14px;
			font-weight: bold;
			color: #333;
			padding: 0;
			margin-bottom: 5px;
		}
		ul#accolades {
			margin: 0;
			padding: 0;
			li {
				float: left;
				width: 300px;
				padding: 10px;
				border: 1px solid #ddd;
				background: none;
				margin: 0 15px 10px 0;
				.extended-title {
					display:  block;
					font-size: 13px;
					margin: 2px 0;
					font-weight: bold;
				}	
			}
		}
	}
	.colorbox {
		margin: 3px 3px 3px 0;
		background: #eae6d5 url(/images/redesign/icon-16-pencil.png) no-repeat 3px 1px;
		display: inline-block;
		padding: 1px 5px 1px 18px;
		color: $brown;
		&:hover {
			background-color: $brown;
			color: #fff;
			text-shadow: 0 1px 0 #333;
			text-decoration: none;
		}
	}
	.delete {
		margin: 3px 3px 3px 0;
		background: $trans-orange url(/images/redesign/icon-16-delete.png) no-repeat 3px 1px;
		display: inline-block;
		padding: 1px 5px 1px 18px;
		&:hover {
			background-color: $orange;
			color: #fff;
			text-shadow: 0 1px 0 #333;
			text-decoration: none;
		}
	}
	.ui-sortable {
		.employment_box {
			cursor: move;
			.user {
				overflow:hidden;
				padding: 10px;
				border: 1px solid #ddd;
				@include linear-gradient(color-stops(#fff,#f2f2f2), top);
				@include border-radius(3px);
				margin: 5px 0;
				.profile_meta {
					float: left;
					width: 340px;
					a {
						padding: 2px 10px;
						@include border-radius(15px);
						font-size: 11px;
						&.edit {
							background: #eae4d9;
							color: $brown;
							&:hover {
								background-color: $brown;
								text-shadow: 0 1px 0 #333;
								color: #fff;
							}
						}
						&.delete {
							background: $trans-orange;
							color: $orange;
							&:hover {
								background-color: $orange;
								text-shadow: 0 1px 0 #333;
								color: #fff;
							}
						}
					}
					.restaurant_role {
						margin: 0 0 4px;
					}
					.responsibilities {
						font-size: 11px;
						line-height: 14px;
						margin: 10px 0 0;
					}
				}
				.profile_public_meta {
					float: left;
					border-left: 1px dotted #ccc;
					width: 200px;
					padding-left: 15px;
				}
				img {
					float: left;
					width: 50px;
					height: 50px;
					border: 1px solid #ddd;
					margin: 0 15px 0 0;
					@include hiddentext;
				}
				h3 {
					text-transform: capitalize;
					margin: 3px 0;
				}
			}
		}
	}
	.upload_photo {
		@include linear-gradient(color-stops(#fff,#f4f4f4 ), top);
		border: 1px solid #ddd;
		padding: 10px 15px;
		margin: 0 0 20px;
		fieldset {
			margin: 0;
			padding: 0;
			legend {
				font-size: 13px;
				margin: 0 0 8px;
				padding: 0;
				color: #777;
			}
			ol {
				li {
					label, .label {
						display: block;
					}
				}
				button.positive {
					display: inline-block;
					margin: 6px 0 0;
				}
			}
		}
	}
}

#main{
	@include box-shadow(#ddd,0px,2px,5px);
	margin: 0 0 0px 0;
	z-index: 500;
	background: transparent url(/images/redesign/bg-fauxcolumn.gif) repeat-y;
	&.hp {
		position: relative;
		background: none;
		@include box-shadow(none);
	}
}

#content {
	@include column(18);
	header {
		padding: 5px 0;
		margin: 0;
		border-bottom: 1px dotted #ddd;
		img {
			float: left;
			margin: 0 14px 10px 0;
		}
		.addthis_toolbox {
		  float: left;
      font-family: 'Hoefler Text', Georgia, serif;
      font-size: 14px;
      font-weight: bold;
		}
		.user_actions {
			float: right;
			display: block;
			width: 230px;
			a {
				display: block;
				padding: 10px;
				margin: 0 0 10px 0;
				font-family: 'Hoefler Text', Georgia, Serif;
				text-transform: uppercase;
				text-shadow: 0 1px 0 #fff;
				letter-spacing: 0.2em;
				font-weight: bold;
				background-color: $trans-orange;
				&.private_message {
					background: $trans-orange url(/images/redesign/icon-16-bubble.png) no-repeat;
					background-position: 10px 10px;
					padding-left: 32px;
					&:hover {
						color: $brown;
						background-color: $trans-brown;
						background-position: 10px -90px;
					}
				}
				&.follow_user {
					background: $trans-orange url(/images/redesign/icon-16-follow.png) no-repeat;
					background-position: 10px 10px;
					padding-left: 32px;
					&:hover {
						color: $brown;
						background-color: $trans-brown;
						background-position: 10px -90px;
					}
				}
			}
		}
		h1 {
			margin: 0;
			text-transform: capitalize;
		}
	}
} /* ## END OF #content ------------------- */


#sidebar_b {
	@include column(6, true);
	#sidebar_content {
		margin: 12px 8px 0 6px;
		.promo {
			display: block;
			border: 1px solid #ddd;
			margin: 0 0 10px 0;
			padding: 12px 10px;
			@include box-shadow(#eee,0px, 1px,0px);
			&.media_request {
				background: $orange url(/images/mediafeed/pen.png) no-repeat 8px 12px;
				padding-left: 46px;
				color: #fff;
				@include gotham;
				font-size: 15px;
				font-weight: bold;
				border: 1px solid $orange;
				text-shadow: 0 1px 0 #333;
				&:hover {
					background-color: $brown;
					border: 1px solid $tan;
					color: #fff;
					color: rgba(255,255,255,.8);
				}	
			}
			&.go_to_soapbox {
			  @include gotham;
				font-size: 14px;
				line-height: 20px;
			  &:hover {
					color: $brown;
					text-shadow: 0 1px 0 #fff;
					background-color: $trans-brown;
					border: 1px solid $tan;
				}
			}
			&.soapbox_directory {
			  @include gotham;
				font-size: 14px;
				line-height: 20px;
				h1 {
				  font-size: 15px;
				  font-weight: bold;
				  text-transform: uppercase;
				}
			  &:hover {
					color: $brown;
					text-shadow: 0 1px 0 #fff;
					background-color: $trans-brown;
					border: 1px solid $tan;
				}
			}
		}
	}

} /* ## end of sidebar_b ------------------------ */


#page_content {
	padding: 12px 14px 20px 18px;
	overflow: hidden;
	position: relative;
	header {margin-bottom: 15px;}
	
	/* -- base styles for the site -- */
	
	h1 {
		@include gotham;
		font-size: 25px;
		color: #333;
		line-height: 30px;
		padding: 0;
		margin: 5px 0 12px 0;
		font-weight: bold;
		font-weight: 700;
		&.pg_title {margin: 0 0 15px 0;}
		a {
			color: $orange;
			text-decoration: none;
			&:hover {
				color: $brown;
			}
		}
	}
	h2 {
		@include gotham;
		font-weight: bold;
		font-weight: 700;
		font-size: 19px;
		color: #333;
		line-height: 26px;
		padding: 0;
		margin: 5px 0 6px 0;
		a {
			color: $orange;
			text-decoration: none;
			&:hover {
				color: $brown;
				text-decoration: none;
			}
		}
		
		&#topic_title{
			font:normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin:0 0 5px;
			padding:0;
			color:$brown;
			text-transform:uppercase;
		}
	}
	h3 {
		@include gotham;
		font-size: 15px;
		font-weight: bold;
		color: #333;
		margin: 10px 0;
		a {
			color: $orange;
			text-decoration: none;
			&:hover {
				color: $brown;
				text-decoration: none;
			}
		}
	}
	h4 {
		@include neue;
		font-size:15px;
		font-weight: normal;
		font-weight: 300;
		color:#333;
		margin: 8px 0;
		line-height: 18px;
		a {
			color: $brown;
			&:hover {
				text-decoration: underline;
				color: $orange;
			}
		}
	}
	h5 {
		font-weight: 300;
		font-size: 13px;
		@include gotham;
		color: #333;
		a {
			color: $brown;
			&:hover {
				color: $orange;
				text-decoration: underline;
			}
		}
	}
	h6 {
		font-size: 11px;
		a {
			color: $orange;
			&:hover {
				color: $brown;
			}
		}
	}
	p {
		font-size: 12px;
		color: #333;
		margin: 5px 0 15px;
		padding: 0;
		line-height: 18px;
		&.save_end{
			margin:15px 0 10px;
		}
		a {
			color: $orange;
			text-decoration: none;
			&:hover {
				color: $brown;
				text-decoration: underline;
			}
			&.button {
				float:left;
				font-weight: 300;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				padding: 4px 12px;
				background: #dd630c;
				color: #fff;
				@include border-radius(20px);
				img {
					margin-right: 2px;}
				&:hover {
					background-color: $trans-orange;
					color: #333;
					text-decoration: none;
					border: 1px solid $orange;
					text-shadow: 0 1px 0 #333;
				}
			}
		}
	}
	blockquote {
		float: left;
		width: 262px;
		margin: 2px 15px 10px 0;
		padding: 10px 15px;
		border: 1px solid #e2dfd2;
		background: $trans-brown;
		p {
			@include gotham;
			font-size: 16px;
			font-weight: normal;
			color: $brown;
			text-shadow: 0 1px 0 #fff;
			line-height: 24px;
			margin: 0;
			padding: 0;
		}
	}
	ul {
		margin: 5px 0 15px 0;
		padding: 0;
		list-style: none;
		li {
			padding: 3px 0 3px 20px;
			background: transparent url(/images/redesign/square.gif) no-repeat 10px 5px;
			line-height: 16px;
			a {
				color: $orange;
				text-decoration: none;
				&:hover {
					color: $brown;
					text-decoration: underline;
				}
			}
		}
	}	
	ol {
		margin: 5px 0 15px 18px;
		padding: 0;
		list-style: decimal;
		list-style-position: outside;
		li {
			padding: 3px 0;
			background: none;
			line-height: 16px;
			a {
				color: $orange;
				text-decoration: none;
				&:hover {
					color: $brown;
					text-decoration: underline;
				}
			}
		}
	}
	dl {
		dd {
			font-weight: bold;
			color: #333;
		}
		dt {
			margin: 0 0 10px 0;
		}
	}/* ## END of base styles for the site -- */
}


#flashes {
	clear:both;
	margin: 15px 0;
	font-family: Gotham, "helvetica neue", arial, sans-serif;
	font-size: 13px;
	position: relative;
	div{
		border: 1px solid #ddd;
		padding: 10px 15px;
		@include box-shadow(#f1f1f1,0px,2px,2px);
		&#flash_error{
			background: $tan;
			border-color: $orange;
			color: $orange;
		}
		&#flash_notice{
			background: #fffbe0;
			border-color: #FFD324;
			color: #766833;
		}
		&#flash_success{
			background: #edf5d0;
			border-color: #abbc66;
			color: #365816;
		}
	}
	a{
		text-decoration:underline;
	}
} /* ## end of flashes ----------------------------- */

#criteria_accordion {
	.accordion_box {
		width: 620px;
		border: 1px solid #ece8d7;
		@include border-radius(4px);
		background: #f7f6f2 url(/images/redesign/button_bg.png) repeat-x;
		margin: 5px 0 0 0;
		.ui-accordion-content {
			li {
				background-color: #fff;
				label, .label {
					display: block;
					margin: 5px 0;
					font-weight: normal;
				}
			}
		}
		a {
			display: block;
			font-size: 13px;
			text-shadow: 0 1px 0 #fff;
			color: #897a55;
			font-weight: bold;
			padding: 8px 12px;
			margin: 0;
			&:hover {
				color: #d8531e;
			}
			span{
			  display:block;
			  padding-left:15px;
			  background:url(/images/blue_arrow.png) no-repeat 3px -23px;
			}
			&.options_selected{
			  background:$trans-orange url(/images/green_check.png) no-repeat right;
				color: $orange;
			}
			&.ui-state-active span{
			  background-position:3px 5px;
			}
			&.ui-state-active, &.ui-state-active.options_selected{
			  background-color:transparent;
			}
		}
	}
	li.check_boxes{
		height:220px;
	  overflow-y:auto;
	  padding:0 10px;
		li{
	  	float:none;
			list-style: none;
		  width:100%;
		}
		legend{
			display:none;
		}
	}
	.label label, div.loading{
	  display:none;
	}
} /* ## end of accordion ------------------------ */

#footer_container {
	position: relative;
	display: block;
	z-index: 1000;
	background-color: #333;
	#foot-wrap{
		height: 150px;
		border-top: 10px solid #000;
	}
	footer {	
		width: 974px;
		margin: 25px auto;
		padding: 0;
		font-weight: 300;
		color: #fff;
		#footer_branding {
			@include column(8);
		}
		#footer_links {
			@include column(12);
			p {
				margin: 8px 0 10px 0;
				color: #aaa;
				position:relative;
				a {
					color: #fff;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			nav {
				margin: 0 0 10px 0;
				a {
					background: transparent url(/images/redesign/line-footer.gif) no-repeat;
					background-position: 88% 2px;
					padding: 0 15px 0 0;
					color: #fff;
					&.last {background-image: none;}
					&:hover {text-decoration: underline;}
				}
			}
			ul {
				li {
					display: inline;
					color: #aaa;
					a {
						color: #fff;
						&:hover {text-decoration: underline;}
					}
				}
			}
		}
		#footer_social {
			@include column(4, true);
			a {
				display: block;
				padding: 0;
				margin: 0 0 15px 0;
				color: #fff;
				&.fb {
					padding: 0 0 0 32px;
					background: transparent url(/images/redesign/icon-25-fb.png) no-repeat 0 2px;
					&:hover {background-position: 0 -98px;}
				}
				&.twitter {
					padding: 0 0 0 32px;
					background: transparent url(/images/redesign/icon-25-twitter.png) no-repeat 0 2px;
					&:hover {background-position: 0 -98px;}
				}
				&:hover {
					color: #aaa;
					text-decoration: underline;
				}
			}
		}
	}
} /* ## end of #footer_container ---------------------- */

#new_media_request {
  .editing {
    padding: 0;
  }
  li fieldset  {
    margin: 0;
    padding: 0;
    .label {
      font-weight: normal;
      font-family: "helvetica neue", "helvetica", "arial";
    } 
  }
  form label {
    font-weight: normal;
    input[type="checkbox"] {
      margin-bottom: 0;
    }
  }
  #employment_list {
    background: $trans-orange;
    margin: 10px 0;
    padding: 5px 10px 15px 10px;
  	@include box-shadow(#aaa,0,2px,5px);    
    h3 {
      margin: 10px 0 5px;
    }
    h4 {
      letter-spacing: 0;
      text-transform: none;
    }
  }
  #criteria_accordion {
    .search_filter_hint {
      margin: 10px 0 5px;
    }
    .accordion_box {
      width: auto;
    }
  }
  .hint {
    color: gray;
  }
  #employment_criteria {
    ol {
      margin-top: -10px;
    }
  }
} /* ## end of #new_media_request ---------------------- */

#messages_nav {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
	width: 150px;
	float: left;
	nav {
		margin: 30px 0 0;
		a {
			font-size: 13px;
			display: block;
			padding: 8px 3px 8px 8px;
			margin: 0 0 2px;
			background-color: #E7E4D8;
			color: #555;
			text-shadow: 0 1px 0 #fff;
			&:hover {
				@include linear-gradient(color-stops(#cfc6aa,#e1d9c4), left);
				color: #333;
			}
			&.here {
				@include linear-gradient(color-stops(#ce4600,#df680e), left);
				color: #fff;
				text-shadow: 0 1px 0 #333;
			}
			&.nav_button {
				font-size: 11px;
				background: $trans-orange url(/images/redesign/plus.png) no-repeat 4px 10px;
				padding-left: 15px;
				color: $orange;
				margin: 0 0 2px;
				&:hover {
					background-color: $orange;
					color: #fff;
					text-shadow: 0 1px 0 #b63502;
				}
			}
			&.first {
				margin-top: 10px;
			}
		}
	}
}
#read_messages {
	float: left;
  min-height: 320px;
  margin: 40px 0 0;
  padding: 16px;
	width: 500px;
	border: 1px solid #eee;
  @include box-shadow(#ddd,0,2px,5px);
	.thread {
	  padding-bottom: 10px;
  	margin-bottom: 20px;
  	border-bottom: 1px solid silver;
	  ul {
	    margin: 0;
	    padding: 0;
	    li {
	      padding: 0;
	      background: none;
  	    list-style: none;
	    }
	  }
	  .fields {
	    span {
	      display: block;
	      font-weight: bold;
	    }
	  }
	  .limit {
	    .src {
	      display: none;
	    }
	  }
	  .attachments {
	    border-top: 1px dotted silver;
	    padding-top: 5px;
	  }
	  .message_headers {
	    padding-bottom: 5px;
	    border-bottom: 1px dotted silver;
	    h4 {
	      margin: 0;
	    }
	    li {
	      padding: 2px 0;
	    }
	  }
	  .message {
	    font-size: 14px;
	  }
	  .noone {
	    color: gray;
	  }
	  .sent_on {
	    margin-bottom: 10px;
	    color: gray;
	  }
	  .reply_count {
	    margin-bottom: 5px;
			padding:5px 0;
			border-bottom:1px dotted #ccc;
			font-weight:bold;
			font-size:15px;
	  }
	  .response {
	    background: $trans-brown;
	    padding: 10px;
	    margin-bottom: 6px;
	    .commentdate {
	      display: block;
	      color: gray;
	      font-size: 11px;
	    }
	  }
	}
	.top_message {
		margin: 15px 0 10px;
		h2 {
			color: #888;
			margin: 0;
			padding: 0;
		}
	}
	.new_comment {
		border-top: 3px double #ddd;
		label {
			display: block;
			font-weight: bold;
			font-family: 'helvetica neue', helvetica, arial, sans-serif;
			font-size: 12px;
			margin: 10px 0 2px;
		}
		textarea {
			@include border-radius(3px);
			height: 80px;
			@include box-shadow(#ddd,0px, 2px, 1px);	
			margin: 0;
		}
		p.attach {
			margin: 0 0 2px 0;
			padding: 0;
		}
		p.attachfield {
			margin: 0;
			padding: 0;
		}
		button {
			float: left;
			display: block;
			font-size: 14px;
			border: 1px solid #a2956b;
			background-color: #a99d75;
			@include linear-gradient(color-stops(#bbb08c,#a99d75), top);
			color: #fff;
			text-shadow: 0 1px 0 #333;
			@include border-radius(20px);
			padding: 5px 12px;
			font-weight: bold;
			margin: 10px 0;
			&:hover {
				background: #7c6d3c;
				color: #f4edd8;
				text-shadow: none;
				border: 1px solid #736433;
			}
		}
	}
	.latest {
		display: block;
		margin: 30px 0 10px;
		font-family: 'Hoefler Text', Georgia, Times, serif;
		letter-spacing: 0.2em;
		line-height: 17px;
		font-weight: bold;
		color: #333;
		text-transform: uppercase;
		border-bottom: 1px dotted #ddd;
	}
	.button {
		display: inline-block;
		@include linear-gradient(color-stops(#f4f4f4,#eaeaea), top);
		border: 1px solid #ddd;
		padding: 4px 14px;
		@include border-radius(30px);
		color: #333;
		text-shadow: 0 1px 0 #fff;
		font-weight: bold;
		&:hover{
			background:#ddd;
			@include linear-gradient(color-stops(#fff,#ffe1d5 ), top);
			border: 1px solid #ffe1d5;
			text-shadow: 0 1px 0 #fff;
			color: $orange;
		}
	}
	.publish_date {
		display: block;
		margin: 5px 0 0;
		padding: 2px 8px 6px;
		@include linear-gradient(color-stops(#fff,$trans-brown), top);
		font-size: 10px;
		font-family: 'lucida grande', verdana, arial, sans-serif;
		text-transform: uppercase;
		color: $brown;
	}
	#no-messages {
		background-color: $trans-orange;
		border: 1px solid #f5dcd2;
		padding: 10px;
		margin: 15px 0 0 0;
		p {
			margin: 0;
			padding: 0;
			line-height: 18px;
			font-style: italic;
			color: #826a60;
			font-size: 14px;
		}
	}
	.sender_avatar {
		float: left;
		img {
			width: 50px;
			height: 50px;
			background-color: #f4f4f4;
			border: 1px solid #ccc;
			@include hiddentext;
		}
	}
	.direct_message {
		border-bottom: 1px dotted #ccc;
		position: relative;
		header {
			padding: 16px 0 0px;
			h1 {
				font-family: 'helvetica neue', helvetica, arial, sans-serif;
				font-weight: normal;
				font-size: 13px;
				text-transform: none;
				margin: 0;
				padding: 0;
				a {
					color: $orange;
					&:hover {color: $brown;}
				}
			}
		}
		.readit {
			position: absolute;
			top: 15px;
			right: 0px;
			background: transparent url(/images/redesign/x.png) no-repeat;
			width: 16px;
			height: 16px;
			@include hiddentext;
			&:hover {
				background-position: 0 -100px;
			}
		}
		.message_body {
			a {
				color: #222;
				&:hover {
					color: $orange;
					text-decoration: none;
				}
			}
		}
		.timestamp {
			text-transform: uppercase;
		}
		.actions {
			.message_link {
				display: inline-block;
				margin: 5px 0 5px 10px;
			}
		}
	}
	.inbox_message {
		border-bottom: 1px dotted #ccc;
		padding-bottom: 5px;
		.icon {
			float: right;
			width: 16px;
			height: 16px;
			margin-top: 15px;
			cursor: pointer;
			background: transparent url(/images/redesign/x.png) no-repeat;
			@include hiddentext;
			&:hover {
				background-position: 0 -100px;
			}
		}
		header {
			border: 0;
			margin: 0;
			padding: 0;
			h1 {
				font-family: 'helvetica neue', helvetica, arial, sans-serif;
				font-weight: bold;
				margin: 16px 0 0;
				font-size: 18px;
				line-height: 21px;
				a {
					color: #333;
					&:hover {
						color: $orange;
					}
				}
			}
			.timestamp {
				text-transform: uppercase;
				margin: 5px 0 15px;
				padding: 0;
			}	
		}
		.message-details {
			.message-body {
				p {
					font-size: 13px;
					line-height: 18px;
				}
			}
			.readit {
				display: block;
				margin: -5px 0 16px;
				span {
					background-color: $trans-orange;
					color: $orange;
					padding: 2px 10px;
					@include border-radius(12px);
					&:hover {
						color: #fff;
						background-color: $orange;
						text-shadow: 0 1px 0 #333;
					}
				}
			}
		}
		.message-actions {
			p {
				a {
					color: $orange;
					span {
						background-color: $orange;
						color: #fff;
						padding: 2px 6px;
						@include border-radius(15px);
						text-shadow: 0 1px 0 #333;
					}
					&:hover {
						text-decoration: none;
						color: $brown;
						span {background: $brown;}
					}
				}
			}
		}
	}
	.all_discussions {
		margin: 15px 0 10px;
		h1 {
			font-family: 'Hoefler Text', Georgia, serif;
			font-size: 13px;
			font-weight: bold;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			font-style: normal;
		}
	}
}

/* ## end of #messages_nav ---------------------- */

#directory_search {
	form {
		fieldset {
			margin: 0;
			padding: 0;
			h3 {
				padding-bottom: 5px;
			}
		}
	}
}

#content a.directory_switch {
	display: none;
}
