#container, #footer_container{
	width: 700px;
	margin: 0 auto;
}

#logo {display: none;}
#site_login {display: none;}
nav {display: none;}
.edit_button {display: none;}
#sidebar_a {display: none;}
#sidebar_b {display: none;}
#footnotes_debug {display: none;}
.fb {display: none;}



#page_content {
	padding: 0 15px;
	margin-bottom: 30px;
	a {
		color: #000;
	}
	h1 {
		font-size: 24px;
		font-family: gotham, helvetica, arial, sans-serif;
		font-weight: bold;
		color: #333;
		line-height: 30px;
		padding: 0;
		margin: 12px 0 16px;
		a {color: #000;}
	}
	#pg_title {
		font-size: 24px;
		font-family: gotham, helvetica, arial, sans-serif;
		font-weight: bold;
		color: #000;
		border-bottom: 1px solid #ccc;
		line-height: 30px;
		padding: 0 0 4px;
		margin: 0 0 20px;
	}
	h2 {
		font-family: gotham, helvetica, arial, sans-serif;
		font-weight: bold;
		color: #333;
		font-size: 18px;
		margin: 10px 0;
		padding: 0;
		a {color: #000;}
	}
	h3 {
		font-size: 14px;
		margin: 6px 0;
		padding: 4px 0 0;
		color: #333;
		font-family: gotham, helvetica, arial, sans-serif;
		font-weight: bold;
		a {color: #000;}
	}
	h4 {
		font-size: 14px;
		margin: 0 0 12px 0;
		line-height: 20px;
		color: #333;
		font-weight: normal;
	}
	h5 {
		font-size: 13px;
		margin: 4px 0 8px 0;
		color: #333;
		font-weight: bold;
	}
	h6 {
		font-size: 11px;
		margin: 10px 0;
	}
	img {
		float: left;
		margin: 2px 15px 10px 0;
	}
	p {
		font-size: 13px;
		line-height: 19px;
		margin: 5px 0 16px;
		a {color: #000;}
	}
	blockquote {
		float: left;
		width: 240px;
		margin: 0 15px 10px 0;
		border: 1px solid #ccc;
		p {
			padding: 13px 15px;
			color: #333;
			font-size: 18px;
			font-weight: normal;
			font-weight: 300;
			line-height: 26px;
			font-family: gotham, helvetica, arial, sans-serif;
			margin: 0;
		}
	}
	ul {
		margin: 5px 0 15px 20px;
		padding: 0;
		list-style: disc;
		li {
			font-size: 13px;
			padding: 3px 0 3px 5px;
			line-height: 16px;
		}
	}	
	ol {
		margin: 5px 0 15px 18px;
		padding: 0;
		list-style: decimal;
		list-style-position: outside;
		li {
			font-size: 13px;
			padding: 3px 0;
			background: none;
			line-height: 16px;
		}
	}
	dl {
		font-size: 13px;
		margin: 10px 0;
		padding: 0;
		dd {
			font-weight: bold;
			color: #333;
			margin: 10px 0 0;
			padding: 0;
		}
		dt {
			margin: 0 0 10px 0;
			padding: 0;
			line-height: 18px;
		}
	}
}

#footer_container footer {
	display: block;
	margin: 20px 0 0;
	padding: 20px 0;
	border-top: 3px double #ccc;
	h2 {
		font-family: gotham, helvetica, arial, sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: normal;
	}
	p {
		font-size: 12px;
		margin: 10px 0;
	}
	ul {
		list-style: none;
		margin: 10px 0;
		padding: 0;
		li {
			font-size: 12px;
			margin: 0;
			padding: 0;
		}
	}
}