<% title @page.title %>

<div id="main_content">
			<% if can?(:edit, @page) %>
				<p>
					<%= link_to (image_tag("pencil.png") + "Edit this page"), edit_admin_page_path(@page), :class => 'button' %>
				</p>
			<% end %>
			<section id="page_content">
				<h1 id="pg_title">Products</h1>
				<img src="/images/ria/logo-sb.png">
				<h2><a href="#">Soapbox</a></h2>
				<h3>A Digital Magazine Written by Chefs</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac ligula turpis, ac cursus turpis. Sed sodales venenatis lectus, nec rutrum arcu porta a. Etiam pellentesque pharetra eros id cursus. Vivamus ornare, ante sed lobortis varius, eros felis mattis purus, facilisis pellentesque sapien felis nec leo.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac ligula turpis, ac cursus turpis. Sed sodales venenatis lectus, nec rutrum arcu porta a. Etiam pellentesque pharetra eros id cursus. Vivamus ornare, ante sed lobortis varius, eros felis mattis purus, facilisis pellentesque sapien felis nec leo.</p>
				<img src="/images/ria/logo-sf.png">
				<h2><a href="#">Spoonfeed</a></h2>
				<h3>Connect with your industry. Build your brand.</h3>
				<p>Vivamus ornare, ante sed lobortis varius, eros felis mattis purus, facilisis pellentesque sapien felis nec leo. Etiam pellentesque pharetra eros id cursus. Vivamus ornare, ante sed lobortis varius, eros felis mattis purus, facilisis pellentesque sapien felis nec leo.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac ligula turpis, ac cursus turpis. Sed sodales venenatis lectus, nec rutrum arcu porta a. Etiam pellentesque pharetra eros id cursus. Vivamus ornare, ante sed lobortis varius, eros felis mattis purus, facilisis pellentesque sapien felis nec leo.</p>
				<img src="/images/ria/logo-mf.png">
				<h2><a href="#">Mediafeed</a></h2>
				<h3>Tagline for Mediafeed would go here.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac ligula turpis, ac cursus turpis. Sed sodales venenatis lectus, nec rutrum arcu porta a. Etiam pellentesque pharetra eros id cursus. Vivamus ornare, ante sed lobortis varius, eros felis mattis purus, facilisis pellentesque sapien felis nec leo.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac ligula turpis, ac cursus turpis. Sed sodales venenatis lectus, nec rutrum arcu porta a. Etiam pellentesque pharetra eros id cursus.</p>
				
			</section><!--#section_content-->
			
		</div><!--#main_content-->

<% content_for :sidebar_a do -%>
	<aside id="sidebar_a">
		<section class="promo quote">
			<h1>Testimonials</h1>
			<p class="quotation">"If anyone has any question of whether they should do this, tell them to call me and I will give them my full endorsement personally."</p>
			<p class="who">Donnie Madia<br/>
			Blackbird, avec, The Publican, Sonotheque, the Violet Hour</p>
		</section>
	</aside><!-- #sidebar_a-->
<% end -%>

<% content_for :sidebar_b do -%>
	<div id="sidebar_b">

		<a class="promo clickable" href="#">Request an invite to Spoonfeed</a>
		<a class="promo clickable" href="#">View the latest on Soapbox</a>
		<aside class="promo" id="page_actions">
			<nav>
				<a href="#" class="share">Share</a>
				<a href="#" class="print last">Print</a>
			</nav>
		</aside>
		<aside class="promo" id="fromtheblog">
			<ul>
				<li><a href="#">Influence, the media and you <span>November 18th</span></a></li>
				<li><a href="#">If a chef blogs in the forest... <span>November 17th</span></a></li>
				<li><a href="#">Knit One, Hurl Two <span>November 16th</span></a></li>
			</ul>
			<a class="more" href="#">More from the blog&nbsp;&#187;</a>
		</aside>

	</div><!--#sidebar_b-->
<% end -%>