<% title "Culinary Schools" %>

<% table_for(@culinary_schools) do |t| %>
  <%= t.data :actions => :all, :action_prefix => 'admin' %>
<% end %>

<p><%= link_to "New Culinary School", new_admin_culinary_school_path %></p>
