<% title "Media Request" %>

<h3>Original Request</h3>

<p><%= @media_request_conversation.media_request.try(:message) %></p>

<% unless @media_request_conversation.media_request.try(:attachments).blank? %>
<h3>Attached files:</h3>
<ul>
	<% for attachment in @media_request_conversation.media_request.attachments %>
	<li><%= attachment_link(attachment) %></li>
	<% end %>
</ul>
<% end %>

<hr/>

<div class="comments span-8">
<% if !@comments.blank? %>
<h3>Comments</h3>
<p><em>Note: The most recent are listed first</em></p>

<%= render @comments %>

<%- else %>
<p>No comments yet</p>
<% end -%>

<hr class="space"/>

<h3>Leave a Comment</h3>

<%= render :partial => 'comments/form' %>

</div>