<p class="month-nav">
    <% link_to restaurant_calendars_path(:restaurant_id => @restaurant, :date => (@date - 1.month).to_s), :class => 'prev-month' do %>
      &laquo; <%= (@date - 1.month).try(:strftime, "%B") %>
    <% end %>

    <% link_to restaurant_calendars_path(:restaurant_id => @restaurant, :date => (@date + 1.month).to_s), :class => 'next-month' do %>
      <%= (@date + 1.month).try(:strftime, "%B") %> &raquo;
    <% end %>
</p>