<%= semantic_form_for @admin_announcement, :html => {:multipart => true} do |f| %>
  <%= f.inputs :message, :scheduled_at %>
  
  <% f.fields_for :attachments do |child_form| -%>
    <p class="attach">Attach files</p>
    <p class="attachfield"><%= child_form.file_field :attachment %></p>
  <% end -%>

  <p><%= button_tag "Save" %></p>
<% end %>
