<% title "Invitations" %>

<div class="clearfix">
    <% if params[:archived] %>
    <%= link_to "View non-archived", admin_invitations_path, :class => "button" %>
    <% else %>
    <%= link_to "View all archived", admin_invitations_path(:archived => true), :class => "button" %>
    <% end %>
</div>

<% table_for @invitations do |t| %>
    <% t.data :actions => [:accept, :archive, :edit, :destroy], :action_prefix => 'admin' do
    	t.cell(:first_name)
    	t.cell(:last_name)
    	t.cell(:email)
    	t.cell(:title)
    	t.cell(:restaurant) { |c| c.restaurant || c.restaurant_name }
    	t.cell(:coworker)
    	t.cell(:requesting_user, :heading => "Invited by") { |c| c.requesting_user.try(:name) }
    	t.cell(:approved_at) if params[:archived]
    	t.cell(:invitee) { |c| link_to c.name, profile_path(c.username) } if params[:archived]
    end %>
<% end %>
