<% title "Invitations" %>

<div class="clearfix">
    <% if params[:archived] %>
    <%= link_to "View non-archived", admin_invitations_path, :class => "button" %>
    <% else %>
    <%= link_to "View all archived", admin_invitations_path(:archived => true), :class => "button" %>
    <% end %>
</div>

<%= table_for @invitations do |t| %>
    <% t.data :actions => [:accept, :archive, :edit, :destroy], :action_prefix => 'admin' do
    	t.cell(:first_name)
    	t.cell(:last_name)
    	t.cell(:email)
    	t.cell(:restaurant) { |c| c.restaurant || c.restaurant_name }
    	t.cell(:restaurant_role)
    	t.cell(:subject_matters) { |c| c.subject_matters.map(&:name).join(", ") }
    	t.cell(:requested) { |c| c.created_at.try(:strftime, "%m/%d/%y") }
    	
    	if params[:archived]
    	  t.cell(:approved) { |c| c.approved_at.try(:strftime, "%m/%d/%y") }
    	  t.cell(:logged_in) { |c| c.invitee.try(:last_request_at).try(:strftime, "%m/%d/%y") }
    	  t.cell(:invitee) { |c| link_to c.name, profile_path(c.username) }
    	  t.cell(:resend_email) { |c| link_to "Resend", resend_admin_invitation_path(c) }
	    end
    end %>
<% end %>
