<% title "A la Minute" %>

<h2 id="alm-tagline">The latest news on what is happening in restaurants right now</h2>

<% for answer in @answers -%>
		<%= render :partial => 'answer_list',:locals => { :answer => answer } %>

<% end -%>

<%= will_paginate(@answers) %>

<%= content_for :sidebar do -%>
<%= render :partial => 'sidebar' %>
<% end -%>