<% form_for [:admin, @account_type] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'text' %>
  </p>
  <p><%= button_tag "Submit" %></p>
<% end %>
