<% semantic_form_for [:admin, @account_type] do |f| %>
	<%= f.inputs :name %>
	<p><%= button_tag "Save", :class => 'positive' %></p>
	<p><%= link_to "View All", admin_account_types_path %></p>
<% end %>
