<% title "Account Types" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for account_type in @account_types %>
    <tr>
      <td><%=h account_type.name %></td>
      <td><%= link_to "Edit", edit_admin_account_type_path(account_type) %></td>
      <td><%= link_to "Destroy", [:admin, account_type], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Account Type", new_admin_account_type_path, :class => 'button positive' %></p>
