<% title "Metropolitan Areas" %>

<p class="clearfix"><%= link_to "New Metro Area", new_admin_metropolitan_area_path, :class => 'button positive'%></p>

<%= table_for @metros do |t| %>
    <% t.data :actions => [:edit, :destroy], :action_prefix => 'admin' do
	  t.cell(:name)
	  t.cell(:state)
	end %>
<% end %>