<% if(current_user && current_user.media? ) %>
        <% if current_user.restaurant_newsletter_subscription(menu_item.restaurant).blank? %>
                <div class="meta menu_item_subscribe <% unless menu_item.restaurant.logo && menu_item.restaurant.logo.attachment? -%> no_avatar_1<% end -%>" >
                    <%= link_to 'Subscribe', media_subscribe_restaurant_path(menu_item.restaurant),:class=>"subscribe" %>
                </div>
                
         <% else %>
                <div class="meta menu_item_subscribe menu_items_unsubscribe <% unless menu_item.restaurant.logo && menu_item.restaurant.logo.attachment? -%> no_avatar_1<% end -%>" >
                    <%= link_to 'Unsubscribe', media_subscribe_restaurant_path(menu_item.restaurant),:class=>"subscribe" %>
                </div>    
            <% end %>                    
        <div class="clear"></div>
    <% end %> 