<%= title "Facebook archive for #{@restaurant.name}", false %>

<div id="restaurant_profile_view">
    <%= render :partial => "restaurant_header" %>

	<h2>Facebook updates</h2>
    <% for post in @restaurant.facebook_page.posts do %>
    <p><%= post.message %></p>
    <% end %>
</div>