<% title "Topics" %>

<div class="clearfix">
    <%= link_to "New Topic", new_admin_restaurant_topic_path, :class => "button positive" %>
    <%= link_to "Back to Questions", admin_restaurant_questions_path, :class => "button" %>
</div>

<%= table_for @topics do |t| %>
  <% t.data do
      t.cell(:handle, :heading => '', :cell_html => {:class => 'small handle'}) { "[drag]" }
      t.cell(:name) { |c| c.title }
      t.cell(:description)
      t.cell(:can_be_deleted?) { |c| link_to "delete", admin_restaurant_topic_path(:id => c.id), :method => "delete", :confirm => "Are you sure you want to delete this?" if c.chapters.count == 0 }
      t.cell(:edit_link, :heading => '', :cell_html => {:class => 'actions edit_link'}) { |c|
        link_to('Edit', edit_admin_restaurant_topic_url(:id => c.id))
      }
    end %>
<% end %>
