<% title @page.title %>

<div class="page-content">
  <%= auto_link @page.content %>
</div>

<% if can?(:edit, @page) %>
	<p>
		<%= link_to "Edit this page", edit_admin_soapbox_page_path(@page), :class => 'edit_button' %>
	</p>
<% end %>
