<% title "On the Menu" %>

<%= render @menu_item %>

<h2 class="clear">Also at <%= @restaurant.name %></h2>

<%= render @restaurant.menu_items.all(:order => "created_at DESC", :limit => 6).reject { |m| m == @menu_item } %>