<% title "Twitter", false -%>

<%= render 'nav' %>

<% if current_user.twitter_authorized? -%>
  <div class="span-9 last">
    <div id="read_messages">
      <% unless @tweets.blank? %>
      <ul class="statuses" id="friend_timeline">
        <%= render :partial => "tweet", :collection => @tweets %>
      </ul>
      <% end %>
    </div><!-- /read_messages -->
  </div>
<% else %>
  <%= link_to "Setup Twitter to post there too!", new_twitter_authorization_url %>
<% end -%>
