<% title "Media Requests" %>

<p class="clearfix">
	<%= link_to "Send a New Request", new_media_request_path, :class => 'positive button' %>
</p>

	<h3>Pending Media Requests</h3>
<% if !@pending_media_requests.empty? %>
	<% table_for(@pending_media_requests) do |t| %>
		<% t.data :actions => [:show, :edit], :action_prefix => :admin do
			t.cell :sender
			t.cell(:recipients) {|r| r.media_request_conversations.size }
			t.cell :media_request_type
			t.cell(:message) {|r| truncate(r.message, :length => 50)}
			t.cell(:replies) {|r| list_and_link_replies(r) }
			t.cell :due_date
			t.cell(:approve, :heading => "") {|r| link_to "<b>Approve!</b>", approve_admin_media_request_path(r), :method => :put }
		end %>
	<% end -%>
<% else %>
	<p>There are no pending media requests right now</p>
<% end -%>

	<h3>Approved Media Requests</h3>
<% if !@approved_media_requests.empty? %>
	<% table_for(@approved_media_requests) do |t| %>
		<% t.data :actions => [:show, :edit], :action_prefix => :admin do
			t.cell :sender
			t.cell(:recipients) {|r| r.media_request_conversations.size }
			t.cell :media_request_type
			t.cell(:message) {|r| truncate(r.message, :length => 50)}
			t.cell(:replies) {|r| list_and_link_replies(r) }
			t.cell :due_date
		end %>
	<% end -%>
<% else %>
	<p>There are no approved media requests yet</p>
<% end -%>
