// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "compass/reset";
@import "blueprint";
@import "compass/css3";
// To configure blueprint, edit the partials/base.sass file.
@import "../partials/base";
@import "compass/layout/sticky-footer";

@include reset-html5;

.clearfix{overflow:hidden;}
.clear{clear:both;}
a {text-decoration: none;color: $green;}

body{
 	font:normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#fff url(/images/ria/bg.gif) repeat-x;
	color:#333;
}

strong, b{font-weight:bold;}
em, i{font-style:italic;}

#container{
	width: 974px;
	margin: 0 auto;
	*zoom: 1;
	position:relative;
}

@include sticky-footer(148px, "#container", "#padding", "#footer_container");



#site_header {
	width: 974px;
	height: 100px;
	#logo {
		position: absolute;
		margin-top: 12px;
		margin-left: -12px;
		width: 166px;
		height: 167px;
		background: transparent url(/images/ria/ria-logo.png) no-repeat;
		@include hiddentext;
	}
	nav {
		float: right;
		height: 68px;
		a {
			float: left;
			margin-right: 15px;
			height: 68px;
			background-image: url(/images/ria/nav.png);
			@include hiddentext;
			&#navhome {
				margin-left: 96px;
				width: 73px;
				background-position: -97px 0;
				&:hover {background-position: -97px -100px;}
				&.selected {background-position: -97px -200px;}	
			}
			&#navabout {
				width: 83px;
				background-position: -185px 0;
				&:hover {background-position: -185px -100px;}
				&.selected {background-position: -185px -200px;}
			}
			&#navproducts {
				width: 113px;
				background-position: -283px 0;
				&:hover {background-position: -283px -100px;}
				&.selected {background-position: -283px -200px;}
			}
			&#navunplugged {
				width: 124px;
				background-position: -411px 0;
				&:hover {background-position: -411px -100px;}
				&.selected {background-position: -411px -200px;}
			}
			&#navtestimonials {
				width: 144px;
				background-position: -550px 0;
				&:hover {background-position: -550px -100px;}
				&.selected {background-position: -550px -200px;}
			}
			&#navcontact {
				width: 102px;
				margin-right: 0;
				background-position: -708px 0;
				&:hover {background-position: -708px -100px;}
				&.selected {background-position: -708px -200px;}
			}
		}	
	}
	#site_login {
		width: 71px;
		height: 21px;
		float: right;
		margin: 0;
		background: transparent url(/images/ria/icon-login.png) no-repeat;
		@include hiddentext;
		&:hover {
			background-position: 0 -100px;
		}
	}
}
		
#sidebar_a {
	@include column(4);
	margin-top: 100px;
	margin-bottom: 30px;
	.promo {
		h1 {
			@include gotham;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 14px;
			margin: 0 0 10px;
		}
		.quotation {
			@include gotham;
			line-height: 17px;
			background: transparent url(/images/ria/bg-quote.png) no-repeat 0 100%;
			padding: 8px 10px 16px;
			color: $medgreen;
			text-shadow: 0 1px 0 #fff;
			font-style: italic;
			font-size: 12px;
		}
		.who {
			@include gotham;
			color: #777;
			margin: 6px 0;
			font-size: 11px;
			line-height: 15px;
		}
	}
}

#sidebar_b {
	@include column(4, last);
	margin-top: 34px;
	margin-bottom: 30px;
	.promo {
		padding: 10px;
		margin: 0 0 10px;
		.more {
			@include gotham;
			color: #333;
			&:hover {
				color: $green;
			}
		}
		&.clickable {
			display: block;
			@include linear-gradient(color-stops(#b2a289,#9c907a), left);
			@include gotham;
			font-weight: bold;
			font-size: 14px;
			text-shadow: 0 1px 0 #000;
			color: #fff;
			border: 1px solid #b2a289;
			line-height: 18px;
			&:hover {
				background-color: #8f8066;
				background-image: none;
				color: #f6f4f0;
			}
		}
		&#page_actions {
			border-top: 1px dotted #ccc;
			border-bottom: 1px dotted #ccc;
			padding: 10px 0;
			margin: 8px 0;
			background-color: #fff;
			nav {
				padding: 10px;
				background-color: $tan;
				a {
					display: block;
					margin: 0 0 10px;
					&:hover {
						color: #777;
						text-shadow: 0 1px 0 #fff;
					}
					&.share {
						background: transparent url(/images/ria/icon-16-share.png) no-repeat 0 0;
						padding: 1px 0 0 22px;
						&:hover {background-position: 0 -100px;}
					}
					&.print {
						background: transparent url(/images/ria/icon-16-print.png) no-repeat 0 0;
						padding: 1px 0 0 22px;
						&:hover {background-position: 0 -100px;}
					}
					&.last {
						margin-bottom: 0;
					}
				}
			}
		}
		&#fromtheblog {
			padding: 0;
			ul {
				li {
					display: block;
					a {
						display: block;
						background: $tan;
						margin: 0 0 6px;
						padding: 10px;
						font-weight: bold;
						font-size: 14px;
						color: #555;
						line-height: 16px;
						text-shadow: 0 1px 0 #fff;
						span {
							display: block;
							font-size: 11px;
							@include gotham;
							font-weight: normal;
							color: #777;
							margin: 2px 0 0;
						}
						&:hover {
							@include linear-gradient(color-stops($green,$medgreen), left);
							text-shadow: 0 1px 0 #000;
							color: #fff;
							span {
								color: #fff;
								color: rgba(255,255,255,.8);
								text-shadow: none;
							}
						}
					}
				}
			}
		}
	}
}



#main_content {
	@include column(16);
}

#page_content {
	padding: 0 15px;
	margin-bottom: 30px;
	#pg_title {
		font-size: 24px;
		@include gotham;
		font-weight: bold;
		color: $green;
		border-bottom: 1px solid #ccc;
		line-height: 30px;
		padding: 0 0 4px;
		margin: 0 0 20px;
	}
	h2 {
		@include gotham;
		font-weight: bold;
		color: $brown;
		text-transform: uppercase;
		font-size: 18px;
		margin: 0 0 2px;
		padding: 0;
		a {
			color: $brown;
			&:hover {
				color: $green;
			}
		}
	}
	h3 {
		font-size: 14px;
		margin: 0 0 12px 0;
		color: #333;
		@include gotham;
		font-weight: normal;
	}
	img {
		float: left;
		margin: 2px 15px 10px 0;
	}
	p {
		font-size: 13px;
		line-height: 19px;
		margin: 5px 0 16px;
	}
}






#footer_container {
	background: #1e1e1e url(/images/ria/bg-footer.png) repeat-x;
	footer {
		width: 974px;
		margin: 0 auto;
		#footer_logo {
			@include column(6);
			margin-top: 46px;
			h2 {
				@include hiddentext;
				width: 204px;
				height: 40px;
				background: transparent url(/images/ria/logo-footer-ria2.png) no-repeat;
			}
		}
		#copyright {
			@include column(14);
			p {
				color: #eaeaea;
				margin: 44px 0 10px;
				font-weight: 300;
			}
			nav {
				margin: 0;
				padding: 0;
				a {
					float: left;
					font-weight: 300;
					margin: 0 20px 0 0;
					padding: 0;
					color: #eaeaea;
					text-decoration: underline;
					&:hover {
						color: $green;
						text-decoration: none;
					}
				}
			}
		}
		#social {
			@include column(4, true);
			ul {
				margin: 20px 0 0;
				li {
					display: block;
					font-weight: 300;
					a {
						display: block;
						color: #fff;
						padding: 10px 10px 10px 40px;
						&.fb {
							background: transparent url(/images/ria/icons-social.png) no-repeat 8px 12px;
							&:hover {
								@include border-radius(6px);
								background-color: #222;
								background-position: 8px -88px;
								color: #ccc;
							}
						}
						&.tw {
							background: transparent url(/images/ria/icons-social.png) no-repeat -392px 12px;
							&:hover {
								@include border-radius(6px);
								background-color: #222;
								background-position: -392px -88px;
								color: #ccc;
							}
						}
					}
				}
			}
		}
	}
}

