<% title "HQ Pages" %>

<p class="clearfix"><%= link_to "New Page", new_admin_hq_page_path, :class => 'button positive' %></p>

<%= table_for(@pages) do |t| %>
	<% t.data do
			t.cell :title
			t.cell :slug
			t.cell :view_live, :heading => "", :cell_html => {:class => 'actions'} do |p|
				link_to "Live", hq_page_path(p)
			end
			t.cell :edit, :heading => "", :cell_html => {:class => 'actions edit_link'} do |p|
				link_to "Edit", edit_admin_hq_page_path(p)
			end
			t.cell :destroy, :heading => "", :cell_html => {:class => 'actions destroy_link'} do |p|
				link_to "Destroy", admin_hq_page_path(p), :method => :delete if p.deletable?
			end
	end %>
<% end %>
