<%=div_for(restaurant_answer,:class=>"comment") do %>
    <header>
        <div class="activity_header">
        <h4><%= link_to "#{restaurant_answer.restaurant_question.chapter.title_with_topic}: #{restaurant_answer.restaurant_question.title}",soapbox_restaurant_question_path(restaurant_answer.restaurant_question) %></h4>
    </div>
    </header>
    <p>
        <%= truncate(restaurant_answer.answer, :length => 100)%>
        <% if restaurant_answer.answer.size > 100 -%>
          <%= link_to "more&nbsp;&#187;".html_safe, soapbox_restaurant_question_path(restaurant_answer.restaurant_question) %>
        <% end -%>
    </p>

<% end %>