<% title "Search for \"#{truncate(@key, :length => 35)}\"", true %>

<section id="questions-list">
  <% unless @trend_questions.empty? %>
    <div id="questions-list-feed-trend">
      <h1>Trend Questions</h1>
      <%= render :partial => 'trend_list', :locals => {:questions => @trend_questions} %>
    </div>
  <% end %>

  <% unless @qotds.empty? %>
    <div id="questions-list-feed-qotd">
      <h1>Questions of the Day</h1>
      <%= render :partial => 'qotd_list', :locals => {:questions => @qotds} %>
    </div>
  <% end %>
</section>

