<% title "Runner" %>
<table id="restaurants" >
  <thead>
  	<tr>
  			<th>Actions</th>
  	</tr>
	</tbody>
</table>
<li> <%= link_to "Run Digest Newsletter" ,admin_runner_index_path({:id=>1}),:confirm=>"Are you sure, run Digest Newsletter?"%> </li>

<li> <%= link_to "Run Promotion Newsletter" ,admin_runner_index_path({:id=>2}),:confirm=>"Are you sure, send Promotion Newsletter?"%> </li>


