<% favor_restaurant = (comment.commentable_type == 'AdminDiscussion') %>

<% div_for(comment, :class => "column clearfix#{cycle(' clear','','',' last', :name => comment.commentable_type)}") do %>
<%= render 'users/identity', :user => comment.user, :highlight_restaurant =>  favor_restaurant %>

<% comment_text_shown = full_text ? comment.comment : truncate(comment.comment, :length => 120) %>

<div class="content">
  <%= link_to simple_format(comment_text_shown), soapbox_path(entry_for_comment(comment),
    :anchor => dom_id(comment)) %>
</div>

<% end %>
