<div id="sidebar">
  <aside id="recent-activity">
    <header>
      <h1>Previously on Front Burner</h1>
      <nav id="activity-chooser">
        <span><a href="#trend-questions-feed">Trend Questions</a></span>
        <span><a href="#qotd-feed">Questions of the Day</a></span>
      </nav>
    </header>
    <ol id="trend-questions-feed">
      <%= render :partial => 'soapbox/sidebar_item', :collection => @trend_questions %>
    </ol><!-- /activity-feed -->
    <ol id="qotd-feed">
      <%= render :partial => 'soapbox/sidebar_item', :collection => @qotds %>
    </ol><!-- /activity-feed -->
    <div id="feed-bottom"></div>
    <footer>
      <nav id="activity-chooser">
        <span><a href="#">View all</a></span>
      </nav>
    </footer>
  </aside><!-- /recent-activity -->
  <nav id="participate">
    <%= link_to "Login to participate", login_path, :class => "button", :id => "login-participate" %>
    <span>or</span>
    <%= link_to "Request an invitation", '/soapbox/request-invitation', :class => "button", :id => "request-invite" %>
  </nav><!-- /participate -->
</div><!-- /sidebar -->
