<ul>
  <li><a href="#older_qotds_box">Questions of the Day</a></li>
  <li><a href="#older_tqs_box">Trend Questions</a></li>
</ul>

<div id="older_qotds_box">
<% for qotd in @qotds %>
  <% div_for qotd do %>
    <% link_to soapbox_path(qotd.soapbox_entry) do %>
    <div class="">
      <%= qotd.message %>
    </div>
    <div>
      <%= pluralize qotd.conversations_with_replies.count, "reply" %>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>

<div id="older_tqs_box">
<% for trend_question in @trend_questions %>
  <% div_for trend_question do %>
    <% link_to soapbox_path(trend_question.soapbox_entry) do %>
    <div class="">
      <%= trend_question.message %>
    </div>
    <div>
      <%= pluralize trend_question.comments(false).count, "reply" %>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>
