<% title "Soapbox - #{@feature.title}", false %>
<div class="span-12">
  <div class="soapbox_item individual">
    <% div_for @feature do %>
    <h2 class="cufon featured_item_title">
      <%= soapbox_tabby_title(@feature) %>
    </h2>
      <div class="question">
        <%= message(@feature) %>
      </div>

      <% if @feature_comments %>
        <div class="comments clearfix">
          <%= render :partial => 'comment', :collection => @feature_comments, :locals => { :full_text => true } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="span-6 last soapbox_sidebar">
  <%= render :partial => "sidebar" %>
</div>