<% div_for promotion do %>
    <div class="activity_header">
        <h3>Newsfeed</h3>
        <p class="name">
            <%= promotion.title %>
        </p>
    </div>
    <div class="user_comment">
        <%= render :partial => "restaurants/identity", :locals => { :restaurant => promotion.restaurant } %>
        <div class="user_comment"><%= truncate(promotion.details, :length => 200) %>
            <% if promotion.details.size > 200 -%>
                  <%= link_to "more &raquo;", restaurant_promotions_path(promotion.restaurant) %>
            <%- end %>
        </div>
    </div>
<% end %>
