<% title "Newsfeed: #{@restaurant.name}" %>

<div id="promotion_archive">
    <%= render :partial => "promotion", :collection => @promotions %>
    
    <% if @past_promotions.present? -%>
    <div id="past">
        <h2>Past News</h2>
        <%= render :partial => "promotion", :collection => @past_promotions %>
    </div>
    <% end -%>
</div>
