<% if current_user.receive_front_burner? %>
  <div class="new_all">
    <%= link_to "New", front_burner_path, :class => selected?("New") %>
    <%= link_to "All", front_burner_path(:all => true), :class => selected?("All") %>
  </div><!--.new_all-->
  <% title "Front Burner" %>	
  <div id="qotd_column">
    <h2 class="col_title">Questions of the Day</h2>
    <%= render :partial => 'messages/message', :collection => @qotds %>
  </div><!--#qotd_column-->
  <div id="trend_column">
    <h2 class="col_title">Trend Questions</h2>
    <%= render :partial => 'messages/message', :collection => @trend_questions %>
  </div><!--#trend_column-->
<% else %>
  <% title "Front Burner" %>	
  <h2>Sorry, your account currently isn't set to receive Front Burner questions.</h2>
  <p>If you'd like to participate in Front Burner, please contact your restaurant administrator and ask them to grant you access.</p>
<% end %>

