<% title "Front Burner" %>

<h2>Questions of the Day</h2>
<%= render :partial => 'messages/message', :collection => @qotds %>

<h2>Trend Questions</h2>
<%= render :partial => 'messages/message', :collection => @trend_questions %>
