<% title "Questions of the Day for #{@user.first_name}" %>

<% for conversation in @qotds %>
<%=div_for conversation do %>
	<h2><%= conversation.admin_message.display_message %></h2>
	<p><%= simple_format conversation.comments.first.comment %></p>
	<p><%= link_to "See how other members answered this question", qotd_path(conversation.admin_message) %></p>
<% end %>
<% end %>