<% title "Restaurant Features" %>

<div id="add_page_form">
  <% form_for :restaurant_feature_page, :url => admin_restaurant_feature_pages_path do |f| %>
    <%= f.label :name, "Add a new page header" %>
    <%= f.text_field :name  %>
    <%= f.submit_tag "Add page" %>
  <% end %>
  <br />
</div>

<%= render :partial => "page_index", :collection => @pages, :as => :page %>
