<% title "Restaurants with the feature: #{@feature.name}" %>
<div id="restaurant-results">
  <% @restaurants.each do |restaurant| -%>
      <%= render :partial => 'restaurants/identity', :locals => { :user => restaurant } %>
    <% end %>
</div>
