<% title "Login to SpoonFeed" %>
<p>Welcome to SpoonFeed. Please login.</p>
<p>(Diners, please check out <%= link_to "Soapbox", soapbox_root_path %>.)</p>
<%= render :partial => 'user_sessions/form' %>
<p>Don't have an account? <%= link_to "Create a free account", new_invitation_path %> now!</p>
