<% title "Chapters" %>

<div class="clearfix">
    <%= link_to "Back to Profile Questions", admin_profile_questions_path, :class => "button" %>
</div>

<% for topic in @topics %>
  <h2><%= topic.title %>:</h2>
  <% if topic.chapters.present? %>
  <%= table_for @chapters_by_topic[topic] do |t| %>
  <% t.data do
        t.cell(:handle, :heading => '', :cell_html => {:class => 'small handle'}) { "[drag]" }
    t.cell(:title)
    t.cell(:description)
    t.cell(:can_be_deleted?) { |c| link_to "delete", admin_chapter_path(:id => c.id), :method => "delete", :confirm => "Are you sure you want to delete this?" if c.profile_questions.count == 0 }
    t.cell(:edit_link, :heading => '', :cell_html => {:class => 'actions edit_link'}) { |c|
      link_to('Edit', edit_admin_chapter_url(:id => c.id))
    }
    end %>
  <% end %>
  <% end %>
  <%= render :partial => "form", :locals => { :chapter => Chapter.new, :topic => topic } %>
<% end %>