<% div_for media_request, :class => 'clearfix box' do %>
	<p class="message">
		<%= media_request.message %>
	</p>

	<p class="meta">
		<%= sent_date_and_recipient_count(media_request) %>. 
		<%= response_count(media_request) %> so far.
	</p>

	<ul class="responses">
	<% for conversation in media_request.conversations_with_comments %>
			<% if comment = conversation.comments.not_user(current_user).last  %>
		<li>
			<%= link_to "#{comment.user.name} replied #{time_ago_in_words(comment.created_at)} ago", conversation %>
		</li>
			<% end -%>
	<% end %>
	</ul>
<% end # div -%>