<%= f.input :media_request_type, :include_blank => false %>

<% MediaRequestType.all.each do |media_request_type| %>
<div id="fields_for_<%= media_request_type.id %>" class="fieldsets">
  <% media_request_type.fieldset.each do |field| %>
  <li>
    <%= label_tag "media_request[fields][#{field}]", field.humanize %>
    <%= text_field_tag "media_request[fields][#{field}]", @media_request.fields[field], :class => 'text' %>
  </li>
  <% end -%>
</div>
<% end -%>