<% title "Media Request" %>

<h3>Message</h3>
<%= simple_format @media_request.message_with_fields %>

<% if !@media_request.attachments.blank? %>
<h3>Attached files:</h3>
  <% for attachment in @media_request.attachments %>
		<%= attachment_link(attachment) %>
  <% end %>
<% end %>
