    <h4>Currently, this can be seen by:</h4>
    <% @restaurants_and_employments.each do |restaurant, employments| %>
      <div class="restaurant_and_employees span-5 column">
        <h3><%= restaurant.name %>:</h3>
        <%= employments.map(&:employee_name).to_sentence %>
      </div>
    <% end %>
