<% semantic_form_for @admin_trend_question do |f| %>
  <%- if @employments && !@employments.blank? %>
    <% f.inputs :name => "Recipients" do %>
      <%= f.input :recipient_ids,
                  :collection => @employments,
                  :as => :check_boxes,
                  :wrapper_html => {:class => 'employment_list checkall'},
                  :label_method => :name_and_restaurant,
                  :label => "Who should receive this?"
      %>
    <% end %>
  <% elsif params[:search] %>
    <p>Oops, we couldn't find anyone by that criteria. Try again.</p>
  <% end -%>

  <%= f.inputs :message, :scheduled_at %>

  <p><%= button_tag "Save" %></p>
<% end %>
