<% title "Trend Questions" %>

<p><%= link_to (image_tag("plus.png")+"New Trend Question"), new_admin_trend_question_path, :class => 'positive button' %></p>

<%= table_for(@trend_questions) do |t| %>
  <%= t.data :actions => :all, :action_prefix => 'admin' do
       t.cell(:scheduled_at, :heading => "Scheduled"){|tr| tr.scheduled_at.try(:strftime,"%m/%d/%y")}
       t.cell(:subject)
       t.cell(:body)
       t.cell(:criteria) {|tq| tq.employment_search.readable_conditions.join(", ")}
       t.cell :reply_count, :heading => '', :cell_html => {:class => 'actions reply_count'} do |tq|
         reply_count_link(tq)
       end
    end %>
<% end %>

