<% title "Trend Questions" %>

<% table_for(@trend_questions) do |t| %>
  <%= t.data :actions => :all, :action_prefix => 'admin' %>
<% end %>

<p><%= link_to "New Trend Question", new_admin_trend_question_path %></p>
