<% title "Edit Holiday Reminder" %>

<h3>Recipients:</h3>
<p><%= @holiday_reminder.holiday.restaurants.map(&:name).to_sentence %></p>

<%= render :partial => 'form' %>

<p><%= link_to "Back to All Messages", admin_messages_path %></p>
