<% title "Edit Holiday Reminder" %>

<h3>Recipients:</h3>
<p><%= @holiday_reminder.holiday.restaurants.map(&:name).to_sentence %></p>

<%= render :partial => 'form' %>

<p><%= link_to "Back to All Reminders", admin_holiday_path(@holiday_reminder.holiday.id) %></p>
