<% title "New Holiday Reminder" %>
<% if @holiday_reminder.holiday %>
  <h3><%= @holiday_reminder.holiday.try(:name) %></h3>
<% end %>

<%= render :partial => 'form' %>

<p><%= link_to "Back to All Reminders", admin_holiday_path(@holiday_reminder.holiday.id) %></p>
