<header id="user_header" class="clearfix">
  <div class="headerContainer clearfix">
    <div class="logoBox left">
      <%= link_to root_path do -%><%= image_tag "sf/sf-logo.png" %><% end %>
    </div>

  </div>
</header>
