<%= link_to "Help / Questions?", public_page_path('help'), :id => 'help_questions' %>
<p>We're building this for you, so don't be shy—ask us questions and give us suggestions!</p>
<ul class="staff_contacts">
    <li><a href="mailto:support@restaurantintelligenceagency.com"><b>Email Tech Support</b></a></li>
    <li><a href="mailto:info@restaurantintelligenceagency.com"><b>General Inquiries:</b> Email us</a></li>
    <li><a href="/users/9/direct_messages/new"><b>Escalate to the Top:</b> Contact Ellen</a></li>
</ul>
