<nav id="topNav" class="clearfix">
  <div class="container">
    <ul>
      <li><%= link_to "RIA HQ", hq_root_path %></li>
      <li><%= link_to "Soapbox", soapbox_root_path %></li>
      <li>Spoonfeed</li>
      <li><%= link_to "Contact", hq_page_path('contact') %></li>
      <li><%= link_to "Login", login_path %></li>
    </ul>
  </div>
</nav>
