<a href="#" id="nav_dashboard">Dashboard</a></li>
<a href="#" id="nav_myprofile">My Profile</a></li>
<a href="#" id="nav_myrestaurants">My Restaurants</a></li>
<a href="#" id="nav_frontburner">Front Burner</a></li>
<a href="#" id="nav_messages">Messages</a></li>
<a href="#" id="nav_socialmedia">Social Media</a></li>
<a href="#" id="nav_contact">Contact</a></li>