  <div id="staging_bar">
    <p>Note: You are currently on <strong>STAGING</strong>.
    You may want to visit the <a href="http://spoonfeed.restaurantintelligenceagency.com/" title="">live site &raquo;</a></p>
  </div>
