<% if current_user -%>
  <section class="restaurant_promo top_promo">
	<%= link_to 'Join Soapbox:<br />upgrade your account', public_page_path('account_types') %>
  </section><!-- .restaurant_promo -->
<% else -%>
  <section class="invite top_promo">
	<%= link_to 'Create free account', public_page_path('request-invitation') %>  </section><!-- .restaurant_promo -->
  </section><!-- .invite -->
<% end -%>