<% if current_user -%>
  <section class="restaurant_promo top_promo">
    <a href="#">Upgrade your account to build a restaurant profile!</a>
  </section><!-- .restaurant_promo -->
<% else -%>
  <section class="invite top_promo">
  	<a href="#">Request an invitation</a>
  </section><!-- .invite -->
<% end -%>