<% logging_in = mediafeed? ? mediafeed_login_path : login_path -%>
<section class="profile top_promo">
	<% if current_user -%>
    <% users_path = mediafeed? ? mediafeed_media_user_path(current_user.username) : profile_path(current_user.username) -%>
    <%= link_to image_tag(current_user.avatar.url(:tiny), :width => '20', :height => '20'), users_path %>
    <ul>
			<li>Welcome <%= link_to current_user.first_name, users_path %> | </li>
			<li><%= link_to 'Log out', logout_path %></li>
		</ul>
  <% else -%>
	  <ul class="logged_out">
			<li><%= link_to 'Login', logging_in %></li>
		</ul>
	<% end -%>
	<div class="clear"></div>
</section><!-- .profile -->